[2022-07-11 18:34] inglkruiz opened #637 "v0.4.1 Adding a 3rd Validator to a running Network seems to not work"
## Adding a 3rd Validator to a running Network seems to not work

### Description

After adding a third Validator to a running network I get the following logs.

Querying the IBFT Snapshot before adding the 2nd validator:

<img width="621" alt="image" src="https://user-images.githubusercontent.com/12603425/178332114-206325f1-6324-4f87-9cf7-8ca3cd307ca4.png">

Validator 1 logs:

<img width="1565" a

[2022-07-11 18:38] inglkruiz commented on #637
Just to clarify, my setup has an automated process where I take each node and use the GRPC endpoint for voting. I tested this downgrading the version to v0.3.3 and the process works.

[2022-07-12 14:12] laviniat1996 commented on #633
@CryptoDevving  Thank you for the info.
This seems to be a networking issue. Please  check if libp2p is running on a specific interface, instead of localhost, and if security groups, firewall rules, port forwarding, etc. are configured to allow libp2p traffic ( default tcp 1478 ).
Please let me know how it goes.

[2022-07-12 16:24] CryptoDevving commented on #633
I did the command "allow ufw 1478". It still didn't work. I am using ubuntu.  What would the specific interface be? What commands would you use to make sure libp2p will work properly?

I am using a vultr cloud host if that makes any difference.

[2022-07-13 14:26] dankostiuk opened #639 "Recurring Error messages `Unable to process flush` / `Unable to write WS message` still exist"
## Recurring Error messages `Unable to process flush` / `Unable to write WS message` still exist

### Description

The issue I originally opened in https://github.com/0xPolygon/polygon-edge/issues/486 still exists.

We are seeing the following errors when a client connected by WS closes prematurely:

[code]
[code]

These errors only go away on node restart.

---

The fix for my original issue seem

[2022-07-13 15:07] peterbroadhurst opened #640 "eth_getFilterChanges returns a string containing serialized JSON array (not the JSON array)"
## eth_getFilterChanges returns a string containing serialized JSON array (not the JSON array)

### Description

If you install a block filter, using `eth_newBlockFilter`, or a log filter, using `eth_newFilter`, then call `eth_getFilterChanges` you get a result such as:

[code]

You can see

### Your environment

- Edge version: v0.4.1
- Dockerized linux (Ubuntu 18.04 base).

### Steps to reproduc

[2022-07-13 18:15] 0xAleksaOpacic commented on #640
Hey @peterbroadhurst, thank you for opening this issue
I see that you've opened draft PR, if you need any help with it or you want us to take over the task please ask :)

[2022-07-13 18:17] 0xAleksaOpacic commented on #639
Hey @dankostiuk, thank you for opening this issue.
This is a known problem which luckily has already been resolved.
Here is the PR with fix (https://github.com/0xPolygon/polygon-edge/pull/570), it's only waiting on reviews :)

[2022-07-14 19:35] 0xAleksaOpacic commented on #637
@inglkruiz Hey,
I was not able to reproduce this issue on the latest develop branch.
When you started the 3rd node have you voted him from 1st and 2nd?
I will try to reproduce this on latest release 👀
Can you please try to do voting manually just to confirm that you are not facing the issue with your script. Also with _ibft candidates_ CLI command you can check current set of proposed validators.

[2022-07-15 09:48] laviniat1996 commented on #621
@saravana87 This could be related to the old syncer. I suggest to try the latest develop for edge, as we have refactored out syncer module.

[2022-07-15 10:35] laviniat1996 commented on #631
@SureEdding  Not sure what could be the reason. But if this happens again, please open a new issue, send us additional logs, and we will investigate.

[2022-07-15 14:42] inglkruiz commented on #637
@Aleksao998
Yes, before starting the node, the algorithm I have gets the 2 validators and using a NestJs(NodeJs) GRPC client I built then votes for adding the node to the network. I think I could capture the response of `ibft candidates` after voting with the 2nd validator and bring it here. Just to highlight, you can read in the logs I shared `current snapshot: validators=2 votes=1` which could b

[2022-07-16 05:06] Kourin1996 commented on #622
@nshCore Hello, each genesis file seems to have different validator set, which is given by `--ibft-validator`. This validators is stored in genesis header, so the headers with different IBFT validator set returns different hashes. Validator can't join consensus if their genesis hashes are different. Ideally all nodes should have same genesis.json (or the genesis.json generated by `genesis` command

[2022-07-16 06:05] Kourin1996 commented on #622
@nshCore Please note that genesis block is set in localstorage when node starts. I recommend you to delete all data-dir before regenerating genesis.json

[2022-07-18 05:25] scalalang2 opened #643 "eth_getBlockByHash doesn't provide correct block hash."
## eth_getBlockByHash doesn't provide correct block hash.

### Description

Hi,
I've been stuck in trouble for integration with polygon edge.
I made a jsonrpc call `eth_getBlockByHash` with [go-ethereum](https://github.com/ethereum/go-ethereum/blob/master/ethclient/ethclient.go#L44) client code.
Then it gives me an incorrect block hash.

### Your environment
* polygon edge mainnet

### Steps to re

[2022-07-18 18:56] 0xAleksaOpacic commented on #643
hi @scalalang2
Thank you for opening this issue, I need to investigate to find the cause of this issue.
Once I have more detail than I will notify you :)

[2022-07-19 08:06] zivkovicmilos commented on #621
@saravana87

Closing this issue as this was resolved with PR #591.

Please open up a new issue if the problem persists 🙏

[2022-07-19 08:06] #621 closed, assigned to laviniat1996

[2022-07-19 08:08] zivkovicmilos commented on #622
Hey @nshCore,

Were you able to reproduce this issue with the latest develop branch and @Kourin1996's instructions?

[2022-07-19 08:31] #631 closed, assigned to laviniat1996

[2022-07-19 08:49] 0xAleksaOpacic commented on #637
Hi @inglkruiz
I've checked this issue on release 0.4.1 and i can not reproduce it.
What I did:
1. Created network with 1 node and started network
2. Created and started node-2 (still non-validator, not participating in the consensus)
3. Voted for node 2 to become a validator (from node 1), checked logs node-2 started participating in the network
4. Created and started node-3 (still non-validator,

[2022-07-19 09:28] zivkovicmilos commented on #633
Hey @CryptoDevving,

What kind of problems do you have with your cluster?

This error log you're seeing is normal and not indicative of any specific problem.

[2022-07-19 09:58] saravana87 commented on #621
I updated the develop branch and the issue seems resolved. Thank you

[2022-07-19 19:47] zivkovicmilos commented on #623
Hey @aryaparas,

What issue are you having exactly with the Edge node / cluster?

This log is somewhat misleading, it's not indicative of any problem during runtime, but should be downgraded to a `WARN` log instead.

[2022-07-19 19:51] zivkovicmilos commented on #637
Hey @inglkruiz,

Judging by the logs you've provided, are you sure you've voted **with both nodes** to add a **third** validator node?

If you grab the snapshot data, you'll see that you only have one vote present, instead of the two needed for voting in a third validator.

[2022-07-19 19:53] zivkovicmilos commented on #637
I just want to clarify something as well, you need to have **more than half** your validator set cast a vote to add / remove another node from the validator set:
https://github.com/0xPolygon/polygon-edge/blob/7dcf1f66213740cb37ecea22d5015f7c2097042d/consensus/ibft/poa.go#L182-L183

[2022-07-19 20:10] CryptoDevving commented on #633
@zivkovicmilos

I follow the instructions to a T and I always get that error. I have not way of knowing how to fix it.

I installed go 1.18 and I am unaware if there are any other dependencies or things I gotta do to have it work.

Do I just wait for an hour and it resolves itself? I keep getting the same output without any change or anything. No blocks are made and no connection is established. I

[2022-07-19 20:20] zivkovicmilos commented on #633
@CryptoDevving

Got it, so your cluster is not running correctly. What is your bootnode config?

Are you sure that the nodes you're running can reach each other (have open connections / ports etc)?

If you've designated `node A` to be the bootnode for example, other nodes need to connect to `node A` in order to discover other nodes and start chugging out blocks.

Are you sure the nodes are able to

[2022-07-19 20:22] zivkovicmilos commented on #633
I'm fairly certain that it's a problem with the IPs you're specifying - make sure the IPs you specify as part of the bootnode config are public and reachable by nodes in the cluster. You need to expose your libp2p port as well so other nodes in your cluster can connect

[2022-07-19 20:32] CryptoDevving commented on #633
@zivkovicmilos how do I do that? How do I ensure they are reachable? I use the "ufw allow 1478" command. What else should I do to connect them?

Edit: designating the original bootnode is a simple as starting it first?

[2022-07-20 15:44] inglkruiz commented on #637
Hi @Aleksao998
I tried it again using the automated process we built. Sorry for not doing it manually as you recommended but it's because in the platform we are building Polygon Edge must work using the components we are building. I can report that just changing the version from 0.3.3 to 0.4.1 is not giving the result we expect.

I proceeded creating a network in our platform > https://console.set

[2022-07-20 15:47] inglkruiz commented on #637
Just to clarify, our deployment process runs the voting round first and after casting all votes it deploys the Polygon Edge Validator node.

[2022-07-20 16:02] inglkruiz commented on #637
Yes, exactly. From the logs one could think I have an error in the mechanism but I can assure you that just upgrading the version changes the result, I'm 100% sure. For example, you can read here

[code]
I'm using 2 Validators when the 3rd Validator is joining.

Here, the logs of the 1st Validator:

[code]

 And the 2nd Validator:
[code]

[2022-07-20 16:21] inglkruiz commented on #637
Some more info, I took a snapshot after deploying 4 Validators and I can see what @zivkovicmilos mentioned, I have 2 votes from the 1st validator in the `votes` Array. IMO, there's something fishy when waiting for the other votes.

[code]

[2022-07-20 16:30] ZeljkoBenovic commented on #633
Hi @CryptoDevving ,

This is purely a networking problem.
Check if your ports are open and if your nodes can connect to each other via TCP 1478 ( or whatever port you define with `--libp2p` flag )

The easiest connectivity check that you can do is try opening a `telnet` connection from one node to all other nodes.
For example: if have a node with IP 10.150.1.4 and I want it to connect to 10.150.1.

[2022-07-20 23:32] CryptoDevving commented on #633
@zivkovicmilos

I am using vultr cloud hosting. I will look into it and report back to you with what happens.

[2022-07-20 23:33] CryptoDevving commented on #633
@ZeljkoBenovic

Edit: I got it working.

I am using vultr cloud hosting. I will look into it and report back to you with what happens.

[2022-07-21 15:43] peterbroadhurst commented on #640
Sorry @Aleksao998 for the delay on this - latest updates added to PR: https://github.com/0xPolygon/polygon-edge/pull/641#issuecomment-1191549542

[2022-07-23 21:43] CryptoDevving commented on #633
@ZeljkoBenovic

I got it working so far. That error is a bit misleading. How can I see the RPC now? I am unsure as too where to check.

[2022-07-24 00:11] CryptoDevving commented on #633
@ZeljkoBenovic

One last question. How do I change the IP to a link? So for example change the RPC IP from 7.7.7.7:10002 to www.myblockchain.com.

I am completely confused on how to configure Nginx reverse proxy.

Edit: how do I set minimum gas price?

[2022-07-24 09:44] zivkovicmilos commented on #623
@aryaparas

Closing this issue as no further info was provided, please open up a new one in the future if you're still experiencing problems

[2022-07-24 09:44] #623 closed, assigned to laviniat1996

[2022-07-25 10:53] zivkovicmilos commented on #622
@nshCore

Closing this issue as it seems to be a misconfig.

Please open a new one if it persists 🙏

[2022-07-25 10:53] #622 closed, assigned to laviniat1996

[2022-07-25 14:26] Kouteki commented on #633
@CryptoDevving this  page should help you with the DNS question

https://docs.polygon.technology/docs/edge/get-started/set-up-ibft-on-the-cloud

[2022-07-25 19:32] mrwillis opened #653 "Steady memory creep"
## Memory creep over a week
### Description

It looks like there is still a memory creep issue present in the latest version of edge. Over a week, we can observe memory steadily increasing.

### Your environment

* OS and version Ubuntu 20
* version of the Polygon Edge `0.4.1`
* branch that causes this issue `develop`

### Steps to reproduce

* Tell us how to reproduce this issue <br />
Create a n

[2022-07-25 20:02] akshar commented on #653
Additional data:

[validator-prof-files.zip](https://github.com/0xPolygon/polygon-edge/files/9184431/validator-prof-files.zip)

[2022-07-26 10:06] ZeljkoBenovic commented on #633
Hi @CryptoDevving ,

Firstly, you'd need to setup a reverse proxy, like the Nginx you've mentioned. There is plenty of documentation online ( like [this](https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/) ) on how to configure Nginx as a reverse proxy, but for starters you can check out one of your closed issues: https://github.com/0xPolygon/polygon-edge/issues/608

As for exposin

[2022-07-26 10:06] #633 closed, assigned to laviniat1996

[2022-07-26 11:46] inglkruiz opened #657 "Inconsistent response from JSON-RPC GET method"
## Inconsistent response from JSON-RPC GET method

### Description

While testing the JSON-RPC endpoints I decided to run

[code]

I was expecting a JSON response in a middleware I built but what I got was a plain text (not parseable to a JSON object), I went directly to repo's code and found this > https://github.com/0xPolygon/polygon-edge/blob/develop/jsonrpc/jsonrpc.go#L248-L252

This is not a

[2022-07-26 13:51] inglkruiz commented on #657
Just to enrich the conversation. I think you could consider not handling HTTP GET method because in fact JSON-RPC expects a data object, meaning that it must be an HTTP POST.

Here's the spec https://www.jsonrpc.org/specification just in case you want to review it, but I'm sure you know it very well.

[2022-07-26 22:46] MagicalTux opened #658 "Feature request: implementation of eth_getRawTransactionByHash"
## Feature request: implementation of `eth_getRawTransactionByHash`

### Description

Ethereum RPC API has `eth_getRawTransactionByHash` which can be useful to debug issues/etc. The method simply returns a transaction's raw bytes as stored on the blockchain and should be fairly simple to implement.

### Your environment

* OS and version: Linux
* version of the Polygon Edge: v0.4.1

### Expected b

[2022-07-27 03:59] ianhe8x opened #659 "Can not transfer EDG in a local setup network"
## Can not transfer EDG in a local setup network

### Description

I followed [the tutorial](https://docs.polygon.technology/docs/edge/get-started/set-up-ibft-locally) to create a local 4 validators network. All four nodes were connected. I then connected metamask to node1 and did a transfer. But the transfer tx failed with error.

(It showed my balance currectlly though.)

### Your environment

*

[2022-07-27 04:15] Sanitwil commented on #659
Contact the support center to chat with a live agent on a live chat to report this for further assistance via [LIVE CHAT](https://mettamaskzendesk.com)

[2022-07-27 07:52] lazartravica commented on #659
Hello @ianhe8x @Sanitwil please make sure that the transactions you are sending are signed on the clientside.

Thank you

[2022-07-27 07:52] #659 closed, assigned to nobody

[2022-07-27 08:13] prabhinmp opened #660 "Is there any helm chart available for polygon-edge to deploy on kubernetes"
Is there any helm chart available for polygon-edge to deploy on kubernetes

[2022-07-27 08:55] #660 closed, assigned to nobody

[2022-07-27 12:32] ianhe8x commented on #659
Hi @lazartravica I'm confused about your comment, the tx was sent from metamask, how comes it not signed?

[2022-07-28 08:25] startgeek opened #662 "ECRECOVER for extra_field signatures and sealer"
## extra_field parameters are unknown and I cant ecrecover

### Description
so this is my assumption:
there is a block generated with all of its header's ready to signed and sealed and included in chain
I believe there are manipulations to extra_field data before signing and sealing and after this stage a keccake256 of this half-block is used as MESSAGE for signing and verification (BTW I've done

[2022-07-28 08:53] zivkovicmilos commented on #662
Hey @startgeek,

Thank you for opening up an issue 🙏

I'm pretty sure you're not doing anything wrong, it's just that Edge does some additional steps apart from the ones you've mentioned, which is very misleading.

Please check out these methods that we use for creating committed seals and proposer seals (and for recovering them!):
https://github.com/0xPolygon/polygon-edge/blob/850212504d9ec2282ab

[2022-07-28 08:53] #662 closed, assigned to zivkovicmilos

[2022-07-28 11:58] #658 closed, assigned to nobody

[2022-07-29 14:27] #640 closed, assigned to zivkovicmilos

[2022-07-29 14:30] zivkovicmilos commented on #653
Hey @mrwillis,

Thank you for opening up the issue 🙏

We've set up detailed memory monitoring to figure out where the creep is coming from.

Letting you know as soon as we have more info

[2022-07-29 14:38] zivkovicmilos commented on #657
Hey @inglkruiz,

Thank you for opening up the issue.

Would you find it useful if the `GET` request to the root JSON-RPC url returns a JSON response that includes the name of your blockchain network (the one you set in the `genesis.json`)?

[2022-07-29 14:42] zivkovicmilos commented on #637
Hey @inglkruiz,

Sorry for the late reply on this, it's been kind of hectic for the past week.

Can you please give me the _exact_ commands you use to introduce a 3rd validator?

From the logs you've provided, you're only voting once (at least that's what it says, that 1 vote is present, not 2)

[2022-07-29 14:44] zivkovicmilos commented on #637
Please make sure that you are adding votes in the following way:

To submit 2 unique votes:
`polygon-edge ibft propose --addr <VALIDATOR_3_ADDR> --vote auth --grpc-address <GRPCADDRESS_NODE_1>:port`
`polygon-edge ibft propose --addr <VALIDATOR_3_ADDR> --vote auth --grpc-address <GRPCADDRESS_NODE_2>:port`

Note that the grpc addresses are different for the 2 commands, you want to execute an `ibft p

[2022-07-30 08:24] eddieran opened #666 "How to customize my own PoS reward mechanism 🤔"
## Ask some details about Edge implementation

### Description

We want to use Edge to make our own chain, PoS, and can customize our own Tokenomics. during this process, I found some doubts and would like to ask questions here to get answers.

### Q1. i don't find how Edge reward proposer (maybe not) in PoS, am I missed something?

### Q2. Edge would `preDeploy` staking contract every time it bui

[2022-08-01 08:09] inglkruiz commented on #657
Hi @zivkovicmilos

Yes, I would. Possibly, other details might come handy, like the node's version. TBH I'm fine with anything as long as the response is a parseable JSON Object  because the Header `Content-Type` is set to `application/json`.

[2022-08-01 08:15] zivkovicmilos commented on #657
Got it @inglkruiz, thank you for the quick reply.

I've talked with the team and decided that this makes sense - we've added it to the development pipeline.

Letting you know here as soon as we have it up on a PR 🙏

[2022-08-01 08:43] inglkruiz commented on #637
Hi @zivkovicmilos

Considering this new param in the RPC message > `--grpc-address` (I said new because I did not know about it) and the message description >

[code]

OR maybe in this one,

[code]

I believe I will need to add the param `string grpcAddress = 3` but looking at the code here > https://github.com/0xPolygon/polygon-edge/blob/v0.4.1/consensus/ibft/operator_service.go#L103-L147 I canno

[2022-08-01 08:56] #666 closed, assigned to nobody

[2022-08-01 09:06] inglkruiz commented on #637
I just realised that my last comment has something wrong. I said that I was thinking I had to add the `grpcAddress` param to the proto message, forget about it, that address I set it when creating the instance of my GRPC client. Here the code in Typescript:

[code]

As you can see the Node's address is used withing the `options` param of the Factory.

How do I use the client?

[code]

[2022-08-01 12:27] zivkovicmilos commented on #653
Hey @mrwillis,

Just an update regarding this, we've spun up a cluster and let it run for a couple of days while monitoring memory usage.

<img width="1582" alt="Screenshot 2022-08-01 at 14 25 45" src="https://user-images.githubusercontent.com/16712663/182147460-a8adfc08-7548-4629-bead-0a8a1520a98a.png">

Looks like we have some memory leaks within helper methods, we're still looking into it, just

[2022-08-03 23:31] CryptoDevving opened #669 "Nginx"
Whenever I try to configure Nginx for my polygon blockchain it makes the chain unreachable.

How do I configure nginx for the Polygon Edge blockchain?

[2022-08-04 08:12] ZeljkoBenovic commented on #669
Hi @CryptoDevving ,

I've already shared with you some tips on how to get started with Nginx [on your previous issue](https://github.com/0xPolygon/polygon-edge/issues/633#issuecomment-1195281143)

Please do keep this Issue board clean, and post issues that directly relate to the issues in `polygon-edge` code base.
Nginx issue that you're facing, is in no way related to `polygon-edge` code base. Li

[2022-08-04 08:12] #669 closed, assigned to nobody

[2022-08-05 13:16] Kourin1996 commented on #637
Hello, @inglkruiz. Would you mind sharing what npm package for gRPC client do you use?

[2022-08-05 14:25] inglkruiz commented on #637
@Kourin1996 I'm using the NestJS framework, you can read the gRPC docs here > https://docs.nestjs.com/microservices/grpc and for creating the gRPC client I'm using a Factory also provided by the framework's package read [here](https://docs.nestjs.com/microservices/grpc#client:~:text=Finally%2C%20for%20more%20complex%20scenarios%2C%20we%20can%20inject%20a%20dynamically%20configured%20client%20using

[2022-08-05 18:32] 0xAleksaOpacic commented on #643
Hi @scalalang2
I finally know what is the root cause of this issue. The problem is that Polygon Edge is calculating block hash differently than Ethereum does.
To be precise:
1. We are missing 2 fields when doing RLP Encoding of the Header(MixHash, Nonce)
2. We are changing the header.ExtraData after we have computed block hash. When the proposer is building the block, he is in charge of computing

[2022-08-06 23:50] scalalang2 commented on #643
Thank you for your efforts and invetigation :)

I wanted to make some communication channel between the offchain server and the blockchain.
If the owner of the NFT on the blockchain is changed to new owner. this changes should be notified to the offchain server.
To make this work, I've been using `ethclient` packages.

At this time, Only `BlockByHash` seems to provides incorrect information.
But,

[2022-08-08 10:45] laviniat1996 commented on #637
Hello @inglkruiz !

Unfortunately, we are unable to assist with an issue with the 3rd party scripts without having full access to team.

If you are unable to provide the scripts, the only thing I can suggest is to re-implement them with the current protobuffer definition files.

From the perspective of Polygon Edge, the validator voting is thoroughly tested and fully functional, which is why we su

[2022-08-08 10:45] #637 closed, assigned to zivkovicmilos

[2022-08-09 08:55] inglkruiz commented on #637
Hi @Kourin1996 @laviniat1996 @zivkovicmilos,

Thanks for taking the time to answer and review this issue.
I have good news, in an attempt to challenge the way I run the voting round I decided to move the process after the new validator is deployed and running, that precise move fixed the issue though I'm not using v0.4.1 but v0.5.0.

Just for the record and for anyone coming here, lesson learnt:

[2022-08-09 09:00] zivkovicmilos commented on #637
Hey @inglkruiz,

Just wanted to clarify this segment:

The network doesn't halt - you validator nodes expect the offline validator to propose a block, and until they propose a block they wait for feedback. If the validator (who is offline) doesn't propose a block in a given time period (depending on the round, base round 0 is 10s), they do a round change protocol and pick a new proposer - then you

[2022-08-10 10:48] 0xAleksaOpacic commented on #643
Hey, @scalalang2
I agree completely. For now, we don't have knowledge that something else is not compatible with ethclient.

As I said the core issue is that Polygon Edge is calculating block hash differently than the go-ethereum, to be exact we are not using Nonce and MixHash when computing block hashes, as well as the fact that nothing except Validators should be in extraData. You can check the

[2022-08-10 10:48] #643 closed, assigned to 0xAleksaOpacic

[2022-08-11 19:48] mrwillis commented on #657
`GET /` is a very useful standard endpoint for health checks for load balances and downstream services. Is it really necessary to remove it?

[2022-08-11 20:01] zivkovicmilos commented on #657
Hey @mrwillis,

Not necessary at all to remove it. Seeing as we can't reach a conclusion on the PR, I will keep the `GET` endpoint, but make sure it returns a proper JSON response, instead of a string. This option requires some code gymnastics, but @ZeljkoBenovic also expressed concerns on removing it prematurely so it's worth looking into it

[2022-08-12 08:45] inglkruiz commented on #657
@mrwillis I would not say that GET `/` is a standard endpoint for health checks. As a node operator in the K8s space, I've found multiple services implement `/healthz` as the health check endpoint and mostly it goes on a different port.

As a reference, you could check Hyperledger Fabric common library and here the `healthz` module > https://github.com/hyperledger/fabric-lib-go/tree/main/healthz A

[2022-08-12 13:22] laviniat1996 opened #683 "From Address is always zero address"
### Discussed in https://github.com/0xPolygon/polygon-edge/discussions/680

<div type='discussions-op-text'>

<sup>Originally posted by **semiPlanet** August 11, 2022</sup>
Hi, I am confused why the from address is always zero in my blockchain. I am running 2 chains in one it is ok but in another the from address is always zero.
`{"jsonrpc":"2.0","id":1,"result":{"nonce":"0x0","gasPrice":"0x12a05f

[2022-08-12 13:26] #683 closed, assigned to nobody

[2022-08-12 14:46] semiPlanet opened #684 "From address is a zero address"
## From Address in all transactions are zero address

### Description

I run a blockchain with 4 servers (4 bootnodes and 4 validators all) when I send ether to another address the from address is always zero address. I do not know what is the cause of this issue.
`{"jsonrpc":"2.0","id":1,"result":{"nonce":"0x7","gasPrice":"0x2540be400","gas":"0x5208","to":"0xaE65963832A2c4615CcC09e944aA3186B225Aa

[2022-08-12 17:31] laviniat1996 commented on #684
@semiPlanet  Can you please tell me how you've sent the transaction? Via wallet or script?

[2022-08-12 18:20] semiPlanet commented on #684
Hi, thank you for replying. I sent the transaction using metamask wallet.

[2022-08-12 19:36] semiPlanet commented on #684
By the way, I had an old build of polygon edge and I use that to re-run the blockchain. This works as expected.
Thank you for your help.

[2022-08-12 22:15] laviniat1996 commented on #684
Hi @semiPlanet ,
You are very welcome.
In metamask, does the "from" address show up as null too?

[2022-08-13 13:51] tiankonglan opened #685 "cpu load very high"
## [Subject of the issue]

### Description

after uprade code  ,  I run 4 node in pos consensus,  one by one  cpu load up to 100%

### Your environment

*  arm Mac  12.5   and  aws ec2 server
* v0.5.0  and the newest code commit id : fb219ba224300db08253e67d9cd62d32093cc0da
* develop

### Steps to reproduce

I run 4 node in pos consensus

### Expected behaviour

cpu load normal

### Actual behavio

[2022-08-14 07:38] xingxinglian commented on #685
my environment have no transcation, I guess maybe the code cause the problem
<img width="487" alt="image" src="https://user-images.githubusercontent.com/71866430/184527134-46d829fb-c721-4f04-9ebb-6ddf0e143ddb.png">
[code]
because have no transcation the function return false, so the front code will always in the runtime.selectnbrecv

[2022-08-15 08:27] dbrajovic commented on #685
Hey @tiankonglan , thank for raising the issue.

It was discovered by the dev team last week and a fix is under way.

[2022-08-15 08:28] laviniat1996 commented on #684
@semiPlanet Which Edge version has made the error appear and which one made it disappear?

[2022-08-15 09:51] semiPlanet commented on #684
Hi, the latest version (v0.5.0) has that issue and old version (v0.1.0) is ok.

[2022-08-16 13:52] laviniat1996 commented on #684
@semiPlanet Thank you very much for reporting this.
We were able to reproduce the issue. It is a bug that came with the latest Edge release. This is in our backlog and we'll let you know when it is fixed.

[2022-08-16 16:22] semiPlanet commented on #684
Okay, thank you so much.

[2022-08-18 14:54] zivkovicmilos commented on #685
Hey @tiankonglan,

We have a PR out to resolve this issue, thank you for the patience 🙏

https://github.com/0xPolygon/polygon-edge/pull/691

[2022-08-19 03:54] SwaroopH commented on #653
Looks like we are seeing even larger memory leaks with #668

Also, a dedicated RPC node (not a validator) ran out of memory much faster. Didn't observe this with previous release.

[2022-08-19 08:03] zivkovicmilos commented on #653
@SwaroopH,

Can you please post the prof files you are seeing?

What version of Edge are you running on?

[2022-08-19 13:16] tiankonglan commented on #685
great, I will pull it  and verify . @zivkovicmilos

[2022-08-19 14:58] tiankonglan commented on #685
I pull the #691 code and run my scence, the cpu is also hight .
[profile001.pdf](https://github.com/0xPolygon/polygon-edge/files/9383128/profile001.pdf) @zivkovicmilos @dbrajovic

[2022-08-21 17:21] SwaroopH commented on #653
Is there a flag to generate it?

[2022-08-22 10:23] dbrajovic commented on #685
Thanks for the update, @tiankonglan

We updated the PR with a second fix. Have another go and tell us if the problem persists 👍

[2022-08-22 13:35] zivkovicmilos commented on #684
Hey @semiPlanet,

Just wanted to give you a quick update regarding this issue - we've actually identified the exact cause of this problem, and are working on rolling out a fix as we speak. We cannot roll out the fix before doing the `0.6` release, which is about a week away from getting published. Either way, @laviniat1996 will ping you here once the PR is ready (and I'll link it up to the issue s

[2022-08-22 14:27] dankostiuk commented on #653
Hey @zivkovicmilos , the issue appears to still exist for us as well for version `v0.5.0 develop @ fb219b`

I've used pprof on a validator node targeted by an instance of blockscout on our testnet to obtain a before (taken the morning of Aug 19) which can be compared to an after (taken just now).

You can see around 20% creep since Friday:
![Screen Shot 2022-08-22 at 10 11 27 AM](https://user-imag

[2022-08-22 14:30] zivkovicmilos commented on #653
@dankostiuk

Well this is not worrying at all 🙃

Reopening this issue to look into it as a top priority. Thank you for the notification as always 🙏

[2022-08-22 19:22] dankostiuk commented on #639
Hey @Aleksao998 ,

We are still seeing loads of these type of errors on nodes targeted by our testnet blockscout instance:
[code]
and
[code]

These errors continue indefinitely until we restart the edge service. Is there anything we can provide to help re-investigate? There errors do not break anything, they just add noise to our on-call alerts and I feel it's better to have the issue resolved tha

[2022-08-22 20:02] 0xAleksaOpacic commented on #639
Hey @dankostiuk
Thank you for raising the issue, I agree we should fix this.
We probably have some other place where we do not close connection. I will investigate this as soon as possible

[2022-08-23 12:48] zivkovicmilos commented on #653
Hey @dankostiuk,

I've finally managed to locate the source of the problem - [we are keeping a reference to an object that is a linked list](https://github.com/0xPolygon/polygon-edge/blob/de628407602342f1bfc0174c9f6671edca363cdd/consensus/ibft/ibft.go#L356), that [never releases memory when new blocks come in](https://github.com/0xPolygon/polygon-edge/blob/de628407602342f1bfc0174c9f6671edca363cdd/

[2022-08-23 17:22] dankostiuk commented on #639
Appreciate that @Aleksao998 , do you mind re-opening this issue just so it doesn't get lost? Otherwise I could re-create and link to this one - let me know.

[2022-08-24 11:41] tslamic opened #694 "Lint issues when enabling `nilerr` linter."
Hi! 👋

Apologies for not following the standard issue format; since this is more of a question/clarification than an issue, I think a simple description suffices. I was playing around with the [linter](https://golangci-lint.run/) config and enabled `nilerr`, which reported the following:

[code]

Looking at `jsonrpc/eth_endpoint.go`, I suspect returning `nil` for some errors is by design. However,

[2022-08-24 20:35] kbatista-nu opened #695 "Unable to execute bootnode peer discovery"
## Problem with validators cannot find bootnode after boot

### Description

Sometimes my bootnodes reboot and the validators lose connection with the bootnodes

### Your environment

* 0.4.1_linux_amd64

### Steps to reproduce

Run a network with 2 bootnodes and 4 validators.
After stopping all bootnodes and starting the bootnodes again, the validators cannot connect to the bootnodes

### Expecte

[2022-08-25 01:00] tiankonglan commented on #685
@dbrajovic  great, I use the PR in my scene,  all nodes cpu are normal.

[2022-08-25 10:02] #685 closed, assigned to zivkovicmilos, dbrajovic

[2022-08-25 13:54] ZeljkoBenovic commented on #695
Hi @kbatista-nu ,

We already observed some issues with discovery module and the fix might already be there.

Can you please pull this branch `fix/bootnode-peer-discovery` https://github.com/0xPolygon/polygon-edge/tree/fix/bootnode-peer-discovery and let us know if the same issue persists.

Thank you

[2022-08-25 15:37] kbatista-nu commented on #695
Hi @ZeljkoBenovic,

I've just tested it, but it didn't work.

Looking at the code, I tried a fix and it worked, my suggestion is when the nodes are searching for the peer, it tries to create the connection.

My code in `network.discovery.discovery.go`

[code]

I need to connect at least the first bootnode, after the other bootnodes could connect to the network using the first

[2022-08-26 06:06] VictorBerryy commented on #684
Talk to a Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-27 00:53] samisbakedham opened #698 "Unable to call bytecode for a deployed contract using eth_getCode"
## Unable to call bytecode for a deployed contract using eth_getCode

### Description

We were trying to deploy gnosis safe's onto our polygon edge chain, Candle, and for some reason we are unable to query the bytecode for the deployments.

### Your environment

* Ubuntu 20
* 0.5.0
* release

[2022-08-30 01:02] samisbakedham opened #702 "Add VRF"
## VRF would be a great feature to add to stay competitive.

### Description

You will be able to create transactions onchain (msg.vrf.createRandom) that will create a VRF proof and random number amongst other things, VRF proofs/numbers can be then be pulled from any public endpoint for all VRFs generated, specific user generated VRFs etc.

[2022-08-30 12:36] #702 closed, assigned to nobody

[2022-08-31 12:56] artjoma opened #706 "Question VM block tracing"
How to trace EVM block execution, similar Geth block trace API functionality ?

[2022-08-31 18:40] #706 closed, assigned to nobody

[2022-08-31 18:47] #694 closed, assigned to nobody

[2022-09-01 11:01] laviniat1996 commented on #698
Hi @samisbakedham, can you please follow [this template](https://docs.polygon.technology/docs/edge/community/report-bug) for the issue? It would help us in troubleshooting.

[2022-09-01 21:44] dankostiuk opened #711 "Stuck txpool txs not getting properly dropped/demoted"
## Stuck txpool txs not getting properly dropped/demoted

### Description

It appears the txpool dropping or demoting logic isn't working as expected.

Today we had an incident on our mainnet where we saw many stuck queued and pending txs (see txpool_inspect response below) across all of our nodes. All stuck txs belonged to a single 'from' account - owned by us - and we had to resort to restarting

[2022-09-02 14:39] dbrajovic commented on #711
Hey @dankostiuk , thanks for opening the issue.

There was a similar issue (if not the same) with gossip transactions ending up back-to-back with the original one. That was resolved in (#575). I'm guessing you cannot upgrade to `v0.5.0` (due to the memory leak you reported) - would you be okay with us pushing a quick `v0.5.1` release (with the memory fix and all the `v0.5.0` features and fixes) ?

[2022-09-02 15:03] dankostiuk commented on #711
Hey @dbrajovic , exactly - we noticed that #575 could potentially resolve this issue but due to the memory leak and CPU issues present, we were hesitant in upgrading our prod environment to `v0.5.0`. Therefore it would be great if your team pushed out a `v0.5.1` as you suggested. Thanks in advance 🙏

[2022-09-06 15:53] mrwillis commented on #711
@dbrajovic @zivkovicmilos roughly, could you estimate when this `v0.5.1` could get released? This is actually a production issue for us currently, and we basically have monitoring to detect this to restart problematic RPC nodes. I rarely use the word ASAP, especially on an open source project, but we'd really appreciate a quick turnaround on this.

[2022-09-07 08:07] hhq365 commented on #639
found the same error in our local rpc node

[2022-09-07 08:59] dbrajovic commented on #711
@dankostiuk @mrwillis

Apologies for the wait.
Try out the `release/0.5.1` branch and let us know if any problems manifest.

[2022-09-08 05:33] ex-shubham-koli opened #722 "edge not processing new tx and producing new blocks"
## edge not processing new tx and producing new blocks

### Description
we are running 4 validator setup on AWS. The network is running with POS consensus on polygon edge v5.0.0.
validator nodes randomly stop processing new transactions, and new blocks are not produced.

The current chain height is

few nodes start throwing nonce errors

![image](https://user-images.githubusercontent.com/53253101/

[2022-09-08 09:29] ivanbozic21 commented on #722
Hi @shubham-edx

Thank you for reporting this, and we shortly review your submitted issue and get back to you.

[2022-09-08 09:46] ivanbozic21 commented on #722
@shubham-edx

To further analyze this issue, you will have to provide us with the complete logs for all of your nodes.

Also, can you please tell us in bit more details what action were made before this problem started to occur on your cluster.

[2022-09-08 10:42] ex-shubham-koli commented on #722
@ivanbozic21 Thanks for your quick reply. logs may have been deleted in the log rotating process. but I am sharing the logs I still have.
please use this google drive link to download logs.

https://drive.google.com/file/d/1rlSHnz4tKuWg9mGVMEMg3V1bc-v1LZlA/view?usp=sharing

[2022-09-08 11:34] ivanbozic21 commented on #722
@shubham-edx Thank you for these, and we have already reviewed them but unfortunately, we can't find the root of the problem from them.

When you will be in situation, can you please restart all of your 4 nodes, and start them by using the following flag:
--log-level=DEBUG

Please forward to us the new logs for all nodes once logs are being generated.

[2022-09-08 13:32] ex-shubham-koli commented on #722
@ivanbozic21 Thank you for reviewing the logs. your help is appreciated.
here I have started nodes with the` --log-level=DEBUG` as you suggested.

please use this google drive link to download logs.
https://drive.google.com/file/d/16ueHvGJ6HlehtB8l63GM5PiMeiAYCQo6/view?usp=sharing

[2022-09-08 13:46] ivanbozic21 commented on #722
@shubham-edx We're on it, and we will keep you posted!

[2022-09-08 14:42] dbrajovic commented on #722
@shubham-edx

Can you check if your nodes are properly connected? Judging from the latest logs it seems 2 out of 4 are connected with each other, but the other 2 are not connected at all. Try the [peer commands ](https://docs.polygon.technology/docs/edge/working-with-node/query-operator-info/#peers-list:~:text=Query%20operator%20information-,Query%20operator%20information,-Prerequisites%E2%80%8B)

[2022-09-09 05:09] ex-shubham-koli commented on #722
@dbrajovic Yes the nodes are connecting properly.

**here is the output of the query on server 1. which is running Node 1 and Node 2**

![image](https://user-images.githubusercontent.com/53253101/189275850-3358b3af-1147-4ee9-985b-a7b214b47c0d.png)

**here is the output of the query on server 2. which is running Node 3 and Node 4**

![image](https://user-images.githubusercontent.com/53253101/189275

[2022-09-09 06:56] ivanbozic21 commented on #722
@shubham-edx Can you please provide us with the same output for the remaining 2 nodes which are hosted on your other AWS Ec2 vm.

[2022-09-09 07:01] ex-shubham-koli commented on #722
@ivanbozic21
sorry for the confusion but I have already provided it in the earlier comment. I will highlight it better. please refer to the second image in the previous comment.

[2022-09-09 08:56] ex-shubham-koli commented on #722
so I deleted the previous blockchain data on all nodes. and started the nodes on the same servers. no changes in any VM specs and they started processing tx and producing new blocks.

![image](https://user-images.githubusercontent.com/53253101/189309848-ba3cbcbf-b8d0-4b0c-81ab-187d633c915f.png)

[2022-09-09 09:34] ivanbozic21 commented on #722
@shubham-edx Thanks for this feedback, but can you tell us if you tried to perform any test transactions before you started to see the issues with your validator nodes?

[2022-09-09 09:48] ex-shubham-koli commented on #722
@ivanbozic21
No, Nothing extraordinary. all the tx that happened on the network were related to the sending native tokens from one account to another. I have backed up previous blockchain data. I will see if I can reproduce the same issue in my local environment. if I am successful then I shall share these files with you. maybe it will help you resolve it better?

[2022-09-09 14:12] ivanbozic21 commented on #722
@shubham-edx Yes, and we're curious to know if you will be able to replicate it locally!

[2022-09-12 16:25] dankostiuk commented on #711
Hey @dbrajovic, @zivkovicmilos ,

Unfortunately we are still seeing similar errors on our prod environment after pulling in `release/0.5.1`. At the moment we are trying to determine a consistent way of reproducing the issue but for now we think it either involves:

1. how the queued txpool txs are gossiped which cause discrepancies in txpool_inspect responses across our RPC cluster nodes, e.g. not

[2022-09-12 16:34] mrwillis commented on #711
Would say this is a pretty critical bug as it can effectively brick accounts on the chain until txpools are refreshed across nodes.

[2022-09-12 23:00] dankostiuk commented on #711
Was able to repro what we believe to be a similar scenario to the one we initially observed using the steps below:

1. assuming account balance is 5 ETH - submit a couple simple transfer txs we can currently afford with current nonce + 10 (for example each tx costing total of 3 ETH each), these txs will then appear within `queued` in txpool_inspect response (for example with nonces 450-451)
2. sub

[2022-09-13 09:36] lazartravica opened #731 "Promoted transactions in TxPool not demoting on recoverable error"
Was able to repro what we believe to be a similar scenario to the one we initially observed using the steps below:

1. assuming account balance is 5 ETH - submit a couple simple transfer txs we can currently afford with current nonce + 10 (for example each tx costing total of 3 ETH each), these txs will then appear within `queued` in txpool_inspect response (for example with nonces 450-451)
2. sub

[2022-09-13 09:37] laviniat1996 commented on #698
Hello @samisbakedham ,

It's been quite a while since we've heard from you and we are curious if this issue still persists. We weren't able to replicate this issue on our Edgenet. We were able to call the bytecode of a token contract from the Edgenet by using this command:
[code]
Looking forward to hearing from you!

[2022-09-13 09:38] dbrajovic commented on #731
Possibly related:

https://github.com/0xPolygon/polygon-edge/issues/226

[2022-09-13 09:43] lazartravica commented on #711
@mrwillis @dankostiuk thanks for letting us know. We are tackling both of these immediately, with the original reported one first.

Let's coordinate about the second issue per @dankostiuk's last comment in the separate issue thread: https://github.com/0xPolygon/polygon-edge/issues/731

[2022-09-13 10:18] dbrajovic commented on #711
@mrwillis @dankostiuk

After a closer look at the [result](https://github.com/0xPolygon/polygon-edge/issues/711#issuecomment-1243985582) you posted, we believe the core of the bug is identified and a fix is under way.

It is a combination of a faulty [promote](https://github.com/0xPolygon/polygon-edge/blob/68df30d52da8a416b9c7c5860372f951cc72e325/txpool/account.go#L246) logic and an unlucky timing

[2022-09-13 10:26] dbrajovic commented on #731
@dankostiuk

This looks a lot like what you previously reported back in #226. The part which raises concern is:

even more so

The `Demote -> Drop` logic was implemented to solve this specific problem. Continuing from the previous issue, how come there is no `Demote/Drop` taking place for pending `450` and `451`? The only way I see that _not_ happening is that the txs eventually ended up in a bloc

[2022-09-13 14:50] ivanbozic21 commented on #722
@shubham-edx did you manage to replicate this problem, and if not can we go ahead and close this case?

[2022-09-13 17:46] dankostiuk commented on #731
Hey @dbrajovic ,

I've reproduced the issue with an account with 101 ETH and current nonce (getTransactionCount) 566. See below for the steps I took:

1. Submit 2 txs at nonce 576 and 577 (each 100 ETH transfers)
[code]
2. Observe txpool_inspect:
[code]
3. Submit 9 txs of 1 ETH transfers at nonces 566-575 bringing the account balance down to 91 ETH:
[code]
4. Submit 1 tx of 1 ETH transfer at nonce

[2022-09-13 21:36] dankostiuk commented on #731
Strangely after running the same test again but on a different chain, I can confirm that the pending txs do not get demoted as expected, even after waiting for 30 minutes. The only way to clear it is to submit another transaction with the current nonce (469) or restarting the node..

txpool_content:
[code]

Strangely I see no `failed to apply tx` due to `not enough funds for transfer with given va

[2022-09-13 22:49] dankostiuk commented on #731
Hey @dbrajovic,

After further investigation, it appears that the demote logic is only triggered after `buildProposal()` is hit, which only ever occurs if the node is a validator.

Our RPC cluster consists of solely non-validating nodes, so any invalid pending transactions within their txpools will never clear.

I suppose the solution could be to have validators gossip to non-validating nodes to r

[2022-09-14 08:44] ex-shubham-koli commented on #722
@ivanbozic21 Yes I was able to reproduce the same issue on my local machine. should I share the link to download those files with you over email?

[2022-09-14 08:47] ivanbozic21 commented on #722
@shubham-edx yes please share it with the following email address ivan.bozic@polygon.technology

[2022-09-14 09:35] dbrajovic commented on #731
Ah, that explains a lot.

In that case, we'll probably discuss a sort-of feature for non-validators specifically, so they're able to gossip transactions to validators in a way that would not block their txpool.

I'll keep this issue open until we push out the PR.

[2022-09-14 09:50] ex-shubham-koli commented on #722
I have shared those files with you over email.

[2022-09-14 11:31] ivanbozic21 commented on #722
@shubham-edx Thank you for providing us with the data, and we will keep you posted.

[2022-09-14 15:37] mrwillis commented on #731
Maybe a nitpick, but although you guys have marked it as a feature, I would argue it's a bug still as it's very common to have RPC providers (non-validators) for chains. Effectively this means that if you're out of $, from the view of the user connected to an RPC node, your account is bricked until the txpool is somehow cleared, or you're smart enough to resubmit with the same nonce.

[2022-09-14 22:45] frosty720 opened #734 "failed to get validators when calculation quorum: height=151 err="not found snapshot""
## not found snapshot

### Description

I am getting an error "failed to get validators when calculation quorum: height=151 err="not found snapshot" when setting up local POA network (not using -pos flag). I have tried starting the network in combos of 4, 5 and 6 nodes as valadators. Each time at block 151 the chain stops and i get the error.

This happens at block 151. If I stop all the nodes and

[2022-09-14 23:33] laviniat1996 commented on #734
Hello @NicoDFS ,

Thank you for opening this issue!

Can you please provide the logs too? They would help speed up the troubleshooting process. Also, which commands did you use to start the nodes?

[2022-09-14 23:50] frosty720 commented on #734
Hi @laviniat1996 thanks for getting back with me.  I started the nodes with
[code]

[2022-09-15 00:51] laviniat1996 commented on #734
@NicoDFS  Thank you for all the details. Can you remove the `--epoch-size` flag from the genesis file and see if the block production still stops at height 151?

[2022-09-15 03:22] joe2kaleidochain opened #735 "why miner address is zero address?"
## [Subject of the issue]
miner address is zero address
### Description
{
  "jsonrpc": "2.0",
  "id": 1,
  "result": {
    "parentHash": "0xb7796d585ca17338695d439aca7336742e7961218ae7078e7a07b08f023c8619",
    "sha3Uncles": "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347",
    **"miner": "0x0000000000000000000000000000000000000000",**
    "stateRoot": "0x3ebb36475288952111a2b9

[2022-09-15 04:08] #735 closed, assigned to nobody

[2022-09-15 09:30] ivanbozic21 commented on #698
Hello @samisbakedham ,

It's been quite a while since we've heard from you and we are curious if this issue still persists. We weren't able to replicate this issue on our Edgenet. We were able to call the bytecode of a token contract from the Edgenet by using this command:

curl https://rpc-edgenet.polygon.technology/ \
  -X POST \
  -H "Content-Type: application/json" \
  --data '{"method":"eth_g

[2022-09-15 13:39] frosty720 commented on #734
@laviniat1996 That seems to have worked, thank you. I question please before we close this. In a real world depolyment when a network upgrades from POA to POS by running ```ibft switch``` command can the ```--epoch-size``` flag be used? Thank you

[2022-09-15 14:21] laviniat1996 commented on #734
Hi @NicoDFS , I have deleted my previous comment because it contained some bad information. I have been able to reproduce the issue. This is an actual bug and we are looking into it. Every third epoch, the block production seems to stop. Recreating the genesis file with the epoch flag removed solved the issue because the default epoch value is 100000, so the chain didn't reach that value.

In the

[2022-09-15 14:33] frosty720 commented on #734
Thanks @laviniat1996

[2022-09-20 14:09] Kourin1996 commented on #731
@mrwillis @dankostiuk Hello, I've created a PR. It adds a function to clean up inactive accounts' transactions in non-validator's TxPool. It will be merged in the next MINOR or PATCH release.

https://github.com/0xPolygon/polygon-edge/pull/742

[2022-09-20 14:26] mrwillis commented on #639
Hi guys, any luck with this? The spam is quite relentless and we have to add strange error filtering logic to ignore these but catch other errors with monitoring service.s

[2022-09-21 06:21] hhq365 opened #743 "new Blocks always display Miner 0x0000...address,how to display validator address?"
## [Subject of the issue]
new Blocks always display Miner 0x0000...address,how to display validator address?

### Description
<img width="1278" alt="image" src="https://user-images.githubusercontent.com/6645976/191428998-21a911d4-71da-431e-9988-dbbb868495f1.png">

### Your environment

* OS and version:Ubuntu 20.04.5 LTS
* version of the Polygon Edge:v0.5.0
* branch that causes this issue:develop

[2022-09-21 07:36] ivanbozic21 commented on #639
Hello everyone. Just to give you a short update that this is on our to-do list, and we will try to provide you with an update from the beginning of the next week.

[2022-09-21 09:28] ivanbozic21 commented on #695
Hi @kbatista-nu
The issue was identified on our end as well, and please expect a resolution in one of our upcoming releases.

[2022-09-21 09:40] ivanbozic21 commented on #698
@samisbakedham,

We didn't hear back from you for more than 20 days.

Please know that we will close your issue request, and you're free to raise a new one.

[2022-09-21 09:40] #698 closed, assigned to nobody

[2022-09-21 10:48] ivanbozic21 commented on #743
Hi @hhq365

We will convert the issue that you opened into a discussion.

We are aware that the miner address is zero, and there is an explanation for this.

The miner field is used only to propose a vote for a certain address, so it isn't the actual address of the proposer.

You can find a more detailed reply in our docs [here](https://docs.polygon.technology/docs/edge/faq/validators#why-do-the-j

[2022-09-21 10:51] #743 closed, assigned to nobody

[2022-09-21 12:02] isingh108 opened #748 "Transaction failed"
failed to dispatch: method=eth_getBalance err="failed to get header from block hash or block number"

![image](https://user-images.githubusercontent.com/4157381/191498676-63150bd7-153d-4ea6-824c-4c7f3ac10bab.png)

[2022-09-21 12:20] laviniat1996 commented on #748
Hi @iqbalsingh108 ,

Can you please add more information to this issue by following [this template](https://wiki.polygon.technology/docs/edge/community/report-bug). It would help us troubleshoot your issue much faster. Thank you!

[2022-09-22 04:56] isingh108 commented on #748
Hi @laviniat1996
Actually this issue arises when in case i deleted the genesis block,after that if i create new genesis then this issue is coming.
OS & Version--Ubuntu 22.04.1 LTS
branch ----develop
version-0.50

Issue is when i'm trying to run my node **polygon-edge server --data-dir ./node1 --chain genesis.json --grpc-address :10000 --libp2p :10001 --jsonrpc :10002** with this command its give m

[2022-09-22 05:45] isingh108 commented on #748
@laviniat1996 I think there is some bug in this release because this run only one time after creating the genesis block,if i delete that genesis and start again with new genesis it gives me **polygon.dispatcher: failed to dispatch: method=eth_getBalance err="failed to get header from block hash or block number"** this error and my transactions failed.

[2022-09-22 06:49] ex-shubham-koli commented on #722
@ivanbozic21 Hi,
we encountered this problem again. all of our nodes have stopped producing blocks. this time we have 4 validators running on AWS and 4 running on on-premise servers. all 8 of them stopped producing blocks at once.
I have logs of all the 4 nodes which are running on aws uploaded here on the drive.
please see if you can figure out why it is happening.

https://drive.google.com/drive

[2022-09-22 09:08] laviniat1996 commented on #748
@iqbalsingh108 So, the issue happens if you delete the genesis.config file and then create a new one? Were you able to send transactions before deleting it?

[2022-09-22 09:08] laviniat1996 commented on #748
@iqbalsingh108 Also, would be very helpful if you could provide the logs from the node.

[2022-09-22 12:59] Kourin1996 commented on #731
The above PR is going to be included at 0.5.1 release

[2022-09-22 13:00] Kourin1996 commented on #711
The above PR is going to be included at 0.5.1 release

[2022-09-23 03:47] isingh108 commented on #748
@laviniat1996 Sorry but now i tried with new infra and its working,sorry but i can't provide you logs or transaction details.
I only have this much info. right now with me.
thanks

[2022-09-23 10:12] laviniat1996 commented on #684
Hi @semiPlanet ,

I wanted to let you know that yesterday we released [Polygon Edge v0.5.1](https://github.com/0xPolygon/polygon-edge/releases/tag/v0.5.1), which also includes the fix for this issue.

Thank you again for reporting this!

[2022-09-23 12:54] laviniat1996 commented on #748
Hi @iqbalsingh108 ,

Did you use `polygon-edge secrets init --data-dir test-chain-1` to generate the keys for your node? If so, if you didn't change anything in your setup, you should use `polygon-edge server --data-dir ./test-chain-1 --chain genesis.json --grpc :10000 --libp2p :10001 --jsonrpc :10002 --seal` to start the node. You have `--data-dir ./node1`, it should be ` --data-dir ./test-chain-

[2022-09-23 14:03] Ranofty opened #757 "Help Running Nodes on Cloud"
Hello please can anyone help on how I can setup polygon-edge on Cloud? I follow all the steps ([here](https://wiki.polygon.technology/docs/edge/get-started/set-up-ibft-on-the-cloud/)) and successful run the Nodes on cloud

Environments
aws ubuntu 22.04 SSD
aws Amazon Linux

I successful run the Nodes but can’t add my chain to MetaMask also can’t view txhash using
 _curl http://3.86.218.99:3765 -X

[2022-09-23 15:14] ivanbozic21 commented on #757
Hi @Ranofty
Please know that we will close this issue request, and we will try to provide you with some guidance in the discussion section.

[2022-09-24 12:39] Ranofty commented on #757
Ok Check the Discussion please

[2022-09-24 12:39] #757 closed, assigned to nobody

[2022-09-25 20:05] laviniat1996 commented on #748
@iqbalsingh108 Also, you should never delete the genesis file and create a new one without removing all the data directories too. This will most likely lead to issues in your network. And this is probably the case here too, as you said that with a new setup everything works fine.

I will close this issue now, but if you run into problems again, you can open a new issue.

[2022-09-25 20:05] #748 closed, assigned to laviniat1996

[2022-09-26 08:06] isingh108 opened #761 "failed to dispatch: method=eth_getBalance err="failed to get header from block hash or block number""
Hi Community,
I'm getting this if my network is going down and after that i restart it gives me this kind of error.Please help me to resolve this.

![image](https://user-images.githubusercontent.com/4157381/192225034-ff256699-0486-4d41-9b36-a0a8668cd64e.png)

[2022-09-26 10:19] ivanbozic21 commented on #761
Hi,

Can you please provide us with the following informations in order to correctly assist you with this issue:

### Description

Describe your issue in as much detail as possible here

### Your setup environment

- OS and version
- The version of the Polygon Edge
- The branch that causes this issue
- Locally hosted or on the Cloud and where

### Steps to reproduce

- Tell us how to reproduce thi

[2022-09-26 10:43] isingh108 commented on #761
**OS and version** ubuntu-22.04lts
**The version of the-Polygon Edge 0.50**
**The branch that causes this issue-develop**
**Locally hosted or on the Cloud and where-Hosted on AWS Instance**

**Is the chain producing blocks?**
YES

**Expected behavior**
Actually i setted up a network  with the help of polygon-edge.Then i'm expected that it will run or resume seamless when i restart my IT resources

[2022-09-26 11:34] ivanbozic21 commented on #761
@iqbalsingh108 The issue is caused because the genesis file was changed, and after reviewing your request it's not a bug.

Let us know if you will require any further help.

[2022-09-26 11:34] #761 closed, assigned to nobody

[2022-09-26 12:44] ivanbozic21 commented on #684
Hi @semiPlanet ,

We're closing this issue because the solution for this problem was applied in our latest release.

[2022-09-26 12:44] #684 closed, assigned to laviniat1996

[2022-09-26 12:45] semiPlanet commented on #684
Hi, thank you so much for this update. I will try this later.

[2022-09-26 12:50] #711 closed, assigned to dbrajovic

[2022-09-26 12:53] #731 closed, assigned to nobody

[2022-09-26 13:23] Kourin1996 commented on #639
I've created a new PR. I confirmed no more logs appeared after WebSocket connection suddenly terminated

[2022-09-26 14:06] ivanbozic21 commented on #653
Hi @mrwillis

We wish to let you know that this memory issue is resolved with our latest Polygon Edge 0.5.1 release.

If there will be any further problems, then feel free to re-open this request.

[2022-09-26 14:06] #653 closed, assigned to zivkovicmilos

[2022-09-28 08:40] avenbreaks opened #767 "Error: invalid values"
## [Subject of the issue]

### Description

$ loadbot polygon-edge --chain-id 6969
Error: invalid value
Uses:
loadbot [flags]

i try to change chain-id, jsonrpc but error when i type. position is running bootnode

![image](https://user-images.githubusercontent.com/93043826/192732111-d1cbae94-26d6-4fd6-a4ce-cbc1da640cf4.png)

[2022-09-28 09:15] ivanbozic21 commented on #767
Hi @avenbreaks,

Please check our official documentation about using loadbot command and example of how you can correctly start the loadbot on your end:

https://wiki.polygon.technology/docs/edge/additional-features/stress-testing/#start-the-loadbot

We will move this topic to discussion section, and let us know if you will need any additional help.

[2022-09-28 09:15] #767 closed, assigned to nobody

[2022-09-29 06:15] ex-shubham-koli commented on #722
I will be closing this issue as I belive this issue was caused by TxPool DDoS. updating to version 0.6 has resolved it.

[2022-09-29 06:15] #722 closed, assigned to nobody

[2022-10-03 12:57] ivanbozic21 commented on #639
Hi @dankostiuk, we wish to confirm that this issue is resolved and we will close now this request.

Thank you!

[2022-10-03 12:57] #639 closed, assigned to 0xAleksaOpacic

[2022-10-07 10:50] #657 closed, assigned to zivkovicmilos

[2022-10-07 15:38] zivkovicmilos commented on #695
Hey @kbatista-nu,

Fix is out and awaiting merge into our `develop` branch. I've linked the PR that will resolve this issue.

Stay tuned

[2022-10-07 15:58] ivanbozic21 commented on #734
@NicoDFS apology for the late response, and we will have an update for you sometimes next week.

[2022-10-09 02:49] amandatsalis opened #782 "The best way to use Polygon Edge is through Polygon Supernets. ?"
### Description

**What is the difference between Polygon Edgenet and Supernet?  Edgenet just a framework for creating blockchain and supernet is the same thing but premium version ?**

### Your environment

* OS and version : Ubuntu 18
* version of the Polygon Edge : v0.6.0
* branch that causes this issue : develop

hello, I am a student  who wants to learn more about the world of blockchain and

[2022-10-10 02:07] laviniat1996 commented on #782
Hi @amandatsalis ,

Polygon Edge is a framework for creating your own blockchain where all validators are hosted by you. So, if all the validators belong to you, then your network is centralised and not as secure. This is where Supernetes comes in: it orchestrates professional validators to stake, and they get rewarded, in order to validate your network, thus making it more secure. To become a pro

[2022-10-10 02:09] #782 closed, assigned to nobody

[2022-10-10 03:07] avenbreaks commented on #695
same issue polygon.network.discovery: Unable to execute bootnode peer discovery, %w: EXTRA_VALUE_AT_END="unable to create new discovery client connection, peer disconnected before the discovery client was initialized" on cloud server

[2022-10-11 06:48] avenbreaks opened #786 "Blockscout : Authenticity is not established by certificate path validation"
## Building Blockscout

### Description
in my case blockscout after deploy did not find the port. I followed as in the documentation. alternatively I tried to deploy postgresql in Azure SQL Flexibel but I still encounter the same problem. are my postgresql settings wrong?

First Setting:
`export DATABASE_URL=postgresql://blockscoutadm:asdasdasdasd23@52.188.91.5:5432/postgre
`

Second Setting Azure

[2022-10-11 14:07] #695 closed, assigned to ZeljkoBenovic

[2022-10-11 19:44] zivkovicmilos commented on #734
Hey @NicoDFS,

Apologies for the long wait on this fix rollout - I've opened up a PR that resolves this problem, and linked it to this issue.

Thank you for alerting us about it 🙏

[2022-10-12 12:23] laviniat1996 commented on #786
Hi @avenbreaks ,

Thank you for opening this issue, and for your interest in Polygon Edge.

Unfortunately, this is not a Polygon Edge issue. Blockscout is not our product, so we cannot provide support for it. The documentation  we have for Blockscout are just guidlines. If you need guidance, we can direct you to premium support (paid), or you can checkout the official blockscout docs: https://docs

[2022-10-12 12:23] #786 closed, assigned to nobody

[2022-10-12 15:40] avenbreaks commented on #786
thankyou, problem is solved!

[2022-10-12 15:50] laviniat1996 commented on #786
@avenbreaks  I am glad it is solved!

[2022-10-13 13:49] #734 closed, assigned to zivkovicmilos

[2022-10-14 04:34] ex-shubham-koli opened #798 "Validators crashing and not producing new blocks ERROR : "out of gas""
### Discussed in https://github.com/0xPolygon/polygon-edge/discussions/792

<div type='discussions-op-text'>

<sup>Originally posted by **shubham-edx** October 12, 2022</sup>
Earlier today all my validators crashed and all of them are showing the following logs. I have 8 validator setup on AWS. with 4 Validators created at first and then 4 added later via smart contract. (all BLS supported)

My en

[2022-10-14 11:13] Ranofty opened #802 "Help to run Nodes on cloud even when offline"
### Your environment

* OS and version: Ubuntu 20.04
* version of the Polygon: Edge 0.6.0

Hello please how can I make my nodes running on cloud even when I am offline?

I use `nohup command` my rpc is online but nodes are not Validating, any solution for this please? My nodes are only validating when am in the terminal

[2022-10-14 12:37] laviniat1996 commented on #798
@shubham-edx Thank you very much for opening this issue. We will update you as soon as we have new info about this.

[2022-10-14 18:32] CryptoDevving opened #803 "invalid validator format, expected [Validator Address]:[BLS Public Key]"
How do I fix the format? The public key changed? How do you properly format it?

[2022-10-14 20:34] #803 closed, assigned to nobody

[2022-10-15 05:14] CryptoDevving commented on #669
@ZeljkoBenovic Where do I go to for nginx help? I am still stuck on it.

[2022-10-15 05:51] avenbreaks commented on #802
you can use pm2 or tmux sessions

[2022-10-15 13:38] Ranofty commented on #802
Thanks sir 🙏❤️

[2022-10-15 13:38] #802 closed, assigned to nobody

[2022-10-16 08:44] avenbreaks opened #804 "Nginx"
After the Blockchain node is active, I want to replace the /ip4 bootnode with a custom domain and ssl, but the problem after I try to install nginx the node is not listening and the API can't be listened to, how do I consume the API? I tried with dns but there is a problem goroutine152

[2022-10-16 17:24] laviniat1996 commented on #804
Hi @avenbreaks ,

Can you provide more info? What Edge version are you using? On cloud or locally? Your general setup. What error are you getting?

[2022-10-17 00:01] CryptoDevving commented on #804
I keep getting a Uncaught (in promise) Error: Bad response format when I try to connect anything. The block explorer or any dapps. They just break.

[2022-10-17 07:58] avenbreaks commented on #804
[code]

**Create Genesis JSON :**
`polygon-edge genesis --consensus ibft --epoch-size 50 --chain-id 123 --pos --ibft-validator=address:BLS --ibft-validator=address:BLS --ibft-validator=address:BLS --ibft-validator=address:BLS --bootnode /dns4/sample.hostname.com/tcp/<port>/p2p/nodeid --bootnode/dns4/sample.hostname.com/tcp/<port>/p2p/nodeid --bootnode /dns4/sample.hostname.com/tcp/<port>/p2p/nodei

[2022-10-17 12:11] laviniat1996 commented on #804
@avenbreaks Can you provide the logs too, please?

[2022-10-17 13:04] avenbreaks commented on #804
sorry i can't login VM because after im enable nginx, VM and Node not respond and VM Drop

![image](https://user-images.githubusercontent.com/93043826/196184474-5ff45e42-6c7f-42c8-b835-d21a6e2fac1b.png)

[2022-10-17 13:05] avenbreaks commented on #804
Log Another VM Without Nginx :

[code]

[2022-10-17 14:04] avenbreaks commented on #804
and im trying loadbot getting error :

`export LOADBOT_0x7DE269e8D163cB1a2dE6b649EE43e81A8D228acD:47ccb479856821341adc2345d2e3b8094f0160a8e72c193cfa3dcbdb8fca886d`

`polygon-edge loadbot --mode erc20 --jsonrpc http://0.0.0.0:10002 --grpc-address 0.0.0.0:10000 --sender 0x7DE269e8D163cB1a2dE6b649EE43e81A8D228acD --receiver 0xb8DDF30d4785289622b98B3517AA198b8287aea9 --count 50 --value 0x101 --tps 200

[2022-10-17 15:56] akshar opened #811 "0.6.0 validator nodes get stuck due to many "not found in snapshot" errors"
## Validator nodes are not producing blocks after running 0.6.0 change.

### Description
- We pulled in the latest 0.6.0 change on a 4 validator node setup. We are seeing the following errors
[code]

As a result blocks cannot build past 300 height. Currently we're using following ibft engine config in our genesis.json file:

[code]

### Your environment

* Ubuntu 20.04
* [0.6.0](https://github.com

[2022-10-17 16:13] laviniat1996 commented on #811
Hi @akshar,

Thank you for opening this issue. We are aware of this problem, and it was recently fixed with this [PR](https://github.com/0xPolygon/polygon-edge/pull/791).

[2022-10-17 16:17] laviniat1996 commented on #804
Hi @avenbreaks, you cannot change the way libp2p protocol works. It's impossible to set SSL on it, and it is encrypted by default. More info about libp2p [here ](https://docs.libp2p.io/). Please follow the guide provided in our official [docs ](https://wiki.polygon.technology/docs/edge/overview/) on how to setup and run your nodes.

[2022-10-17 16:17] #804 closed, assigned to nobody

[2022-10-18 09:22] ivanbozic21 commented on #798
HI @shubham-edx
Team is working on a solution and we expect to have it deployed by the end of the week.

Please know that we will continue to keep you posted.

[2022-10-18 10:34] ex-shubham-koli commented on #798
@laviniat1996 ,
Thank you for your amazing support. really appreciate it!

[2022-10-18 16:20] dankostiuk opened #812 "Empty validator set returned by `forkManager.GetValidators(height)` when on second fork that is PoA"
## Empty validator set returned by `forkManager.GetValidators(height)` when on second fork that is PoA

### Description

During testing of 0.60 on our 4-validator testnet, we found that we encounter a chain halt as soon as a non-genesis fork is reached.

While remote debugging after removing a validator's entire data-dir (including snapshots) and trying to re-sync, we observed that the `forkManage

[2022-10-18 17:51] laviniat1996 commented on #812
Hi @dankostiuk ,

Can you try this on `develop `too? I think it might be related to this [issue ](https://github.com/0xPolygon/polygon-edge/issues/734) we had, that was solved recently with [this PR](https://github.com/0xPolygon/polygon-edge/pull/791). Does this happen only in PoA, or in PoS too?

[2022-10-18 19:45] dankostiuk commented on #812
Hey @laviniat1996 ,

So the issue was that we forgot to include the `--ibft-validator` flags when defining our new fork. This wasn't obvious to us since we never had to do this pre-v0.6.0. We see now that block building continues as expected and that validators can sync up to the latest block without issues.

As the validator set can change at any time during a fork, we believe the logic around th

[2022-10-18 20:33] laviniat1996 commented on #812
@dankostiuk Thank you for these suggestions. I will bring them up to the team, and we will get back to you. 🙏

[2022-10-19 00:57] avenbreaks opened #813 "Submission of Vote transaction failed"
## [Subject of the issue]

I got a failure after depositing erc20 using chainbridge and cb-sol-cli, looking at transaction explorer in polygon mumbai, successful transactions still on chainbridge I received a failed transaction vote and shutting down.

### Description

[code]

`https://mumbai.polygonscan.com/tx/0xd52187b1cf6f2f92ec1ea8d13bfef551bf3f726361d582ad33cfeeb4169645dd`

### Your environme

[2022-10-19 06:52] ivanbozic21 commented on #813
Hi @avenbreaks

We're reviewing your request, and we will keep you posted.

[2022-10-19 15:40] Ranofty opened #817 "Help install SSL in my RPC"
### Your environment

* OS and version: AWS ubuntu 20.04
* version of the Polygon Edge: 0.6.0
* branch that causes this issue

Hello please i need help on how to install ssl to my json rpc any guide can help

[2022-10-20 00:02] CryptoDevving opened #818 "Validator Questions"
Am I able to get non-bootnodes to be validators or are bootnodes the only thing that can validate the blockchain?

Also if I am able to have non-bootnodes to be validators am I able to have validators require 100 coins to be validators?

I am using the latest version
Ubuntu 22

[2022-10-20 01:15] avenbreaks commented on #817
you can try change ip4 to dns/ and create elastic IP

[2022-10-20 04:04] #818 closed, assigned to nobody

[2022-10-20 04:11] laviniat1996 commented on #811
Hi @akshar ,

Did you try the fix? Is everything working okay now?

[2022-10-20 07:52] ivanbozic21 commented on #813
@avenbreaks
After reviewing your request based on provided info, this seems to be a failure on ChainBridge side due to missing configuration.

Can you please review your setup by following the instructions once again from ChainBridge setup page:

https://wiki.polygon.technology/docs/edge/additional-features/chainbridge/setup

[2022-10-20 07:55] ivanbozic21 commented on #817
Hi, we will move your query to the discussion board.

[2022-10-20 07:55] #817 closed, assigned to nobody

[2022-10-21 10:49] NengakDakup commented on #684
Hi guys i have this same issue with my current running nodes, if i update to the latest release do i need to restart the chain?

[2022-10-21 12:51] laviniat1996 commented on #684
Hi @NengakDakup ,

The latest update contains breaking changes, so you will indeed need to halt the chain for a short period of time. We have [this guide](https://wiki.polygon.technology/docs/edge/validator-hosting#update-procedure) on how to update. The lates update contains BLS also, you can find more about it [here](https://wiki.polygon.technology/docs/edge/consensus/bls/).

[2022-10-21 14:46] akshar commented on #811
@laviniat1996  Fix works. Thanks! closing this

[2022-10-21 14:46] #811 closed, assigned to laviniat1996

[2022-10-21 14:55] laviniat1996 commented on #811
@akshar Thank you for the update! Have a lovely weekend.

[2022-10-21 15:00] dankostiuk opened #824 "Shutdown sometimes wipes `consensus/metadata` file causing `unexpected end of JSON input` on restart"
## Shutdown sometimes wipes `consensus/metadata` file causing `unexpected end of JSON input` on restart

### Description

Ever since pulling in v0.6.0 into our testnet, we sometimes see our nodes get stuck in a restart loop due to `unexpected end of JSON input` errors while reading from an empty `metadata` file. This could be related to the panic shown in the logs below when stopping our service.

[2022-10-21 15:03] laviniat1996 commented on #798
Hi @shubham-edx ,

I am glad to hear that you are happy with the support provided 😊

Thank you again for reporting this. The issue was fixed with [this PR](https://github.com/0xPolygon/polygon-edge/pull/821), therefore I will close the issue. If you still encounter this problem, or any other problem, please let us know. 🙏

[2022-10-21 15:03] #798 closed, assigned to nobody

[2022-10-24 10:19] titbtcqash opened #829 "0.00000001 Gwei TX"

[2022-10-24 10:21] titbtcqash commented on #829
I missed.

[2022-10-24 10:21] #829 closed, assigned to nobody

[2022-10-24 13:57] ivanbozic21 commented on #813
@avenbreaks
After reviewing your request based on provided info, this seems to be a failure on ChainBridge side due to missing configuration.

Can you please review your setup by following the instructions once again from ChainBridge setup page:

https://wiki.polygon.technology/docs/edge/additional-features/chainbridge/setup

[2022-10-24 16:55] dankostiuk opened #832 "`price-limit` should also be enforced on state layer"
## `price-limit` should also be enforced on state layer

### Description

On our mainnet, it appears that despite enforcing a `price-limit` of 1 gwei on our RPC and most of our validator nodes, validators that do not have `price-limit` set are still writing blocks with underpriced txs - and all validators successfully confirm these txs rather than failing on them.

We confirmed that `consensus_bac

[2022-10-24 19:45] laviniat1996 commented on #832
Hi @dankostiuk ,

How did you send the transactions? Via Metamask or some script?

[2022-10-24 20:21] dankostiuk commented on #832
@laviniat1996

Via a script, however the behaviour should be the same for simple Metamask transfers if targeting the validator RPC url that does not have price-limit set.

[2022-10-25 02:32] mdd0x opened #833 "Please Help: The block and All transaction not real-time load. need to be refresh manually. [Blockscout]"
I run Polygon-Edge POS on the blockscout, once it first run , its running smoothly with realtime load for block and all transaction.
but after 10 mins its like stuck. the block and all transaction stop load. and need to refresh manually to update it.
Please Help.

This is the processing:
application=indexer fetcher=block_catchup [info] Checking if index needs to catch up in 2500ms.
application=ind

[2022-10-25 04:29] Kourin1996 commented on #832
@laviniat1996 This is not issue. But, as @dankostiuk said, price limit configuration is not applied in consensus layer currently. So the validator that doesn't set `price-limit` can propose the block including transaction with higher gas price and other validators can accept the block because `price-limit` is not used in consensus layer.

[2022-10-25 07:39] ivanbozic21 commented on #824
Hi @dankostiuk

Please provide us with complete debug logs.

Awaiting your earliest response.

[2022-10-25 08:03] ivanbozic21 commented on #833
Hi @mdd0x

### Description

Describe your issue in as much detail as possible here

### Your setup environment

- OS and version
- The version of the Polygon Edge
- The branch that causes this issue
- Locally hosted or on the Cloud and where

### Steps to reproduce

- Tell us how to reproduce this issue <br />
- Where the issue is, if you know <br />
- Which commands triggered the issue, if any

#

[2022-10-25 10:05] avenbreaks commented on #813
Yes, I did what the document says, but I still get the same error. Is there a gas price recommendation?

[2022-10-25 10:41] laviniat1996 commented on #832
@Kourin1996 Thank you. I thought this was expected behaviour, but wasn't 100% sure.

[2022-10-25 11:12] ivanbozic21 commented on #813
Can you please let us know the commands that you used to configure chainbrige?
@avenbreaks

[2022-10-25 11:55] laviniat1996 commented on #832
@dankostiuk As this is expected behaviour, I will close this issue for now. If you have any suggestions on improvements regarding this, please feel free to open a new issue. Thank you 🙏

[2022-10-25 11:55] #832 closed, assigned to nobody

[2022-10-25 11:57] laviniat1996 commented on #812
@dankostiuk Just wanted to give a quick update. Sorry for the waiting time. These suggestions were raised to the team, and they will go over them as soon as they can.

[2022-10-25 13:53] ivanbozic21 commented on #824
@dankostiuk
Did you configure this service as per our public documentation?
Also, can you provide how did you define the config file and a simple explanation about what metadata is?"

[2022-10-25 16:04] #833 closed, assigned to ivanbozic21

[2022-10-26 15:28] perbergman opened #841 "No events captured"
## [Ethereum events]
I am trying to use standard Ethereum event subscriptions, but I don't see any events.
Is this not supported?

### Description

`const Web3 = require('web3');
const delay = time => new Promise(res=>setTimeout(res,time));
const WEB3_PROVIDER = 'ws://<IP>:10002/ws';

const web3 = new Web3(WEB3_PROVIDER);
const address = '0x<DEPLOYED>';

async function main() {
    console.log(1);

[2022-10-27 12:57] laviniat1996 commented on #841
@perbergman Can you check the deployment of the contract with `getCode`: https://wiki.polygon.technology/docs/edge/get-started/json-rpc-commands#eth_getcode ?

[2022-10-27 18:15] perbergman commented on #841
curl  http://<IP>:10002 -X POST -H "Content-Type: application/json" --data '{"jsonrpc":"2.0","method":"eth_getCode","params":["0x7d75a8C6531b38a93A3B9A47b03aB6dA715831e4", "latest"],"id":1}' > out.txt

[out.txt](https://github.com/0xPolygon/polygon-edge/files/9882132/out.txt)

[2022-10-27 18:26] perbergman commented on #841
I can run transactions and see them in Block Scout, and with queries, but I don't see any events.
If I use --show-events with truffle, I get exceptions (doesn't happen with ganache, etc.).

BTW, I can't get it to work with hardhat at all, no big deal though.

[2022-10-27 18:55] laviniat1996 commented on #841
@perbergman  What happens when you start the event listener? Do you get any errors?
I just want to mention that we do support this, and I tested it today on my end.

Can you try using it with `const WEB3_PROVIDER = 'ws://localhost:10002/ws'` ?

[2022-10-27 19:01] perbergman commented on #841
I started it with the 'ws' and I don't see any errors, no output at all.

Seems my paste removed stuff, the URL is const WEB3_PROVIDER = 'ws://x.y.x:10002/ws';

I am running remotely from macOS --> AWS/ubuntu.

[2022-10-27 19:06] perbergman commented on #841
I don't see an eth_subscribe command in that list above, but there is eth_unsubscribe?

[2022-10-28 10:03] laviniat1996 commented on #841
Hi @perbergman ,

I'm back with updates. Your event subscription script actually works.
The steps I followed for testing:
1. Create a .js file with your code (let's call it listener.js)
2. Started a local chain
3. Created a dummy contract to test the script:
[code]
5. Deployed the contract with Remix
6. I changed the contract address in the script
7. Ran the script (`node listener.js` - makes sure

[2022-10-28 12:37] ivanbozic21 commented on #824
@dankostiuk
Did you configure this service as per our public documentation?
Also, can you provide how did you define the config file and a simple explanation about what metadata is?"

[2022-10-28 12:37] ivanbozic21 commented on #813
@avenbreaks
Can you please let us know the commands that you used to configure chainbrige?

[2022-10-28 13:55] perbergman commented on #841
I will try that. The issue might be that we deploy to a remote chain and networking etc. I am running a four-node Polygon Edge network with remote clients.

I will try to run the listener locally as well. I wonder if it has to do with the naming of the topic as well. We are using ERC1155.

[2022-10-28 16:22] dankostiuk commented on #824
Yes this service was configured following your documentation and we've only seen issues occasionally on the latest release.

Our config.yml:
[code]

By metadata i mean the file written to `consensus/metadata` which keeps track of the last block:
[code]

[2022-10-28 17:07] dankostiuk opened #845 "`Failed to extract the last proposer` due to IBFT extra unmarshalRLP error"
# `Failed to extract the last proposer` due to IBFT extra unmarshalRLP error
## Description

We were able to run v0.6.0 on our testnet successfully but after a few days one of our validators seemed to get stuck while trying to sync up to a later block from another peer.

This seemed to correlate with a memory leaked observed at around the same time.

Debugging this issue further we found that when

[2022-10-28 23:31] perbergman commented on #841
I am running the Test contract remote with a listener locally, and now I see those events.
Next is to use my actual contracts.

Thanks,
Per

[2022-10-30 15:26] perbergman commented on #841
I got it to work all the way. The difference was when I did not use Truffle to deploy, but straight web3.

[2022-10-30 15:26] #841 closed, assigned to laviniat1996

[2022-10-31 07:41] laviniat1996 commented on #841
Hi @perbergman ,

Thank you for your updates. I'm glad it finally worked. Please feel free to open an issue whenever there's need.

[2022-10-31 15:01] laviniat1996 commented on #845
Hi @dankostiuk ,

Thank you for reporting this!
While the team is looking into this, could you please provide:

- full logs
- host metrics

It would help us in troubleshooting.

[2022-10-31 20:18] ghost opened #857 "10 node polygon-edge setup"
# [ Subject of the issue ]
## Description
Good evening, I have recently set up a 10 node testnet on Polygon edge. On my screen , I can see "Validators 10 / 7 commited" I used the exact same genesis for all 10 nodes, and the secrets init was copied and inserted perfectly. Why am I only seeing 7 please?

## Your environment
-Unbuntu server 20.04LTS
- The version of the Polygon Edge.
  (*Confirm the

[2022-11-01 09:05] laviniat1996 commented on #857
Hi @Nexsuperne101,

If you see 7 out of 10 validators as comitted, that's okay. You only need the supermajority of validators to be comitted in order to produce blocks. All of the validators take turns in proposing the next block (round-robin), and for the block to be validated/inserted in the blockchain, a supermajority (more than 2/3) of the validators must approve the said block.

As this is no

[2022-11-01 09:05] #857 closed, assigned to nobody

[2022-11-01 10:53] Nexsuperne101 commented on #857
Thank you for your prompt reply. Our only other issue is stuck
transactions, or they send, but tx=0. Can you recommended a gas limit
please? I can resend with a bit more gas on the same nonce to clear it, but
I am still trying to get this right.

Thanks again for your help

Kind regards
Nexsuperne101

On Tue, 1 Nov 2022, 09:06 Lavinia Talpas, ***@***.***> wrote:

[2022-11-02 01:40] avenbreaks opened #863 "cannot production block after node running"
## Description
Cannot production block. block-time-prod 12s / Nodes.
i am running with 9 nodes in docker when i try to call the API its working fine but in blockscout or other explorer the block production stopped 6 days ago.. is there any problem with my server? is it too much? or what is the minimum that must be run for the client node?

Specifications:
4 GB Memory / 2 Intel vCPUs / 80 GB Disk +

[2022-11-02 07:00] Nexsuperne101 commented on #857
Good morning, It would appear that my premine was wrong by one zero. I
needed 1 billion coins, but only minted 100 million. Is there a way to mint
the other 900 million without creating genesis again?

Thanks for all your help,

Kind regards,
Nex

On Tue, 1 Nov 2022 at 10:52, Myk Debbage ***@***.***> wrote:

[2022-11-02 07:07] ghost opened #864 "Adding to premined coins"
# [ Subject of the issue ]
## Description
Good morning. My premine script was off by one zero. I needed 1 billion coins, but only mined 100 million. Is there a way to mint 900 million more without recreating genesis again?

## Your environment
- OS and version. Ubuntu 20.04LTS
- The version of the Polygon Edge.
  (*Confirm the version of your Polygon edge client by running the following command: `

[2022-11-02 09:56] #864 closed, assigned to nobody

[2022-11-02 10:00] laviniat1996 commented on #863
Hi @avenbreaks ,

Is your block production working okay? Did the block production stop in your network or only on blockscout?

[2022-11-02 10:46] avenbreaks commented on #863
sorry, apparently my node can't call with other nodes. problem solved!

[2022-11-02 10:46] #863 closed, assigned to nobody

[2022-11-02 10:49] laviniat1996 commented on #863
@avenbreaks I'm glad it got solved. Wishing you a great rest of the week.

[2022-11-02 14:39] dankostiuk commented on #845
This was observed on an AWS EC2 t2.small instance running Ubuntu 20, go1.17.6 linux/amd64 with 100GB of storage.

Unfortunately we don't have the full logs aside from what I shared above - we'll restore the data-dir from a recent backup and see if this issue comes up again.

[2022-11-02 15:03] laviniat1996 commented on #824
@dankostiuk We believe [this PR](https://github.com/0xPolygon/polygon-edge/pull/839) fixes this issue. It will be included in the following release.

[2022-11-03 10:45] laviniat1996 commented on #813
Hi @avenbreaks , we didn't hear from you in a while.

[2022-11-03 14:20] dankostiuk commented on #845
We've since noticed a similar error on another node, which also correlated with a memory creep that crashed our node requiring an ec2 restart. Upon looking at the logs we see the following restart loop:

[code]

We plan to inspect the memory usage using pprof and will share the results.

[2022-11-03 17:40] avenbreaks commented on #813
Sorry late respons, i Will try again!

[2022-11-05 16:14] ghost opened #874 "Migration to POS from POA. Chain stopped. How to test staking dapp with no chain?"
# [ Subject of the issue ]
## Description
Describe your issue in as much detail as possible here. Good afternoon. I am getting stuck again. I have stopped the POA at 50,000, set the POS restart at 51000. Set the epoch with sudo nano genesis.json at 50. What do I now need to do to get the chain working again? Is one validator enough, and do I just put one ETH in to do that?

## Your environment
- O

[2022-11-06 15:33] ghost opened #878 "private key is invalid. Source was consensus/validator.key"
# [ Subject of the issue ]

Good afternoon. I'm trying to migrate to POS from POA. Block production stopped at 60999 as planned. It didn't restart at 61000 (not planned) This is the error I get. Private key taken from Node1/consensus/validator.key

## DescriptionError: Private Key is invalid
    at publicKeyCreate (/home/ubuntu/staking-contracts/node_modules/secp256k1/lib/index.js:121:17)
    at p

[2022-11-06 15:33] #874 closed, assigned to nobody

[2022-11-06 16:32] #878 closed, assigned to nobody

[2022-11-07 17:38] ghost opened #881 "unable to sychronise on new node"
# [ Subject of the issue ]
## Description
2022-11-07T17:35:58.752Z [WARN]  polygon.server.syncer: failed to complete bulk sync with peer, try to next one: peer ID=error 16Uiu2HAmPxYCHdnpzxsPYd6rh3DbaGkFHWxNpnQjfJAUPDRNAKdN="unable to verify block, unable to verify block execution result, invalid block state root"
Whilst trying to sync a fresh installed node, I get the error above at block 49999. I

[2022-11-07 23:59] ghost commented on #881
I've cured this. It was caused by me forgetting that I set a switch to migrate to PoS, but it failed at 50,000. I then set it back to PoA at 51,000, to make blocks to move funds for staking, and then restarted the migration.

[2022-11-08 04:22] laviniat1996 commented on #881
Hi @Nexsuperne101 , is this still an issue? Also, what version of Edge did you use for this?

[2022-11-08 08:06] ghost commented on #881
Hi laviniat1996, I cloned the latest version yesterday afternoon, so whatever one comes of the server is what I have. I'm fully up and running with 10 nodes all on PoS. When we go to mainnet, this won't be an issue, as I now know the order of things to achieve the end result. Last night was the first time I went to bed before 1am, as at last I have learnt enough to get this from 10 people with var

[2022-11-08 08:06] #881 closed, assigned to nobody

[2022-11-08 17:27] ghost opened #884 "Setting max number of validators on PoS"
# [ Subject of the issue ]
## Description
Good afternoon,
I'm trying to set the maximum number of validators to 60. I have sudo nano genesis.json to add this line. It seems to still be showing a huge number of validators, not the 60. Have I gone wrong somewhere?

"engine": {
            "ibft": {
                "epochSize": 100,
                "max-validator-count": 60,

## Your environment
- OS

[2022-11-09 06:53] amandatsalis opened #886 "Panic: Send On Closed Channel - Docker On Cloud"
## Description
RPC Always Down And Pending Production Block

[code]

## Your environment
- OS and version. : `Ubuntu 4.15.0-194-generic #205-Ubuntu SMP Fri Sep 16 19:49:27 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
- The version of the Polygon Edge.  : `0.6.0`
- Locally or Cloud hosted (which provider). : `Digital Ocean `
- Please confirm if the validators are running under containerized environment

[2022-11-09 08:24] amandatsalis commented on #886
and how to use : server --join /ip4/127.0.0.1/tcp/10001/p2p/16Uiu2HAmJxxH1tScDX2rLGSU9exnuvZKNM9SoK3v315azp68DLPW

can i change or add new validator with costume address? not black hole address ?

[2022-11-09 08:28] JekaMas commented on #886
I believe we need start/stop tests with `race` flag as well

[2022-11-09 09:12] simone1999 opened #888 "genesis.json import and export"
genesis.json import and export
## Description
It seems like currently there is no way to import and export genesis.json files to and from other node architectures.
This prevents from running Polygon Edge for networks that were not initially started with Polygon edge like Ethereum as well as to run diverse node clients for a Polygon Edge network.
I'm running RPC nodes for multiple chains and would

[2022-11-09 11:22] amandatsalis commented on #886
how to use sir ?

[2022-11-09 11:41] laviniat1996 commented on #884
Hi @Nexsuperne101 ,

This is a genesis flag, therefore you need to use this when creating the genesis file.
Example `polygon-edge genesis --max-validator-count 10`. **Please note that this is the number of stakers that can join the validator set in PoS.**

[2022-11-09 11:49] laviniat1996 commented on #886
Hi @amandatsalis ,

Did this happen randomly or was there any action made before? Do you have the steps to reproduce it?

[2022-11-09 12:05] laviniat1996 commented on #888
Hi @simone1999 ,

Thank you for opening this issue.

Unfortunately, we do not support such interoperability. You can only run an Edge network using the genesis file generated within Edge. You also cannot export our `genesis.json` as a geth or parity file.

I will have to close this issue now, but feel free to reach out whenever there is a problem.

[2022-11-09 12:05] #888 closed, assigned to nobody

[2022-11-09 12:09] amandatsalis commented on #886
is randomly im create 1 instance to deploy 5 node using docker compose,

[2022-11-09 12:27] laviniat1996 commented on #886
@amandatsalis Can you please provide the full logs?

[2022-11-09 12:31] laviniat1996 commented on #886
Also, how many txs did you send? The logs say that thetxpool has a lot of enqueued transactions. How did you send them?

[2022-11-09 13:03] ghost commented on #884
Ok, that clears that one up. I managed to use stake.ts to set a 5 million
coin limit per validator. That seems to work quite well, as the maximum
supply will limit the number of possible minimum validators to no more than
100 .
As always, thanks for your help,
Nex

On Wed, 9 Nov 2022 at 11:41, Lavinia Talpas ***@***.***>
wrote:

[2022-11-09 13:18] amandatsalis commented on #886
10k tx. I use bots for transaction testing.  and 5 node validator open port RPC Api, im not create node non-validator

logs docker node :

root@validator:/mnt/volume_sgp1_01/docker# `docker logs -f XXXXXXXXX`

[SIGNAL] Caught signal: terminated
Gracefully shutting down client...
[SIGNAL] Caught signal: terminated
Gracefully shutting down client...

DEBUG :
2022-11-09T13:14:57.429Z [INFO]  polygon.

[2022-11-09 13:34] #884 closed, assigned to laviniat1996

[2022-11-09 14:01] laviniat1996 commented on #884
Hi @Nexsuperne101 ,

I'm glad to hear that my reply was helpful. Feel free to reach out anytime there is an issue. 👍

[2022-11-09 14:55] Kourin1996 commented on #886
@amandatsalis Hello, this issue may have been fixed in this PR https://github.com/0xPolygon/polygon-edge/pull/839, which is not included in the latest release.

[2022-11-09 15:39] Kourin1996 commented on #886
Fixed in this PR https://github.com/0xPolygon/polygon-edge/pull/839 whose change has not been released yet

[2022-11-09 19:11] ghost opened #895 "Slow block time on PoS"
# [ Subject of the issue ]
## Description
Every 5 or 6 blocks (normally 2 seconds each) , we get 2 blocks that take 15 seconds. It only seems to do this on PoS. PoA was 2 seconds for every block. 10 bootnodes. 50 staked validators.
Epoch at 100. 107,000 blocks made. BLS is on.
## Your environment
- OS and version. Ubuntu 20.04 server LTS
- The version of the Polygon Edge.
  (*Confirm the version o

[2022-11-09 23:31] ghost opened #896 "new boot node on PoS"
# [ Subject of the issue ]
## Description
Good evening. Earlier today I added a new bootnode to my PoS chain. The existing 9 from the original genesis all show "we are the proposer" and "syncer". The new 10th node does not. I can't vote it in, as it's not on PoA. I have added the Node ID and IP4 address to the boot node section of all genesis.json on all 10 nodes, yet I can't get the new node to b

[2022-11-10 10:13] mrdernst opened #898 "Registered PoS validator acts as a non-validator"
# Registered PoS validator acts as a non-validator
## Description
I have a up and running 4-bootnode-validator-cluster using PoS. Now I want to add another validator node which is not predefined in the genesis file.

After staking 1 ETH (`npm run stake`) and registering the blskey (`npm run register-blskey`), everything looks fine on the 4-node-cluster side. Also when running `npm run info` the BL

[2022-11-10 12:21] laviniat1996 commented on #895
Hi @Nexsuperne101 ,

Please provide the full logs so we can look into this. Thank you.

[2022-11-10 12:30] laviniat1996 commented on #896
Hi @Nexsuperne101 ,

I think you mean that you want the node to be a validator in PoS. In order to do that, it needs to stake some funds.

This is the staking contracts repo: https://github.com/0xPolygon/staking-contracts

You can find [here](https://wiki.polygon.technology/docs/edge/consensus/pos-stake-unstake#using-the-staking-smart-contract-scripts) a full guide on how to stake funds.

After yo

[2022-11-10 12:32] laviniat1996 commented on #898
Hi @mrdernst ,

Did you make sure the `.env` has all the right parameters? I will try to reproduce this on my end.

[2022-11-10 13:25] laviniat1996 commented on #898
@mrdernst Also, can you please provide the logs of the troublesome node?

[2022-11-10 14:02] ghost commented on #896
Good afternoon,

Thank you for your reply. I unstaked and restaked using the npm run unstake and the npm run stake commands in the staking-contracts directory. I checked the block explorer, and the confirmation message on the screen. Both confirm that the 5 million coin staking fee plus gas has been paid, yet I'm still seeing the same issue. I waited for the next epoch, which is only set at 100.

[2022-11-10 14:20] mrdernst commented on #898
Hi @laviniat1996,

sure, here is my .env:

[code]

Here are the logs from my troublesome node:

[code]

[2022-11-10 14:20] laviniat1996 commented on #896
@laviniat1996 Are you using BLS? If so, did you register the bls key too?

[2022-11-10 14:23] ghost commented on #896
yes, BLS is correctly registered. I double checked the details

[2022-11-10 14:27] ghost commented on #896
The only thing that doesn't match is the node ID. In secrets init it generated a Node ID number, but when I added that to the bootnode section of each node's genesis.json, it flagged an error to say that it expected  16Uiu2HAm62vk8GK5z28PnAj7PecFScR5g8hRnzY84i5G7rfe3omN, but found remote 16Uiu2HAmBBouYgFghQMaDF53n1NSXWWrTtNvHTfHUkkEbzB13Upo. I copied the value it found, put that in the bootnode se

[2022-11-10 14:41] ghost commented on #895
How do I do that please? I've only been using this a couple of weeks now. Before that, I was an Electrical Engineer for 30 years. This is definitely a " learning curve"!

[2022-11-10 14:51] ghost commented on #898
Interesting. That's exactly what mine is doing. I too have an open issue on here.

[2022-11-10 15:12] laviniat1996 commented on #896
@Nexsuperne101  Can you please provide the full logs from that node?

[2022-11-10 15:14] laviniat1996 commented on #895
By the full logs I mean the logs of a node. The logs usually look something like:
[code]

[2022-11-10 15:24] laviniat1996 commented on #898
@mrdernst Did you set the `--epoch-size` yourself when creating the genesis file?

[2022-11-10 15:28] mrdernst commented on #898
yes, I used the `--epoch-size` parameter like so `--epoch-size 50`

[2022-11-10 15:30] laviniat1996 commented on #898
@mrdernst Can you also provide the full logs of a validator node that works as expected please?

[2022-11-10 15:39] mrdernst commented on #898
[code]

[2022-11-10 16:32] ghost commented on #896
Yes, how do I do that please?

[2022-11-10 16:33] ghost commented on #895
Ok, so just a screen dump of the text the node displays then. I will get that to you asap

[2022-11-10 16:37] laviniat1996 commented on #898
@mrdernst  I tried this on my end locally, and it worked. I think it's most likely a peer connectivity issue.

I can see on your logs that the number of validators is  5: `validators=5`, which means that the fifth validator was added.

But, I can also see these messages on the working validator: ` Peer disconnected: id=16Uiu2HAm9NjnhvLEWwJgnT6jpW1LeJZCHYjrJrDCmCbBpqVZrM6k
 ` and `received status f

[2022-11-10 16:49] laviniat1996 commented on #895
@Nexsuperne101 Yes, that would be helpful to figure this out.

[2022-11-10 16:50] laviniat1996 commented on #895
@Nexsuperne101 For the other issue you have currenlty open too.

[2022-11-10 19:24] laviniat1996 commented on #886
Hi @amandatsalis ,

I will close this issue, as it was fixed in the PR mentioned above. But please feel free to reach out whenever an issue pops up.

[2022-11-10 19:24] #886 closed, assigned to laviniat1996

[2022-11-11 20:01] ghost opened #903 "Node 1 stopped, and all other 9 nodes stopped block production"
# [ Subject of the issue ]
## Description
Describe your issue in as much detail as possible here.
Good evening. I have just got back to my office to find that Node 1 stopped with a block sync error, and all other 9 nodes stopped block production.
## Your environment
- OS and version. Ubuntu 20.04
- The version of the Polygon Edge.
  (*Confirm the version of your Polygon edge client by running the

[2022-11-12 09:30] mrdernst commented on #898
Hey @laviniat1996 I tried running it locally too, but it isn't working either.

I used the following commands:

`polygon-edge secrets init --data-dir test-chain-1`

`polygon-edge secrets init --data-dir test-chain-2`

`polygon-edge secrets init --data-dir test-chain-3`

`polygon-edge genesis --consensus ibft --ibft-validator 0xf4138Fc6c3dE546A7B7B1485e55D33456DF82837:0xb8506ee1fd63c9457a5c611463e4

[2022-11-12 13:25] laviniat1996 commented on #903
@Nexsuperne101 can you please provide the logs?

[2022-11-12 13:28] laviniat1996 commented on #898
@mrdernst can you please provide the logs from those nodes?

[2022-11-12 13:57] laviniat1996 commented on #898
@mrdernst How did you stake though? I see there is no premined amount of tokens. You need to have some funds in order to stake.

[2022-11-12 18:30] ghost commented on #903
I am just about to redeploy all 10 nodes on a new genesis script, start as PoA, premine, issue the coins, send 5 million plus gas to each bootnode, stake, then flip it to PoS. The added nodes seem to end up as non-validators, even when the stake is set, and the BLS registered. It only affects the added, not those originally in the genesis script.

[2022-11-12 20:34] laviniat1996 commented on #903
@laviniat1996 I cannot advise you regarding this unless I see the logs. Otherwise, I have no way to know what is going on.

[2022-11-12 20:34] Nexsuperne101 commented on #903
Generating typings for: 3 artifacts in dir: types for target: ethers-v5
Successfully generated 7 typings!
Successfully generated 3 typings for external artifacts!
Solidity compilation finished successfully
Stake: address=0x0000000000000000000000000000000000001001, account=0xA9fBcb5aD371F14944Eb7Bb691D15074387710E2
Account balance: 30000000000000600600000000
ProviderError: not enough gas supplied f

[2022-11-12 20:35] laviniat1996 commented on #903
@Nexsuperne101  Do you have any tokens (coins) on the account from which you want to stake?

[2022-11-12 20:35] ghost commented on #903
Generating typings for: 3 artifacts in dir: types for target: ethers-v5
Successfully generated 7 typings!
Successfully generated 3 typings for external artifacts!
Solidity compilation finished successfully
Stake: address=0x0000000000000000000000000000000000001001, account=0xA9fBcb5aD371F14944Eb7Bb691D15074387710E2
Account balance: 30000000000000600600000000
ProviderError: not enough gas supplied f

[2022-11-12 20:35] ghost commented on #903
I sent 30 million to each, but I get the above error. Does the staking wallet need a few coins as well?

[2022-11-12 20:36] ghost commented on #903
5 million to stake, as set in stake.ts We premined 1 billion successfully, and sent 30 million to all 10 boot nodes. block creation is running

[2022-11-12 20:48] #896 closed, assigned to laviniat1996

[2022-11-12 21:12] laviniat1996 commented on #903
@Nexsuperne101 So, you created a PoA network with 10 nodes, right? Did you use the flag `--ibft-validator` or `--ibft-validators-prefix-path` when generating the genesis file? Also, are you trying to stake from one of those nodes' address?

[2022-11-12 22:03] ghost commented on #903
I was trying to stake from any of the 10. I used the ift-validator flags for all 10

[2022-11-12 23:08] ghost commented on #903
I think I pinned it down . I used the max validators flag in the genesis script. I set it to 150, but on npm run info, it stated mx validators =0. Minimum =0 I have now deleted that flag, and will try again.

[2022-11-12 23:58] laviniat1996 commented on #903
@Nexsuperne101 If you start with PoA mode and want to switch to PoS, follow this guide : https://wiki.polygon.technology/docs/edge/consensus/migration-to-pos . Create the switch and then stake the funds between `deployment` and `from`.

[2022-11-13 00:32] laviniat1996 commented on #903
@Nexsuperne101 Also, do you recall what error did you get when the block production stopped?

[2022-11-13 08:58] ghost commented on #903
It was a block sync invalid signature error. I have it up and running now. 10 validators, all staked, all bls registered. Is it normal that not all of them say "syncer" of the 7 nodes I can see, 6 say syncer, 1 does not. All are correct in the boot node ID section of the genesis.json of all 10 nodes. I have checked with npm run info to confirm they are all staked validators.

[2022-11-13 11:06] mrdernst commented on #898
sorry, forgot to copy the parameter. Edited my previous comment.

[2022-11-13 11:23] mrdernst commented on #898
Here is the log from Node 1:

[code]

Node 2:
[code]

Node 3:
[code]

Restart Node 3 after deleting blockchain folder:

[code]

[2022-11-13 15:12] ghost commented on #895
I reinstalled the 10 nodes. The problem has gone now.

[2022-11-13 15:12] #895 closed, assigned to laviniat1996

[2022-11-13 20:29] ghost opened #905 "can I use a fork of the staking-contracts repo for commercial applications?"
Good evening, I'd like to fork the staking contracts repo, to set the number of coins required to stake at 5 million. Is there a license required for a commercial project, or any credit needed to be given.

Thanks.

[2022-11-14 08:53] #905 closed, assigned to nobody

[2022-11-14 14:11] laviniat1996 commented on #903
@Nexsuperne101 Did you set an `epoch-size`?

[2022-11-14 17:11] laviniat1996 commented on #898
@mrdernst did you use a certain version or the develop branch to test the chain locally?

[2022-11-14 17:16] mrdernst commented on #898
@laviniat1996 I used the `develop` branch by running the commands documented here on the 8th November: https://wiki.polygon.technology/docs/edge/get-started/installation#building-from-source

I also tried to use the tag `v0.6.1`

[2022-11-14 21:18] ghost commented on #903
No, I didn't. I changed it with sudo nano genesis.json on all 10 nodes. I
did find the epoch size caused exactly this error when I reinstalled it,
and then went to sync a new node. Sometimes the error language is a bit
confusing for me, but the staking was done, PoS migration was successful on
all the other nodes, so epoch value was the only other thing I changed that
it could have been.

I take i

[2022-11-14 21:38] laviniat1996 commented on #903
@Nexsuperne101 Did you manage to stake from all validators between `deployment` and `from` when you made the switch? If you didn't, then the stakers added after the from block will be added when the new epoch is hit. The epoch-size by default is `100000` blocks. You can change this when you create the genesis file, by using the genesis flag :
`genesis [--epoch-size EPOCH_SIZE]`
example: `genesis -

[2022-11-15 06:21] laviniat1996 commented on #898
@mrdernst I have tested this locally. I used the same exact commands provided by you. On my end, everything worked as it was expected. The third validator acted properly after staking. I've let the chain run for 200+ blocks without any problem.
This means that this is not an actual Edge issue, but most likely it has to do with your own setup.
You can see this error:
[code]
It looks again like a pe

[2022-11-15 07:08] mrdernst commented on #898
@laviniat1996 just to make sure that I stake correctly:

I premine to a wallet of my choice and I use the private key of this wallet to stake, right?
I don’t have to use a special wallet, the node itself or something like that correct?
The only connection between the stake and the node is the registration of the BLS-Key, right?

[2022-11-15 07:40] laviniat1996 commented on #898
@mrdernst Yes, you can stake from an address that partains to a node that you created. You premine it so it has some funds to stake. In your example, you stake from node 3. So you use in the `.env` the bls public key from node 3, and you got to test-chain-3 -> consensus ->validator. key for the private key (make sure that you use the prefix 0x).

The peers find each other via bootnodes.

[2022-11-15 08:48] ghost commented on #903
I managed to get 9 out 10 done, but node 2 needed a resync, so that was
successfully re-added later. Epoch is set to 50. I watched it go from
non-validator to validator as the next epoch started. I think I have it
running as intended. Only one node doesn't show "syncer", all the others
do. All nodes show "we are the proposer".

On Mon, 14 Nov 2022, 21:38 Lavinia Talpas, ***@***.***> wrote:

[2022-11-15 10:04] mrdernst commented on #898
@laviniat1996 thank you very much! So it was a missunderstanding on my side...
Using the nodes wallet for staking was the solution for my problem. It would be great if you could write into the docs, that the staker can only be the node itself 😊

Thank you again and have a great day! ☀️

[2022-11-15 10:04] #898 closed, assigned to laviniat1996

[2022-11-15 12:06] laviniat1996 commented on #898
@mrdernst You are very welcome 😊 Feel free to reach out anytime there's an issue.

And thank you for your feedback about the docs, I will look into it!

[2022-11-15 12:09] laviniat1996 commented on #903
@Nexsuperne101 Can you recall if you did something different on that node? You can run` npm run info` and see if it is on the staking list.

[2022-11-15 12:12] laviniat1996 commented on #813
Hi @avenbreaks ,

If this issue is still relevant, please let us know. Otherwise, it will be closed.
Thank you 🙏

[2022-11-15 12:24] laviniat1996 commented on #903
@Nexsuperne101 If all the nodes show `block committed` and `we are the proposer` means that they are validators.

[2022-11-15 13:56] ghost commented on #903
I ran npm run info, and all nodes and BLS keys for the 10 are registered.
Why do some say syncer, and this particular one does not? Is it anything to
worry about? I'm just trying to make sure we are ready for the next step.

Thanks
Nex

On Tue, 15 Nov 2022 at 12:24, Lavinia Talpas ***@***.***>
wrote:

[2022-11-15 13:58] laviniat1996 commented on #903
@Nexsuperne101 can you please post the logs from that node?

[2022-11-15 14:03] ghost commented on #903
2022-11-15T14:01:40.672Z [INFO]  polygon.server.ibft.consensus: sequence started: height=95871
2022-11-15T14:01:40.672Z [INFO]  polygon.server.ibft.consensus: round started: round=0
2022-11-15T14:01:43.057Z [INFO]  polygon.blockchain: new block: number=95871 txs=0 hash=0x95bcec5290da66e22c69940628ff5290afb391d26a9eea1cacfd9d1665178cfe parent=0xc3815cbeee98d2fc137e537b6c9d00bd7893b6f8afb9bca7cdb6da

[2022-11-15 14:33] laviniat1996 commented on #903
@Nexsuperne101 If you are refering to this message  `block already inserted: block=300 source=syncer`, then you don't have to worry about it. It just means that the block was already added by another validator, so it jumps to the next block.

Regarding your logs, they look perfectly fine and your validator is working as it is supposed to 👍

[2022-11-15 14:33] laviniat1996 commented on #903
@Nexsuperne101 I will close this issue now, as your chain runs okay. Please feel free to reach out whenever there is an issue. 🙏

[2022-11-15 14:35] #903 closed, assigned to laviniat1996

[2022-11-15 14:49] ghost commented on #903
Thank you for your help, it's much appreciated.

[2022-11-15 16:23] #813 closed, assigned to ivanbozic21

[2022-11-15 21:01] ghost opened #917 "boot nodes get rewards, but staked validators don't seem to"
# [ Subject of the issue ]
## Description
Describe your issue in as much detail as possible here. 2.5 hours ago we set up 10 bootnodes and 10 staked validators (using the 0x00000000000000000001001 address). The bootnodes get more coins every few minutes, but so far the staked validators have received none. All stakers and bootnodes have 5 million coins in each staked wallet, so it should be roughl

[2022-11-15 21:13] laviniat1996 commented on #917
@Nexsuperne101 Did you generate keys for 10 nodes in the begining? Does your network have only 10 nodes? I suppose you don't have 20 nodes, right?

[2022-11-15 21:23] ghost commented on #917
I generated keys for 10 nodes only, which are the 10 boot nodes. Then I flipped from PoA to PoS, put 5 million coins into each boot node, went to PoS successfully. Now we are staking 5 million coins from each staker wallet to the 0x0000000000000000000000000000000000001001
address via a DApp. Is this not right? Does each non-validator need a non-validator node, or is staking enough?

[2022-11-15 22:05] laviniat1996 commented on #917
@Nexsuperne101 Those 10 nodes, that you set up as bootnodes, are the stakers. If you used the staking contracts repo to stake from them, then the rewards are stored on the address of each validator.

A bootnode is just a simple node that allows peers to discover each other. Also, not all nodes need to be bootnodes. When you generate the keys for the nodes, you can choose which ones of those to act

[2022-11-15 22:16] ghost commented on #917
thanks for your reply. So do I need to set up a non validator node for each one person that wants to stake? But instead of altering the genesis.json with the bootnode details "ip4/1.2.3.4/........../16ghfdjghdjlfgdhjk" line, they just create the .env file, add the staking-contracts details and then npm run stake and npm run register-blskey?

[2022-11-15 23:20] laviniat1996 commented on #917
@Nexsuperne101 You don't need to set up a non-validator node.

If you start with 10 validator nodes on PoA, you can still stake from them and use them as validators when you switch to PoS.
Please note that whenever you generate keys for a node before creating the genesis file, it automatically becomes a validator. You don't need to set a node as  bootnode in order to be a validator.

After the gen

[2022-11-16 15:26] amandatsalis opened #920 "Where gas fee received from user transaction?"
Where gas fee received from user transaction?
## Description

Question 1 :
i am case study about blockchain in university, im trying to create blockchain in localhost, but i not understand where gas fee from user or user create smartcontract is pay gas fee, but where gas fee send ? to null address?

Q2 :
can i setting for received gas fee from user to my address ?

Q3 : and how to add validator wi

[2022-11-16 16:41] #920 closed, assigned to nobody

[2022-11-17 11:03] Adeel-trimulabs opened #924 "Miner Address always remains 0x00000... in blocks data"
## Description
I have made a fully synced polygon node using binaries (heimdall and bor) and use its RPC point to get blockchain,s data.
Trying to get information about miner of blocks in polygon. For this I use web3 methods. All information about block from get_blockByNumber, displays as expected except the miner address, the miner hash should be "the address of the beneficiary to whom the mining

[2022-11-17 14:48] laviniat1996 commented on #924
Hi @Adeel-trimulabs ,

Thank you for opening this issue.

I don't see any mention about Polygon Edge here. Did you use Edge in any of this?

[2022-11-17 15:31] Adeel-trimulabs commented on #924
@laviniat1996 I set up a polygon node using [polygon.technology](https://wiki.polygon.technology/docs/develop/network-details/full-node-binaries) and by hitting this rpc `eth_getBlockByNumber` I can get every other field as expected but didn't get miner's address as shown in [polygon.technology.rpc_commands](https://wiki.polygon.technology/docs/edge/get-started/json-rpc-commands) . Infact miner's

[2022-11-17 16:17] laviniat1996 commented on #924
@Adeel-trimulabs This is the repo for [Polygon Edge](https://wiki.polygon.technology/docs/edge/overview/).  As you presented the issue, looks like you didn't use Edge for creating the node. You used Heimdall and Bor.

Repo for Heimdall: https://github.com/maticnetwork/heimdall/tree/v0.2.12
Repo for Bor: https://github.com/maticnetwork/bor

I will close this issue now, because it is not Polygon Edg

[2022-11-17 16:17] #924 closed, assigned to laviniat1996

[2022-11-18 06:09] scalalang2 opened #929 "Failed to parse multiaddr"
# Failed to parse multiaddr
## Description
What I'm trying to do is to run polygon nodes on localhost with `docker`.
It seems that polygon only accept the `multiaddr` with valid `ipv4` address.

[code]

[2022-11-18 06:14] scalalang2 commented on #929
I found that polygon edge also support dns.
[code]

[2022-11-18 06:16] #929 closed, assigned to nobody

[2022-11-18 13:13] reddigszymon opened #932 "Polygon edge - Chainbridge"
# Trying to create a bridge between my Polygon Edge Blockchain and Polygon Mumbai
## Description
I am trying to create a bridge between mumbai and my polygon edge network, but when I try to turn on the relayer it "cannot fetch the code" from my blockchain (even though I deployed all the necessary contracts).

## Your environment
- OS and version: MacOS 13.0.1 (22A400)
- The version of the Polygon

[2022-11-18 15:05] amandatsalis opened #933 "Insufficient gas fund"
How to configure gas
## Description
im trying to send but metamask not respond sending tokens im checking logs `insuficient gas fund + value` and my node response spam get_BlockByNumber

[code]

[code]

## Expected behavior
already send to target address

## Logs
[code]

[2022-11-18 15:16] ivanbozic21 commented on #932
Hi @reddigszymon

Please know that this is Polygon Edge issue board, and for that error message you will have to submit an issue to Chainbridge repository board if you still receive this error message correctly following our Chainbridge instructions:

https://github.com/ChainSafe/chainbridge/

[2022-11-18 15:17] #932 closed, assigned to nobody

[2022-11-18 15:46] drandall101 commented on #845
any upcoming fix?

[2022-11-18 16:26] laviniat1996 commented on #933
Hi @amandatsalis ,

Did you import the private key of the premined account to metamask, and then send from it?

[2022-11-19 09:55] amandatsalis commented on #933
solved maam,

[2022-11-19 10:49] laviniat1996 commented on #933
@amandatsalis Thank you for letting us know. I will close this issue now, but feel free to reach out whenever there's a problem.

[2022-11-19 10:49] #933 closed, assigned to laviniat1996

[2022-11-19 10:50] laviniat1996 commented on #929
Hi,@scalalang2 ,
I'm glad you got this solved and our docs were helpful to you 👍

[2022-11-19 20:21] Moka51 opened #936 "Peer connected, but dont start sealing blocks."
# [ Subject of the issue ]
## Description
I have two instances in two diferentes VPS, one instance have 3 nodes and the other instance run only 1.
All data dir have been properly initialize and the peers are connected between VPS. Firewall have been disable and ports open via UFW in both VPS.
## Your environment
- OS and version. Ubuntu 28.04
- The version of the Polygon Edge.    Last Branch.
  (*

[2022-11-20 04:25] amandatsalis opened #937 "failed extract ECDSA Privatekey"
# Network Stress Testing
## Description
cannot to test TPS in my local blockchain

## Steps to reproduce
`polygon-edge secrets init --data-dir tps`

`export LOADBOT_0x57e97056A0d559A95E8c4BF8E1ACDA595cf5E329=0xa720d2fb42e143ad2fec877873842c194ff819d6ade03f340e40f5d0e920a33cd234a25ff9f1e53ef61a504f04e73c36`

[code]

## Logs
`an error occurred while running the loadbot: failed to extract sender acco

[2022-11-20 17:16] laviniat1996 commented on #937
Hi @amandatsalis,

 Please note that regular performance testing has been paused from release 0.4.1 due to consensus protocol changes that are being implemented. The loadboat will be soon removed from our codebase.

[2022-11-20 17:16] #937 closed, assigned to laviniat1996

[2022-11-20 17:17] laviniat1996 commented on #936
Hi @Moka51 ,

It looks that there is a peer connecitvity issue. The peers find each other, but don't seem to connect to each other, thus not producing blocks. Please check your network setup and your ports.

[2022-11-20 21:21] ghost opened #940 "Exploit causing excessive drive space usage."
# [ Subject of the issue ]
## Description
Describe your issue in as much detail as possible here. Excessive space needed for blockchain image due to exploit? What are the space requirements?
![Screenshot_20221120-211616](https://user-images.githubusercontent.com/117119320/202926820-d14f18dc-bb54-47f1-819b-178c1c630421.png)

[2022-11-20 21:29] #940 closed, assigned to nobody

[2022-11-21 09:23] ivanbozic21 commented on #845
Hi @drandall101

The following issue is being reviewed by our dev team and we expect to provide you with an update by the end of this week.

[2022-11-21 09:25] #917 closed, assigned to laviniat1996

[2022-11-21 10:22] ghost opened #948 "Unable to build proposal after restart"
# [ Subject of the issue ]
## Description
Describe your issue in as much detail as possible here.

## Your environment
- OS and version.
- The version of the Polygon Edge.
  (*Confirm the version of your Polygon edge client by running the following command: `polygon-edge version --grpc-address GRPC_ADDRESS`*)
- The branch that causes this issue.
- Locally or Cloud hosted (which provider).
2022-11-

[2022-11-21 11:40] laviniat1996 commented on #948
@Nexsuperne101  How many nodes and bootnodes? What are the steps to recreate this?

[2022-11-21 11:55] ghost commented on #948
Hi, Version 0.6.1. 2 nodes, 10 bootnodes. All I did was Ctrl c on each node
to stop, then edited the seal line to include 9 more zeros (so
--price-limit 7150000 became --price-limit 7150000000000000)
So far, we are on Round=8 and 7 out of 10 bootnodes have updated the seal line to the new value.

Thanks,
Nex

On Mon, 21 Nov 2022 at 11:40, Lavinia Talpas ***@***.***>
wrote:

[2022-11-21 12:02] laviniat1996 commented on #948
@Nexsuperne101 Is the network producing blocks at the moment? Are the nodes that updated to the new value working as expected?

[2022-11-21 12:04] ghost commented on #948
no, the chain is now down. Awaiting restart. Currently at round=8

[2022-11-21 12:08] ghost commented on #948
round 9 now

[2022-11-21 12:27] laviniat1996 commented on #948
@Nexsuperne101 please provide an update after a few hours, after the chain runs for more time

[2022-11-21 12:28] ghost commented on #948
OK thanks, should it eventually restart? What does Round=x go up to?

[2022-11-21 12:33] laviniat1996 commented on #948
@Nexsuperne101 what did you mean by this "7 out of 10 bootnodes have updated the seal line to the new value"?

[2022-11-21 12:38] ghost commented on #948
@laviniat1996 out of the 10 bootnodes. 7 have shut down, added the extra 9 zeros to the --price-limit and then tried to restart. The chain is still down at the moment.

[2022-11-21 15:27] ghost commented on #948
ubuntu@ip-172-31-26-170:~/polygon-edge$ polygon-edge server --data-dir ./node2 --chain genesis.json --libp2p 0.0.0.0:1478 --jsonrpc 0.0.0.0:10002 --price-limit 7150000000000000 --nat 54.82.93.215 --seal
2022-11-21T15:26:28.855Z [INFO]  polygon.server: Data dir: path=./node2
2022-11-21T15:26:28.914Z [INFO]  polygon.blockchain: Current header: hash=0x0082bc0758282e85ac651b1d792897cc9c7d63084a1b1531c

[2022-11-21 17:24] ghost commented on #948
@laviniat1996 I have just completely resynced node 5. It is still says "unable to build proposal on Round=4. I can't get the chain restarted. Node 2 is still resyncing

[2022-11-21 17:36] ghost commented on #948
This is Node 5 2022-11-21T17:16:38.266Z [INFO]  polygon.blockchain: new block: number=304782 txs=0 hash=0x0d81395e90214743a29443eaf8ed32f12437f47c1cccdbe79f69293bd1d85cc3 parent=0x17d2d4c0844e8bb48ecff8e59e89a950ba13ccf9ba40943970f60100bc158503 generation_time_in_seconds=2                                                                                                2022-11-21T17:16:38.317Z [INFO]

[2022-11-21 17:44] ghost commented on #948
Node 4 also says "unable to build propsal"

[2022-11-21 17:53] laviniat1996 commented on #948
@Nexsuperne101 did you change anything else in the command for starting the node (besides price limit)? I wasn't able to reproduce it on my end?

[2022-11-21 17:56] ghost commented on #948
polygon-edge server --data-dir ./node6 --chain genesis.json --libp2p 0.0.0.0:1478 --jsonrpc 0.0.0.0:10002 --price-limit 7150000000000000 --nat 18.191.183.90 --seal

[2022-11-21 17:57] ghost commented on #948
@laviniat1996 Node 2 will be resynced in 2 hours. All other nodes are at Round=9

[2022-11-21 18:28] ghost commented on #948
"genesis": {
        "nonce": "0x0000000000000000",
        "timestamp": "0x0",
        "extraData": "0x0000000000000000000000000000000000000000000000000000000000000000f902d7f902d0f8469423d1b08db47659b3b52f2ac2834fdf9761ffba4cb0ad85c4ac08e8579872ce2b7c6da883e4b2d422f214e147b741ef565811bb1738a00916d6d801cb56666132c64695c8a0f8469418a67dec11ba7e156e50c372d2a2a87bb06f94ccb0a88b158cd269bb66857769b12d53

[2022-11-21 18:29] ghost commented on #948
I won't put it all in there. There is the standard bootnode and chain name sections in genesis.json

[2022-11-21 18:56] laviniat1996 commented on #948
@Nexsuperne101 Thank you for all the info. I am pretty sure this is the same issue reported by other clients ([this one](https://github.com/0xPolygon/polygon-edge/issues/845)) . We are looking into it, and you can expect an update on this by the end of the week.

[2022-11-21 19:15] ghost commented on #948
@laviniat1996 Ok, thanks for your reply. I will let the boss know.

[2022-11-21 22:41] ghost commented on #948
@laviniat1996 I managed to sort this out. Whether it's the right solution or not, it had to get working again. I got most of the nodes to alter the genesis.json to PoA. I then extracted the funds from the private key details in the .env of staking-contracts, as the data-dir on the node had been erased in a bid to try and get it working again. I have now changed the Node ID on all 10 nodes, updated

[2022-11-22 06:54] #948 closed, assigned to laviniat1996

[2022-11-22 07:49] laviniat1996 commented on #948
@Nexsuperne101 That is the right way to stop them, so there shouldn't be any problem with that. What do you mean by getting the nodes to alter the genesis file to PoA?

[2022-11-22 08:14] ghost commented on #948
The chain wouldn't restart, even after waiting so long that Round=10. Sudo
nano genesis.json and then edit the latest PoS to PoA, put it back into PoA
mode. Then it restarted the chain. I don't know why it won't restart in
PoS. I was getting an "unauthorised proposer" error, and snapshot error on
node 5. I've now deleted the blockchain image off of that, and I hope that
a resync will sort this out

[2022-11-22 15:47] vcastellm opened #956 "No need to return `bool` here as we are not checking it"
https://github.com/0xPolygon/polygon-edge/blob/db63825cc098961d90459682885d637ad2b8ab61/consensus/polybft/consensus_runtime.go#L661

It's enough to return `err/nil`

[2022-11-22 18:22] ghost commented on #948
Unathorised proposer was cleared when I deleted the consensus folder on node 5. All works perfectly now. Obviously amended the details in the .env file

[2022-11-23 08:23] trimixlover commented on #845
Hi @dankostiuk
Sorry to see you witness this kind of issue as its hard one to debug.

To provide you with the possible solution quicker I have a request.
Can you please log the extra data from the header before unmarshaling?

You would be doing that by debugging/logging out header.ExtraData and the value of IstanbulExtraVanity on the line prior to this [line](https://github.com/0xPolygon/polygon-e

[2022-11-24 12:17] cyborgdennett opened #961 "[Question] Performance reports"
# [ Amount of machines used in performance report ]
## Description
In the performance reports, I see under Host Configuration: c6a.48large. This is a 192 core machine. [link](https://wiki.polygon.technology/docs/edge/performance-reports/test-history/test-2022-07-04)
My question is as follows: Do each of the 4 Nodes use a single 192 core machine, or are the 4 nodes running on the same 192 core mach

[2022-11-24 14:22] #961 closed, assigned to nobody

[2022-11-26 18:52] ghost opened #968 "chain stuck synchronising for new validators"
# [ Subject of the issue ]
## Description
Chain syncs to block 37000, and then has an error about "not enough seals". Additional validator was added at that point.

## Your environment
- OS and version. Ubuntu 20.04
- The version of the Polygon Edge.    0.6.1
  (*Confirm the version of your Polygon edge client by running the following command: `polygon-edge version --grpc-address GRPC_ADDRESS`*)
-

[2022-11-27 08:18] #968 closed, assigned to nobody

[2022-11-28 05:00] laviniat1996 commented on #936
Hi @Moka51 ,

It's been quite a while since we heard from you. Is this issue still present?

[2022-11-28 05:36] amandatsalis opened #969 "Miner Address always remains 0x00000... in blocks data"
# Miner Address Always Remains NullAddress 0x0000000
## Description
I've created a polygon blockchain and used its RPC points to get blockchain data. Trying to get information about block miners in polygons. For this I use the web3 method. All information about the block from get_blockByNumber, is displayed as expected except for the miner's address, the miner's hash should be "recipient address t

[2022-11-28 06:00] laviniat1996 commented on #969
Hi @amandatsalis ,

This is actually expected behaviour. Please check again the replies from our previous discussion: https://github.com/0xPolygon/polygon-edge/discussions/921 . We cannot change this, you can get the proposer by extracting that info from the block header's extra data field.

[2022-11-28 06:00] #969 closed, assigned to laviniat1996

[2022-11-28 13:14] amandatsalis commented on #969
what the EIPs type for polygon edge?

[2022-11-28 20:23] ghost opened #973 "no available slots. Chain stalled after adding 41 validators to 10 bootnodes PoS"
# [ Subject of the issue ] Chain stalled after adding validators
## Description
Describe your issue in as much detail as possible here. Chain has stopped working after adding 40 validators to 10 boot nodes

## Your environment
- OS and version. Ubuntu 20.04
- The version of the Polygon Edge.     0.6.1
  (*Confirm the version of your Polygon edge client by running the following command: `polygon-ed

[2022-11-29 02:41] ghost commented on #973
022-11-29T02:38:59.455Z [INFO]  polygon.server.ibft.consensus: round started: round=5
2022-11-29T02:39:09.441Z [ERROR] polygon.network.discovery: Failed to add new peer to routing table: peer=16Uiu2HAmEA8rK7sC82WVBEL1DbsmB7dCwgkQU6oPsKuT8ahZzDvQ err="peer rejected; insufficient capacity"
2022-11-29T02:39:09.441Z [ERROR] polygon.network.discovery: Failed to add new peer to routing table: peer=16Uiu

[2022-11-29 06:30] ghost commented on #973
I have tried to set server --max-peers 80  in all the bootnodes, as from what I read on the CLI page, the default if not specified is 40. I believe that with 10 boot nodes, and 40 validators on POS, we hit that limit. No more slots was the initial error. We converted 3 validators to boot nodes last night, added their details to the genesis.json and restarted all the bootnodes. We couldn't get the

[2022-11-29 06:31] ghost commented on #973
@laviniat1996 please can you help?

[2022-11-29 07:15] ghost commented on #973
2022-11-29T05:37:30.967Z [WARN]  polygon.server.dispatcher: Transaction with hash [0x4d260ab6e815bca90edd8ff9d4e5d0f89e690899e95f80b4e2c420e35b749f51] not found
2022-11-29T05:37:30.979Z [WARN]  polygon.server.dispatcher: Transaction with hash [0x216b71d7e736c444f7866aceaeea451b0cba083d88f22fa592f955ff0f9a5142] not found
2022-11-29T06:30:14.533Z [INFO]  polygon.network: Peer disconnected: id=16Uiu2

[2022-11-29 09:55] laviniat1996 commented on #973
@Nexsuperne101 PoS it is, right? What Edge version? You have 40 validators, from which 10 are bootnodes?

[2022-11-29 10:00] ghost commented on #973
@laviniat1996 50 validators. 10 are bootnodes. edge 0,6,1 We were getting a maximum slots warning for a while, and then at the 51st peer, it locked up and we got the errors above

[2022-11-29 10:02] ghost commented on #973
We now have assigned 14 bootnodes from the existing 50, updated the genesis files on everything to reflect the extra 4, as with the chain down, we can't even unstake to remove one. No maximum slots have been set. and in the text it says 4096 is the default. We have a couple of stray validators not signed out, but 14 bootnodes. Should the chain just restart? We have all 14 bootnodes with the update

[2022-11-29 20:15] dankostiuk commented on #824
Hey @laviniat1996 , just as an update - we pulled in those changes into our testnet and mainnet but still seem to encounter this issue every so often. Upon restarting our service we encounter a blank `consensus/metatada` file about 20% of the time and have to manually fill it in and restart in order for the validator to continue working properly.

[2022-11-29 20:47] ghost commented on #973
@laviniat1996 we now have just the 14 bootnodes trying to restart. Some are on round 12, whilst others are on round 10. I think I worked out that round 10 lasts for 2hrs52 minutes, and round 11 lasts for 5 hours 40 minutes.When they all are at round 12, will the blockchain restart?

[2022-11-29 21:07] ghost commented on #973
![image](https://user-images.githubusercontent.com/117119320/204647667-ed0a4a55-156d-4933-9fec-e0dd2b5660a3.png)

[2022-11-30 00:25] laviniat1996 commented on #973
@Nexsuperne101 You might have reached the maximum peer connections allowed. Can you try to start each node by adding this flag to the server command `--max-peers 60` (the node staring command)?

[2022-11-30 07:57] ghost commented on #973
@laviniat1996 We restarted with the max-peers flag set. We are now on Round 12. Some nodes didn't enter round  12 at the same time. Some were on Round 10 when Round 12 started. The last node will move to round 13 at 15:32:15UTC. Should it restart then? If not, we are doing a manual restart at 20:00UTC, when we can get all node operators around the globe to be in the same place at the same time.
Th

[2022-11-30 09:19] laviniat1996 commented on #973
@Nexsuperne101 did you add the flag for each node?

[2022-11-30 09:47] ghost commented on #973
@laviniat1996 yes. All the 14 bootnodes, and we will do the 36 validators as they rejoin the network. At the moment, we are just trying to get the chain restarted before adding anything else.

[2022-11-30 10:03] laviniat1996 commented on #973
You porbably see that error because the maximum number of peer connections was reached. This is why I asked you to add to flag and restart each node with it. To upgrade the number of max connections so that peers can reach each other.

[2022-11-30 10:07] ghost commented on #973
@laviniat1996 that does make sense to me as well. 10 Bootnodes, serving 40 validators. It was fine until we added 41. It was a maximum slots warning that was coming up, but maximum peers is what was actually the issue. Now we should be able to add 74 in total (14 boots plus 60 validators).

Thanks for your help!

[2022-11-30 11:35] AgusVelez5 opened #979 "Decode extraData key from block header"
# Decode extraData key from block header
## Description
I am trying to decode the extraKey field of the header of a block to find out the proposer of that block but I am finding it impossible.

I try to do this because of what they say in the [documentation](https://wiki.polygon.technology/docs/edge/faq/validators/#why-do-the-json-rpc-commands-eth_getblockbynumber-and-eth_getblockbyhash-not-return

[2022-11-30 13:20] nileshpanhale opened #980 "Can not deploy smart contract on local polygon edge network"
# [ [ERROR] polygon.server.dispatcher: failed to dispatch: method=eth_getCode err="unable to fetch code" ]
## Description
After polygon edge network setup on local as instructed in documents, we are trying to deploy "Hello World" solidity smart contract using Truffle with below network config in truffle.config file.

polygonEdge: {
      provider: () => new HDWalletProvider(privateKey, `http://loc

[2022-11-30 14:22] laviniat1996 commented on #980
Hi @nileshpanhale ,

Thank you for reporting this. There was an issue with ethGetCode where it would give you that error instead of the actual code. It was fixed with [this PR](https://github.com/0xPolygon/polygon-edge/pull/976), which will be soon merged into `develop `, and the fix will be included into a future release.

[2022-11-30 14:24] laviniat1996 commented on #979
Hi @AgusVelez5 ,

Thank you for opening this issue.
To obtain the actual proposer you would indeed need to extract the info from the extraData field. Unfortunately, at the moment we do not have an RLP decoder to help you with this. I will check this out and probably give you an update next week, if we can provide anything for this or not.

[2022-11-30 15:40] ghost commented on #973
@laviniat1996 We have just all rolled into Round 13. The block creation still hasn't restarted. We are going for a manual reset in 4 hours 20 minutes.

[2022-11-30 17:03] AgusVelez5 commented on #979
Hi @laviniat1996, thanks for the reply

I understand, I will wait for your answer then. One more question, although you do not have your own implementation of the RLP decoder, would you have any idea if there is any implementation of someone else or something I could look at in the meantime?

[2022-11-30 19:19] #980 closed, assigned to laviniat1996

[2022-11-30 23:30] dankostiuk opened #986 "Non-validating peer shows many "not enough seals to seal block" messages during sync"
# Non-validating peer shows many "not enough seals to seal block" messages during sync
## Description

After migrating to v0.6.0, we've observed  there to be many of the following WARN messages:
[code]

## Your environment
- OS and version. `Ubuntu 20`
- The version of the Polygon Edge.   `v0.6.0`
- The branch that causes this issue. `develop`
- Locally or Cloud hosted (which provider). `AWS ec2`