[2021-03-27 15:41] ferranbt opened #18 "Remove unnecessary blockchain interface methods in Jsonrpc"
The JsonRPC module uses State and BeginTx methods https://github.com/0xPolygon/polygon-sdk/blob/develop/jsonrpc/blockchain.go#L41 to be used during gas estimation. However, this methods can be replaced by the methods GetAccount and ApplyTxn.

[2021-03-27 15:44] ferranbt opened #19 "Fix JsonRPC request conversion"
Due to the use of alias methods in the Jsonrpc module, the dispatcher is unable to reflect the Jsonrpc request into Go structs.

[2021-03-27 15:45] ferranbt opened #20 "Add e2e tests for simple transfer transactions"
We should add an e2e test that transfers ether between two accounts.

[2021-03-31 11:47] zivkovicmilos commented on #18
Solved with [commit](https://github.com/0xPolygon/polygon-sdk/commit/9931227dbbd634616b48e7fd117e7036ee282d4f) 👍

[2021-03-31 11:47] #18 closed, assigned to zivkovicmilos

[2021-03-31 13:01] zivkovicmilos commented on #19
Fixed in the improved libp2p branch:
https://github.com/0xPolygon/polygon-sdk/blob/feature-libp2p-improv/jsonrpc/dispatcher.go#L232

[2021-03-31 13:01] #19 closed, assigned to nobody

[2021-04-02 15:59] ferranbt opened #23 "Discovery peers e2e tests"
Implement a new e2e case for the network discovery of new nodes.
- Create a n number of nodes.
- Join the nodes in serial: A -> B -> C
- Wait for one minute, after that, all the nodes should know each other.

Before we implement the test we need to fix the Peers operator methods ([here](https://github.com/0xPolygon/polygon-sdk/blob/v3/minimal/system_service.go#L79)) to use the [new](https://github

[2021-04-02 16:04] ferranbt opened #24 "Add e2e test to check the premined balance"
Small e2e test to validate that the balance endpoint works.

Steps:
- Create a testserver with some dummy premined account.
- Use the GetBalance method to query the account.

[2021-04-02 16:07] ferranbt opened #25 "Add custom operator protocols on the modules"
Right now, minimal defines all the grpc protocols for all the modules in system.proto (peers, blockchain, txpool...). We should pass to each module the reference to the grpc server and let each module define his own system.proto spec.

[2021-04-09 12:27] zivkovicmilos commented on #24
Solved with commit [96e3f65](https://github.com/0xPolygon/polygon-sdk/commit/96e3f65d9d429b02fabf6558838b4e05e493d356) 👍

[2021-04-09 12:27] #24 closed, assigned to zivkovicmilos

[2021-04-12 10:01] ferranbt opened #28 "Limit to MaxPeers the incoming connections"
## [Subject of the issue]

There is a MaxPeers value that limits the current number of peers we are connected or pending to be connected (in handshake). However, this limit is only respected for outbound connections. We should limit the inbound connections too, this is, if a new connection arrives and we have MaxPeers we should not accept the connection.

### Description

Describe your issue in as

[2021-04-12 10:19] zivkovicmilos commented on #20
Solved with [commit](https://github.com/0xPolygon/polygon-sdk/commit/fccc126f7e505e803bdddd2ccd313dd6b301b25c) 👍

[2021-04-12 10:19] #20 closed, assigned to zivkovicmilos

[2021-04-13 04:22] Kourin1996 commented on #23
Solved with commit https://github.com/0xPolygon/polygon-sdk/pull/30/commits/8dda751c8ba9b186c92e7ee2c3a73b86ecbc4b1e

[2021-04-13 04:22] #23 closed, assigned to Kourin1996

[2021-04-14 13:45] Kourin1996 commented on #28
Solved with commit https://github.com/0xPolygon/polygon-sdk/pull/33/commits/d856c6aaecc6a1fb1048bf59279dacd8ad5c50d9

[2021-04-14 13:45] #28 closed, assigned to Kourin1996

[2021-05-14 09:57] zivkovicmilos commented on #25
This was closed by @ferranbt a while ago 👍

[2021-05-14 09:57] #25 closed, assigned to ferranbt

[2021-05-27 02:54] huahuayu opened #42 "where is Polygon SDK Documentation github link"
hi, where is Polygon SDK Documentation github link so people can participate in the contribution.

[2021-05-27 10:55] zivkovicmilos commented on #42
Hello, and thank you for reaching out.

Currently we don't have any set guidelines for contributing to the documentation (in terms of a template / form you'd need to fill out in order to contribute), so you could just create a PR with edits for us to review. Just create a PR, and we'll take a look.

This is the [link to the documentation repo](https://github.com/0xPolygon/polygon-sdk-docs).

If yo

[2021-05-27 10:55] #42 closed, assigned to zivkovicmilos

[2021-05-27 11:16] huahuayu commented on #42
Okey, get it.

Miloš Živković ***@***.***>于2021年5月27日 周四下午6:55写道：

--
send from phone

[2021-05-30 11:44] afeezaziz opened #46 "ethjs-query formatting query for sendRawTransaction"
When using Metamask and connected to the JSON-RPC url(as per demo video), when sending ETH, the metamask did not transfer any ETH as the error of sendRawTransaction failed to format 'undefined'.

Exact error is as below:
<img width="367" alt="Screenshot 2021-05-30 at 7 44 46 PM" src="https://user-images.githubusercontent.com/677026/120102897-b369e100-c17f-11eb-9557-3b120ed04678.png">

[2021-06-02 09:14] Romannovak opened #49 "message ServerStatus { int64 network = 1; string genesis = 2; Block current = 3; string p2pAddr = 4; message Block { int64 number = 1; string hash = 2; } }"
## [Subject of the issue]

### Description

Describe your issue in as much detail as possible here

### Your environment

* OS and version
* version of the Polygon SDK
* branch that causes this issue

### Steps to reproduce

* Tell us how to reproduce this issue <br />
* Where the issue is, if you know <br />
* Which commands triggered the issue, if any

### Expected behaviour

Tell us what should

[2021-06-02 09:20] zivkovicmilos commented on #46
Hey @afeezaziz,

Thank you for reaching out. We'll take a look at this as soon as possible.
If I understood correctly, you tried to send ETH to another account using Metamask, like in the demo video?

[2021-06-02 09:21] zivkovicmilos commented on #49
Hey @Romannovak,

Could you please specify in a bit more detail what the issue is? (by filling out the issue template, or just explaining as clearly as possible what triggered the issue, and how we can reproduce it)

[2021-06-04 09:04] flobrown opened #51 "Could not parse NAT IP address"
## Could not parse NAT IP address

### Description

Describe your issue in as much detail as possible here

### Your environment

* tried it on macOS 11.4 (M1) and "5.4.0-1047-azure #49-Ubuntu" 20.04 LTS
* go version mac: go version go1.16.4 darwin/amd64
* go version ubuntu: go version go1.13.8 linux/amd64
* same error on both machines
* sdk version: 0.1.0-dev
* develop branch

### Steps to reprod

[2021-06-04 12:50] flobrown commented on #51
Ok, so the issue is that the var c.Network.NatAddr does not contain any value (= emtpy string) on my machines. When i exchange the value with an hard-coded IP addr, the server starts up flawlessly. Strange thing is, that this happens on both machines.
command/server/config.go Line 90-92:
if conf.Network.NatAddr = net.ParseIP("127.0.0.1"); conf.Network.NatAddr == nil {
			return nil, errors.New("Co

[2021-06-05 05:16] fastepic commented on #51
Hi, The same error - Ubuntu os. After you suggestion - works.

[2021-06-05 06:07] fastepic opened #53 "Need I ethereum node local working to use ? - go run main.go peers list"
go run main.go peers list

rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 127.0.0.1:8545: connect: connection refused"
exit status 1

Ubuntu

[2021-06-05 06:34] fastepic commented on #53
Sorry I found where is my mistake in this question !

[2021-06-05 08:16] #53 closed, assigned to nobody

[2021-06-05 12:00] fastepic opened #54 "big amount in Metamask wallet makes problem"
## [Subject of the issue]
Big value in premine genesis .... 0x115EEC47F6CF7E35000000  (21000000 whole number in Metamask )

### Description

After creation new network with premine amount like above in address it give big number in Metamask connected by rpc to network. When made real transaction from Metamask ( small value like 1 or 5  ) it is still pending. Not this problem if starting amount on

[2021-06-05 14:36] fastepic opened #55 "Restart with failure for the last node"
## [Subject of the issue]
Restarted like the last  client sever for doc example after stop all nodes. The three other without problem restarted.
go run main.go server --data-dir ./test-chain-4 --chain genesis.json --grpc :40000 --libp2p :40001 --jsonrpc :40002 --seal

### Description

2021-06-05T16:32:54.961+0200 [INFO]  polygon.jsonrpc: http server started: addr=127.0.0.1:40002
2021-06-05T16:32:5

[2021-06-05 15:37] fastepic opened #56 "too many arguments - looks like problem when arguments add to subcommand"
## [Subject of the issue]

### Description
go run main.go peers list --grpc-address localhost:30000

works correct

go run main.go ibft propose --add 0x2a70a391e65a59e03bf3661502c8a79a1d267ab3 --grpc-address localhost:30000

too many arguments

### Your environment

* OS and version
* version of the Polygon SDK
* branch that causes this issue

### Steps to reproduce

* Tell us how to reproduce thi

[2021-06-05 17:16] fastepic opened #57 "Stopped nodes and blockchain."
## [Subject of the issue]
I stopped it all 4 nodes  by sending  ethereum contract from remix and Metamask connected by rpc ...
No new blocks .... after restart too.

### Description
2021-06-05T19:31:42.099+0200 [INFO]  polygon.network: Peer connected: id=16Uiu2HAmJvQpodoNQk6Mq12GAS4GLR4JJqgXTTHFAGdN3ToRKMhV
2021-06-05T19:31:42.107+0200 [INFO]  polygon.network: Peer connected: id=16Uiu2HAmPvMtVmPaT

[2021-06-07 08:34] lazartravica commented on #57
@fastepic Thank you for reporting this issue!

Can you please give more information on the order of operations here and how to reproduce this?
Did the nodes stop once you deployed the contract or did you stop the nodes yourself?
Also, when exactly did block production stop?

[2021-06-07 10:02] fastepic commented on #57
I will try repeat it on my test servers and make full information how reproduce it. I was use standard token ER20.sol compiled on remix and connect from remix deploy by web3 connection Metamask. Metamax connected to one of servers of IBFT server ... deploy stuck and getRecipient  all time on server and no new blocks. But I will try repeat all and send it to you.

[2021-06-07 10:11] Vuksan commented on #57
@fastepic Please when you do so, take a screenshot of your Remix configuration. For example which EVM version are you using (you can see that in the `Solidity compiler` tab of the Remix) etc.

[2021-06-07 10:12] fastepic commented on #57
Of course !

[2021-06-07 10:18] fastepic commented on #57
By the way my blockchain is stuck again ? It is new blockchain with new servers and with one simple contract ( store/receive value ) ... nothing made on it only restart all servers after stuck, What do you suggest ?

![Screenshot from 2021-06-07 12-15-03](https://user-images.githubusercontent.com/77497221/121000288-54f9bf80-c78a-11eb-93c7-6b23684c5b8c.png)
![Screenshot from 2021-06-07 12-14-51](ht

[2021-06-07 10:36] fastepic commented on #57
Add one more node can solve this (maybe it is  problem of consensus) ?

[2021-06-07 11:07] fastepic commented on #57
After connect 5 node - it connects to others and stuck on new head 2630 ...

![Screenshot from 2021-06-07 13-06-01](https://user-images.githubusercontent.com/77497221/121006559-4ebb1180-c791-11eb-93d9-f689f1ca66d2.png)

[2021-06-07 11:11] fastepic commented on #57
after restart restart added node it download all blocks .... but  still all blockchain doesn't go ahead ... how move blockchain  to work ... or maybe do I something wrong ?

[2021-06-07 13:40] fastepic commented on #57
I can send you test-chain- directories if you want.

[2021-06-07 14:51] lazartravica commented on #51
@fastepic @floberlin This has been fixed with the https://github.com/0xPolygon/polygon-sdk/pull/60

Thank you for your help and patience 🙏

[2021-06-07 14:51] #51 closed, assigned to lazartravica

[2021-06-07 20:30] fastepic commented on #57
How push this stuck blokchain ... without rollback to the last own backup ?

[2021-06-08 02:19] afeezaziz commented on #46
Yes, that is correct. I am unable to do so when if the nodes are publicly accessible nodes. If I run the tutorial on my local computer, then it is fine.

[2021-06-08 06:13] fastepic commented on #57
Node 1
2021-06-08T08:04:44.116+0200 [DEBUG] polygon.consensus.ibft: fast epic debuger bestPeer.Number <= : EXTRA_VALUE_AT_END=2630
2021-06-08T08:04:44.116+0200 [DEBUG] polygon.consensus.ibft: fast epic debuger test
2021-06-08T08:04:44.116+0200 [DEBUG] polygon.consensus.ibft: local round change: round=2

Node 2
2021-06-08T08:06:36.330+0200 [DEBUG] polygon.consensus.ibft: round change timeout
2021-0

[2021-06-08 08:29] zivkovicmilos commented on #57
Hey @fastepic ,

Thank you for reaching out.
Could you please send us the test-chain directories you've used for initializing IBFT?
Also, we'd like to see all of the commands, sequentially, that you've ran within the terminal.

[2021-06-08 09:08] fastepic commented on #57
Ok. Ubuntu Fossa plus go 1.16.5 - linux- amd64
Command are from main git folder for each  client (1-4) are:
export PATH=$PATH:/usr/local/go/bin
go run main.go server --data-dir ./test-chain-1 --chain genesis.json --grpc :10000 --libp2p :10001 --jsonrpc :10002 --seal

And it stuck like I show in previous  post.

[fastepic-test-chains-plus-genesis.zip](https://github.com/0xPolygon/polygon-sdk/files/

[2021-06-08 09:19] zivkovicmilos commented on #57
Thank you for sending these over.

If I understood correctly, you're running this exact command for each client?
`go run main.go server --data-dir ./test-chain-1 --chain genesis.json --grpc :10000 --libp2p :10001 --jsonrpc :10002 --seal`

Do you not change the ports / test folder location?

[2021-06-08 09:30] fastepic commented on #57
Of course I change all number for each client from 1- 4!!!! And run it In separate consoles.

for second client it looks
go run main.go server --data-dir ./test-chain-2 --chain genesis.json --grpc :20000 --libp2p :20001 --jsonrpc :20002 --seal

[2021-06-08 09:45] zivkovicmilos commented on #54
Hey @fastepic,

Thank you for reaching out.

We've tried to replicate this bug, and concluded that the issue is probably a formatting problem on Metamask.
Spinning up a Ganache instance without setting the symbol produces the same problem.

The interesting thing is - if you set the symbol to be a blank space (` `) on Metamask, the balance renders fine. This is probably due to the fact that [they'r

[2021-06-08 09:45] #54 closed, assigned to zivkovicmilos

[2021-06-08 09:48] zivkovicmilos commented on #57
Got it!

I'm just making sure it's not a silly mistake like mistyping the port number.

I'll try to replicate this issue today, as you've given us the steps, and get back to you quickly.

[2021-06-08 10:08] fastepic commented on #57
I made test on laptop with ubuntu which time to time goes automatic sleep - maybe it makes mistake in database which make this problem. But even if it makes a mistake in database of chain it could be automatic restored to the last correct point I think. From my point of view is important how push this blockchain to work when this bug or similar one  appears.

[2021-06-09 08:28] lazartravica commented on #46
Just to let you know that I was unable to reproduce the issue you have reported.

Still I have some indications of what might be the problem and what you can do to try to fix it.

1. Set the currency symbol in Metmask to anything other than an empty string (e.g. `SDK`)

Current Metamask version has an unresolved bug where if you don't input a "Currency Symbol" it will display wrong balances, gas e

[2021-06-09 08:28] #46 closed, assigned to lazartravica

[2021-06-09 10:36] zivkovicmilos commented on #57
I wasn't able to reproduce the issue you've been having.
I've spun up 4 nodes, and tried deploying an ERC20 contract, which works fine.

I've also tried fail recovery, shutting down different nodes and seeing if fail recovery works - I can confirm it does indeed work.

Please make sure you're following the guide as stated in this how to, and that you're on the latest version of the *develop* branc

[2021-06-09 11:22] fastepic commented on #57
Did you use zip file with genesis.json and server folders which I sent? Do it start for you without problem? So I will try with current dev version again.

[2021-06-09 12:33] fastepic commented on #57
If I understand simple we have not working my blockchain and I must restart it from the last correct backup ... so is not possible push to run this one which is stuck ...

[2021-06-09 12:41] zivkovicmilos commented on #57
The zip you sent over is a snapshot of the chain at a specific state, the chain is stuck for some reason.

As we can't reproduce this exact problem, and we've tried the same steps, we have to conclude it was something on your end.

Please start the chain from scratch and let us know if the issue persists.

[2021-06-09 12:52] fastepic commented on #57
OK

[2021-06-09 13:18] fastepic commented on #57
Is possible computer on which all instances of servers was working -  was overloaded with other tasks and it makes mistake in all folders in the same time ...

[2021-06-09 16:40] fastepic commented on #57
It is working a few hours without problems now.

[2021-06-09 23:34] zivkovicmilos commented on #57
We're glad to hear that. @lazartravica did some internal testing (24h+ running chain) to reproduce a timeout like you've experienced, but so far everything has been running smoothly.

If you experience any further issues, please feel free to reach out with a new issue, as well as in the email thread we started.

[2021-06-09 23:34] #57 closed, assigned to zivkovicmilos

[2021-06-10 08:39] Kourin1996 commented on #55
Hello, @fastepic. I'm sorry I couldn't answer this issue sooner. I had been trying to reproduce the issue in my local environment.

I think it's rare case. The issue seems to happen when node failed to load snapshot for IBFT and has empty snapshots on initializing. You can produce this error easily by deleting `consensus/metadata` and `consensus/snapshots` in data-dir and starting node again. I'm

[2021-06-10 11:24] e74000 opened #64 "Error getting storage snapshot when deploying a smart contract to private blockchain via hardhat"
## Error getting storage snapshot when deploying a smart contract to private blockchain via hardhat

### Description

When using hardhat to deploy a copy of the sample Greeter.sol script to a private polygon blockchain, I get the error: `error getting storage snapshot` in the server log. I am a bit of a noob at this so please correct me if I'm doing something stupid.

### Your environment

OS: Man

[2021-06-11 04:39] fastepic commented on #55
Thank you. It is possible that computer was in heavy work ( other processes ) when I test it so it can be correlate with your suggestion and was problem with storing data.

[2021-06-11 06:56] fastepic commented on #64
My small investigation - when send transaction ( like deploy contract ) with not value set or from account which has not coin or not used yet when I see Error: Invalid JSON RPC response: {"code":-32603,"message":"internal error"}. When I want second time send to the same node correct transaction from correct address I have error like the same or not answer ... after restart this node and repeat co

[2021-06-13 10:27] fastepic opened #66 "Contract correct deployed but contract functions gives error"
## Contract deploy

Contract is correct compiled and deployed but call contract functions is with error.

// SPDX-License-Identifier: GPL-3.0
 pragma solidity ^0.8.4;

contract Epicpic2{
        mapping (uint256 => string) pic;
        uint256 x=0;
        address owner;
        constructor() {
            owner = msg.sender;
        }

      function save(string memory s) public{
            requ

[2021-06-14 12:54] lazartravica commented on #64
Hello @e74000, thank you for the issue but I was not able to reproduce the issue with the steps provided.

The command you have supplied: `go run main.go --chain genesis.json --log-level debug` is invalid, you should use the commands listed in the IBFT setup docs which you've linked.

This is at the end of my `hardhat.config.js`:
[code]

I was able to deploy the contract:

[code]

And I was able t

[2021-06-14 13:37] Vuksan commented on #56
Hi @fastepic, thank you for the issue!

I was able to reproduce it. We'll fix it asap.
As a workaround, you should be able to run the command by specifying `--grpc-address` flag first.

[2021-06-14 13:44] Vuksan commented on #66
Hey @fastepic, can you please specify the commands you used to call the contract function and their output?

[2021-06-16 20:46] mrwillis commented on #64
I'm also experiencing this issue using `truffle` trying to deploy a simple contract causing truffle to hang

[code]

I'm on commit `42be5f9730b1601872609e7fbed3d92e24193dc4` on develop

I have a 4 node cluster. Repo steps are broadly

[code]

connectivity is fine. Verified through metamask. Sending simple balance transfers is also fine.

[2021-06-18 12:32] lazartravica commented on #64
The issue is that the account you are trying to send these funds from is uninitialized, meaning it has 0 balance and is not found in the storage trie.

We will improve on this so that you can still run estimateGas and other RPC calls even if the account is uninitialized, and for calls that require the account to have a certain balance, provide a more meaningful error message, other than `error get

[2021-07-01 11:22] Kourin1996 commented on #55
Hi, @fastepic. I've fixed the issue and the code has been merged into `develop` branch. I will close this issue for now. I'm sure this issue will no longer happen. But you can reopen this issue and continue discussion if you find related issue. Thanks.

[2021-07-01 11:23] #55 closed, assigned to Kourin1996

[2021-07-06 18:53] Kaleb47 opened #80 "Can't verify smart contracts with multiple imports on Polygon scan."
### Description
While we were able to successfully deploy all of our solidity smart contracts on to Polygonscan, we ran into some issues verifying each smart contract

We were only able to verify smart contracts that did not have imports. As for the ones that did, the interface made it difficult to import multiple files at once (whenever a new file was added, the preceding one got deleted) making

[2021-07-08 09:31] lazartravica commented on #80
Dear @Kaleb47, this is not an issue related to the `polygon-sdk`, but rather to the Polygon Explorer's contract verification.

I advise you to seek assistance on the [Polygon Discord](https://discord.gg/polygon).

Best regards

[2021-07-08 09:31] #80 closed, assigned to nobody

[2021-07-08 11:06] Vuksan commented on #56
This is now fixed. Try out the `go run main.go ibft propose --help` command to see how it's used.

[2021-07-08 11:06] #56 closed, assigned to Vuksan

[2021-07-10 01:42] afeezaziz opened #83 "Getting error for getCode"
Below is my error:
`failed to dispatch: method=eth_getCode err="given root and slot not found in storage"`

This is based on the [docs](https://sdk-docs.polygon.technology/docs/how-tos/howto-set-ibft) provided. I am trying to use Metamask to send transaction.

[2021-07-10 01:45] afeezaziz commented on #83
When trying with more transactions...

<img width="1528" alt="Screenshot 2021-07-10 at 9 41 39 AM" src="https://user-images.githubusercontent.com/677026/125148264-943d7680-e163-11eb-983a-03d9092968f2.png">
<img width="1320" alt="Screenshot 2021-07-10 at 9 45 03 AM" src="https://user-images.githubusercontent.com/677026/125148266-9acbee00-e163-11eb-8928-46f293ac8ef3.png">

[2021-07-13 23:41] afeezaziz commented on #83
@lazartravica please let me know if you need any further insight on this problem.

I have been trying to use the cluster/blockchain with Metamask but unable to do so.

[2021-07-16 17:17] dankostiuk opened #88 "Displayed address after 'ibft init' does not match address associated with the validator.key"
## Displayed address after 'ibft init' does not match address associated with the validator.key

### Description

After running `ibft init`, one can see the generated Public key and Node ID as seen below:

[code]

It seems however that this Public key does not match the address derived from `validator-1/consensus/validator.key` when importing into MetaMask. I was under the impression that these sh

[2021-07-20 09:44] lazartravica commented on #83
Hello @afeezaziz!

The error handling of the eth_getCode has been improved to behave according to JSON-RPC standard when requesting the code in unitialized address (#87 ).

Are you able to send the transaction through, regardless of the errors shown in the console above? If not, how does Metamask behave when you are trying to send the transaction?

[2021-07-20 19:19] mrwillis opened #91 "Memory leak"
## Memory leak

### Description

It seems like there is a memory leak somewhere in the code. Happens after a while of producing blocks leaving us to believe it's something related to block production. CPU usage remains constant.

### Your environment

* OS and version
AWS linux
* version of the Polygon SDK
`6906ed9`
* branch that causes this issue
`develop`

### Steps to reproduce

* Tell us how t

[2021-07-20 19:36] dankostiuk opened #92 "Runtime error after dispatcher fails to dispatch"
## Runtime error after dispatcher fails to dispatch

### Description

Running locally, we've seen what appears to be a runtime error likely right after the error: `[ERROR] polygon.dispatcher: failed to dispatch: method=eth_getCode err="given root and slot not found in storage"`.

### Your environment

* OS and version: `OSX 11.4`
* version of the Polygon SDK: `6906ed9`
* branch that causes this is

[2021-07-21 06:52] lazartravica commented on #92
Hello @dankostiuk!

This issue is caused by the `eth_estimateGas` you can see above.

What happens is that you try to estimateGas for a specific block, and to do that we need to simulate the transaction inside that block. To run the gas estimation simulation we need to know the coinbase accounts for the given block which we unmarshal from the IBFT extradata header field of the block.

It is this c

[2021-07-21 06:54] lazartravica commented on #66
Closing this due to inactivity.

[2021-07-21 06:54] #66 closed, assigned to Vuksan

[2021-07-21 06:55] lazartravica commented on #49
Closing this due to inactivity.

[2021-07-21 06:55] #49 closed, assigned to zivkovicmilos

[2021-07-21 06:58] lazartravica commented on #64
Issue has been fixed by implementing more meaningful messages that indicate regular behaviour and not an error on trying to interact with an uninitialized address in the world state.

The only JSON-RPC endpoint that was fixed, which returned an `internal error` JSON-RPC response on trying to interact with an uninitialized address was the `eth_getCode`, if you notice anything else please open anoth

[2021-07-21 06:58] #64 closed, assigned to lazartravica

[2021-07-21 21:23] dankostiuk commented on #92
Thanks @lazartravica , I'll make sure to do this next time I see this error so I can provide more details.

[2021-07-22 23:08] mrwillis opened #95 ""invalid json request" for eth_blockNumber and eth_getBlockByNumber requests"
## Invalid json request for eth_blockNumber and eth_getBlockByNumber requests

### Description

It seems like the sdk sometimes doesn't like `eth_blockNumber` and `eth_getBlockByNumber` calls.

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK `2f50a194f21d972b542ccd1e1571ccba40c5c810`
* branch that causes this issue `develop`

### Steps to reproduce

* Tell us how to r

[2021-07-23 18:16] #95 closed, assigned to nobody

[2021-07-23 19:27] mrwillis commented on #92
@lazartravica how can this be done in dev mode? Currently in a situation where I'm launching with dev mode (no blocks yet created), using the premine account like

`./main dev --premine "0x...."`

I load up metamask and load up the premine account and try to send a balance around to any account. I always seem to get this error as a result from this call

https://github.com/0xPolygon/polygon-sdk/bl

[2021-07-23 20:25] mrwillis opened #98 "Storing slot not found on sending $ from empty account"
## Storage slot not found on sending $ from empty account

### Description

Currently in a situation where I'm launching with dev mode (no blocks yet created), using the premine account like

`./main dev --premine "0x...."`

I load up metamask and load up another account (NOT the premine) and try to send a balance around to any account. (You might have to manually adjust gas limit, I made https://

[2021-07-23 21:10] mrwillis opened #99 "Can't send transactions via metamask in dev mode as `v` in the signature is invalid"
## Can't send transactions via metamask in dev mode

### Description

When running in dev mode and trying to send a transaction, the sdk errors out with "invalid sender" which is actually a result of the error "invalid txn signature". Interestingly, `txn.From` is always the zero address.

### Your environment

* OS and version Unbutu 20
* version of the Polygon SDK 2f50a194f21d972b542ccd1e1571ccba

[2021-07-27 15:11] mrwillis commented on #99
After some more investigation, it's using `eth_sendRawTransaction` which then gets decoded via the RLP decoder. Then it hits this line here https://github.com/0xPolygon/polygon-sdk/blob/develop/txpool/txpool.go#L172. Unrelated: curious why the RLP decoder doesn't decode the `from` field?

https://github.com/0xPolygon/polygon-sdk/blob/develop/types/rlp_unmarshal.go#L271

Anyways I believe this has

[2021-07-28 04:46] Kourin1996 commented on #91
Hello, @mrwillis. Thank you for reporting this issue. I investigated this problem in the code of latest `develop` branch (https://github.com/0xPolygon/polygon-sdk/commit/2f50a194f21d972b542ccd1e1571ccba40c5c810) briefly and found a memory leak issue around gRPC.

This issue prevented GC from clearing buffer in gRPC and buffer was accumulated. (In my check, the heap size was increasing about 50 MB

[2021-07-28 12:01] zivkovicmilos commented on #88
Hey @dankostiuk,

Thank you for reaching out, and I apologize for the late reply.

This issue has now been resolved, and is awaiting approval in [this PR](https://github.com/0xPolygon/polygon-sdk/pull/102).

[2021-07-28 18:08] lazartravica commented on #99
@mrwillis Unfortunately, I am unable to reproduce the issue, I am able to properly submit a transaction when interfacing through Metamask.

Can you provide some information on how you are sending the raw transaction?

[2021-07-28 18:20] lazartravica commented on #98
@mrwillis This is expected behaviour of the log output of the polygon-sdk node if you try to send funds from an address that hasn't had any transactions to it and is not premined.

Yet, to be double sure that I understand what the issue is, can you tell me in the `Steps to reproduce` section why do you start up the chain setting different premines each time?

An important thing to note (since you

[2021-07-28 18:25] mrwillis commented on #99
@lazartravica this is just straight through metamask (version 9.8.2). So like selecting an account from the list, and just doing a simple transfer to that account (can use any gas price, i tried 0gwei and 1gwei). I was able to reproduce it again on a0618c48b8896fb994f8ef42699617cb81fc4af0 immediately. Seems like metamask is using `eth_sendRawTransaction` in this case to execute the transfer.

[2021-07-28 18:33] mrwillis commented on #98
@lazartravica yep got that part. The reason why I do a different pre-mine is so metamask will incorrectly show the balance as metamask doesn't refetch the balance that often it seems. It's kind of just a hack to be able to execute the transaction via metamask (which is supposed to fail). So even when I change the premine to account 2, metamask still shows account 1 has a balance (even though it do

[2021-07-29 11:06] lazartravica commented on #99
I am almost certain that this issue is due to the wrongly set chainId in Metamask.

The chainId in dev mode of polygon-sdk is always `100`.

Can you please double check that Metamask is configured to have `100` for the `chainId` for the network running in dev mode?

For more info on chainId and the `v` value of the signature: https://eips.ethereum.org/EIPS/eip-155

[2021-07-29 13:35] mrwillis commented on #99
@lazartravica yep that was it. It was set to something else. Seems to work now!

[2021-07-29 14:35] dankostiuk opened #107 "JSON-RPC error object should be wrapped within Response object"
##JSON-RPC error object should be nested within response object

### Description

While adding support for batch JSON-RPC requests (https://github.com/0xPolygon/polygon-sdk/pull/106), I noticed that the current implementation sends back error responses that aren't being nested within a response object - see https://www.jsonrpc.org/specification#error_object.

For example, the response body of an e

[2021-07-29 19:01] mrwillis opened #108 "`from` is required in the SDK but optional in the spec causing `eth_call` to often fail"
## `from` is required in the SDK but optional in the spec causing `eth_call` to often fail

### Description

In the spec https://eth.wiki/json-rpc/API#eth_call and in the geth docs https://geth.ethereum.org/docs/rpc/ns-eth, the `from` parameter is marked optional, presumably for methods where the caller's data is not required (for example, retrieving a token name, retrieving a token's decimal coun

[2021-07-30 17:17] #99 closed, assigned to lazartravica

[2021-08-01 18:31] 0xpanoramix opened #109 "Segmentation violation when adding txn with gRPC client"
## [Segmentation violation when adding txn with gRPC client]

### Description

Hi, I am currently working on a TypeScript gRPC client for this SDK (available [here](https://github.com/PtitLuca/0xpolygon-ts)).

I was adding the support for the Txn Pool Operator, but when I was testing my addTxn function a SIGSEGV happened.

### Your environment

* **OS**: Pop OS 21.04
* **Polygon SDK Version**: 0.1

[2021-08-02 07:48] Kourin1996 commented on #91
Hi, I've opened another PR. I've merged this change and run IBFT nodes in AWS EC2 instance (t2.small). As of now, all 4 nodes have been running without any crashes over 3 days. I'm collecting profiles of the nodes and summarized it.

First chart is the result when I run nodes with the change of PR #100, second one is the result when I run nodes with the change of PR #100 and #105. The x-axis shows

[2021-08-04 00:04] dankostiuk opened #112 "Block miner hash value always 0x0 in `eth_getBlockBy*` jsonrpc response"
## Block miner hash value always 0x0 in `eth_getBlockBy*` jsonrpc response

### Description

According to https://eth.wiki/json-rpc/API#eth_getBlockByHash, the miner hash should be "the address of the beneficiary to whom the mining rewards were given" (or the address of the block's validator).

Using either the `dev` or `server` command - and tested on both `eth_getBlockByNumber` and `eth_getBlock

[2021-08-04 00:34] mrwillis opened #113 "panic on concurrent write to JSON-RPC websocket"
## panic on concurrent write to JSON-RPC websocket

### Description

If writes are concurrent to the gorilla/websocket writer, the writer panics presumably due to not allowing multiple concurrent writes.

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK ad7b97eeb3a8b66346730b844e0c609992f0efdf
* branch that causes this issue `develop`

### Steps to reproduce

* Tell us

[2021-08-04 08:59] zivkovicmilos commented on #88
[The PR fix has been merged.](https://github.com/0xPolygon/polygon-sdk/pull/102)

Please review the PR description notes, as it contains some breaking fixes.

[2021-08-04 08:59] #88 closed, assigned to zivkovicmilos

[2021-08-04 18:41] mrwillis opened #118 "Add geth's `debug_traceTransaction`"
## Add `debug_traceTransaction`

### Description

`debug_traceTransaction` is used a lot in different block explorers to trace transactions and provide more metadata on the tx itself. Example:

https://blockscout.com/xdai/mainnet/tx/0x29bc60b639d1f504110637a4f0b5d3e87edc6466797f4332dcd08c5e41677316/internal-transactions

It's a standard geth endpoint and provides similar functionality to parity's

[2021-08-05 13:34] #113 closed, assigned to Vuksan

[2021-08-05 21:54] #98 closed, assigned to lazartravica

[2021-08-06 14:20] #108 closed, assigned to lazartravica

[2021-08-06 14:21] #92 closed, assigned to lazartravica

[2021-08-06 14:22] lazartravica commented on #83
Closing due to inactivity

[2021-08-06 14:22] #83 closed, assigned to lazartravica

[2021-08-06 14:24] lazartravica commented on #91
Excellent job @Kourin1996 for solving the issue in multiple places and building a handy tool along the way: https://github.com/0xPolygon/go-profile-chart-generator/

I am closing the issue.

[2021-08-06 14:24] #91 closed, assigned to Kourin1996

[2021-08-06 16:55] #109 closed, assigned to Vuksan

[2021-08-12 09:13] luofei614 opened #122 "use web3.eth.getBlock the return data transactions is empty"
## use web3.eth.getBlock  the return data   transactions  is empty

### Description

#### first step: use  sendTransaction  add txs:

the blockNumber  this  196

#### second step: use  getBlock(196):

web3.eth.getBlock(196)

But, the transactions is empty ?   this is a bug?

### Your environment

* OS and version : MacOS Big Sur
* version of the Polygon SDK : 0.1.0
* branch that causes this issue:

[2021-08-12 17:29] dankostiuk opened #123 "`eth_call` without `from` field fails during nextNonce calculation in decodeTxn"
## `eth_call` without `from` field fails during nextNonce calculation in decodeTxn

### Description

When making an http request to the `eth_call` endpoint and the `from` field isn't provided, we now override the `from` address with a ZeroAddress after recent changes last week (see https://github.com/0xPolygon/polygon-sdk/commit/386571800e75bbe65c96ca368dad2edba3c99852).

Further downstream in `di

[2021-08-13 07:01] lazartravica commented on #112
@dankostiuk The consensus used currently in polygon-sdk is IBFT, which is implemented according to https://github.com/ethereum/EIPs/issues/650 which in turn builds upon the voting mechanism explained in Clique PoA: https://github.com/ethereum/EIPs/issues/225

Looking at the EIP-225 (Clique PoA), this is the relevant part that explains what the `miner` (aka `beneficiary`) is used for:

[code]

thus

[2021-08-13 07:01] #112 closed, assigned to lazartravica

[2021-08-13 15:02] luofei614 commented on #122
web3.eth.getBlock(196,true)  can  return the transactions data

[2021-08-13 15:02] #122 closed, assigned to nobody

[2021-08-17 21:04] dankostiuk opened #130 "Cannot send txs using chainId other than 100 when running `server`"
## Cannot send txs using chainId other than 100 when running `server`

### Description

When trying to send txs using MetaMask (eth_sendRawTransaction), tx signature encoding fails when using a genesis file created with `--chainid 647`. I observed the error message below after trying to do a simple transaction (sending the premined account 100eth from itself):

[code]

Upon testing again using cha

[2021-08-18 10:33] #123 closed, assigned to lazartravica

[2021-08-18 17:28] mrwillis opened #131 "`eth_getTransactionCount` is failing on non initialized accounts"
## `eth_getTransactionCount` is failing on non initialized accounts

### Description

Calling `eth_getTransactionCount` on a non-initialized account (hasn't done any txs) in the state tree returns

[code]

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK b8659d19bb432c74be9310055084ebd7c26fcd2b
* branch that causes this issue `develop`

### Steps to reproduce

* Tell u

[2021-08-20 15:03] zivkovicmilos commented on #130
Hey @dankostiuk ,

Thank you for bringing this to our attention.
The bug has been confirmed, resolved, and is awaiting approval in this PR:
https://github.com/0xPolygon/polygon-sdk/pull/135

[2021-08-20 15:03] #130 closed, assigned to zivkovicmilos

[2021-08-26 21:26] Kourin1996 commented on #131
Hello, @mrwillis. Thank you for reporting this issue with detailed information!
I've fixed this issue and the PR https://github.com/0xPolygon/polygon-sdk/pull/136 has been merged.
Now returns zero value even if account doesn't exist when you call `eth_getTransactionCount`.

I'm closing this issue. Thank you for your help.

[2021-08-26 21:26] #131 closed, assigned to Kourin1996

[2021-09-03 03:33] munna0908 commented on #107
This issue is fixed, Here is the [PR](https://github.com/0xPolygon/polygon-sdk/pull/138).

Thanks for your inputs ..!!!

[2021-09-03 03:33] #107 closed, assigned to Vuksan, munna0908

[2021-09-09 20:37] poprygun opened #150 "Intrinsic gas too low Error while deploying the contract"
## intrinsic gas too low Error while deploying the contract

### Description

Getting an error using hardhat contract deployment procedure.  I followed the steps in [Getting Started Guide](https://sdk-docs.polygon.technology/docs/how-tos/howto-setup-ibft/howto-set-ibft-locally), and was able to start all nodes without any errors, however, I am not able to deploy a simple contract.

Contract code:

[2021-09-10 17:00] dankostiuk opened #152 "Error `polygon.consensus.syncer: failed to notify` after adding + removing peers/validators"
## Error `polygon.consensus.syncer: failed to notify` after adding + removing peers/validators

### Description

I've seen many occurrences of this new error after adding and removing peers and validators to the original validator set:
[code]

It seems as if the active nodes may somehow still maintain a reference to old (removed) peers and/or validators even so they are no longer visible when runn

[2021-09-14 09:09] zivkovicmilos commented on #150
Hey @poprygun ,

Thank you for reaching out and for bringing this to our attention.
We've been able to reproduce the issue, and narrow it down to the root of it.

Currently, we're working on fixing it as soon as possible. I will update this issue when the fix PR is up so that you are in sync.

[2021-09-14 09:54] zivkovicmilos commented on #150
One more thing, just so you can get up an running in the meantime while we sort this issue out:

You can bypass this issue and deploy your smart contract if you change your deploy params in the `deploy.js` file to be:
[code]

Notice that we specified the `gasLimit` here.

[2021-09-14 11:49] zivkovicmilos commented on #150
Just to confirm here as well, this issue has been fixed now, and is awaiting [PR](https://github.com/0xPolygon/polygon-sdk/pull/154) approval 🚀

[2021-09-14 17:24] poprygun commented on #150
Hi Milos,

I pulled latest develop and noticed few updates to server.go file, so I am assuming you merged the PR?

Adding below section causes script to hang indefinitely with no feedback from validator logs.

  const greeter = await Greeter.deploy("Hello, Hardhat!", {
    gasLimit: "0x100000",
  });

[2021-09-14 20:57] poprygun commented on #150
Not sure if it is related, but creation of the contract using Remix/Metamask also hangs.

[2021-09-15 09:13] zivkovicmilos commented on #150
Hey @poprygun ,

This fix still hasn't been merged into develop. Once the PR is merged (turns purple), you can pull the latest changes and the fix will be live.

Can you please share your entire hardhat project so I can see why it's hanging?
I have tested this out locally with both Hardhat and remix (with MM) and it works fine.

[2021-09-15 12:44] poprygun commented on #150
Thanks, Milos,

Here is my hardhat project https://github.com/poprygun/oxy/tree/master/oxygenchain <https://github.com/poprygun/oxy/tree/master/oxygenchain>

Contract is hanging when I try to deploy from Remix IDE too...

[2021-09-16 09:46] zivkovicmilos commented on #150
Thank you @poprygun for sharing the repo. I'll check to see if I can reproduce these issues you're facing and get back to you soon 🙂

[2021-09-16 10:16] zivkovicmilos commented on #150
I've figured out what the issue is with your configuration.

You can safely omit the `gasPrice` and `gas` from the hardhat config, as they default to `auto`.

The polygon SDK (currently) has a max block limit of `0x500000` gas. You're setting the `gasLimit` value in your `deploy.js` to be `0x9000000`, which is way above what the actual block limit is. When you deploy the contract, the deployment t

[2021-09-16 13:17] poprygun commented on #150
Thanks Milos,

I made suggested changes, however, still experiencing the same behavior.

Observation - And any value above ~ 0x13000 hangs the deploy process.

lowering gas limit in deploy.js to 0x13000 causes following log output on the node:

2021-09-16T08:57:12.734-0400 [ERROR] polygon.txpool: Discarding invalid transaction: hash=0x350bfa3f52fea52d8139a4662872b674161d31de06ab2cc9501d12db2895fed

[2021-09-17 14:29] roccomuso opened #158 "Delegating to a validator"
## [How to delegate using SDK]

I'm not able to find any doc related to Staking.

Is there any documentation around that shows how to craft a Delegation tx?
Also any rpc that will return some info about the amount staked etc.?

[2021-09-18 14:44] poprygun commented on #150
Hi Milos,

I started the validator node in debug node, and captured this log output while attempting to deploy a contract - there are no errors, but node just cycles this output while hardhat is hanging deploying the contract.
Is there anything else we could try to troubleshot the deployment?

2021-09-18T10:42:07.994-0400 [DEBUG] polygon.dispatcher: request: method=eth_chainId id=513
2021-09-18T10

[2021-09-19 00:05] tommyldev commented on #150
+1 also getting the same issue

[2021-09-20 08:20] zivkovicmilos commented on #150
Hey @poprygun ,

I've merged out this fix into the develop branch.
Please pull the latest changes, and clean up any leftover files from the previous runs (any genesis.jsons, test-chain folders etc).

Let me know if the issue is still present after following these steps 🙂

[2021-09-20 14:22] poprygun commented on #150
Hi Milos,

Unfortunately, latest change did not address my problem - contract deployment is still hanging from both - hardhat and remix.

However, deploying from Remix, I was able to capture this error on the node that is supposed to process transaction.

2021-09-20T10:20:26.350-0400 [DEBUG] polygon.jsonrpc: handle: request={"id":924458456,"jsonrpc":"2.0","method":"eth_estimateGas","params":[{"fro

[2021-09-21 20:09] mrwillis opened #160 "Panic using `--libp2p 0.0.0.0:port` option"
## Panic using `--libp2p` option

### Description

Running `polygon-sdk server --libp2p 0.0.0.0:10001` fails without passing a `--nat`

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK 96be90487c144f7b1589ac65aad3f741c81644e3
* branch that causes this issue `develop`

### Steps to reproduce

* Tell us how to reproduce this issue <br /> Run `polygon-sdk server --libp2p

[2021-09-22 19:28] poprygun commented on #150
Hi Milos, any progress on this?

Were you able to replicate the issue on your environment?

Thanks,

Alex

[2021-09-22 19:40] poprygun commented on #150
One more note - I was able to deploy the contract when polygon was started in dev mode using `polygon-sdk dev` command, so something seems different in how cluster works vs “dev” mode.

[2021-09-22 20:29] dankostiuk opened #162 "Bootnode validator not able to sync up to latest block"
## Bootnode validator not able to sync up to latest block

### Description

It seems our 5-validator testnet got stuck and encountered a state where some of our node's latest block numbers fell out of sync, preventing the network from generating new blocks (as 4 validators are required).

`node-4` in our case crashed at block 0xb60d1 and couldn't sync up to 0xb60d7, the latest block on `node-1`.

[2021-09-22 21:51] zivkovicmilos commented on #150
Hey @poprygun ,

I wasn't able to replicate this issue on my local setup, as well as other team members.

Could you please provide a detailed step by step guide as to how you're attempting this deployment?
Please note which configurations you use, what parameters you pass in, etc.

[2021-09-23 03:35] Kourin1996 commented on #162
Hello, @dankostiuk. Thank you for raising the issue. I want to ask following things. I'd appreciate if you could answer them.
(1) According to the first log, node-4 seemed to be able to connect only one node. But it was trying to connect to more 2 nodes (except for own node). node-4 could connect to remaining bootnodes?
(2) According to Line 9 of the first log, number of initial validators seems t

[2021-09-23 12:55] poprygun commented on #150
I added the detailed description of the steps here https://github.com/poprygun/oxy/tree/master/oxygenchain <https://github.com/poprygun/oxy/tree/master/oxygenchain>

Note that I don’t have problem deploying when I start polygon with `polygon-sdk dev` command.

Thanks!

[2021-09-23 15:24] Kourin1996 commented on #150
Hello, @poprygun. Please note that you need to run 4 validator nodes at least in IBFT.

[2021-09-23 18:48] dankostiuk commented on #162
Hey @Kourin1996, after running a vscode debugging session over ssh I believe I found the issue:

First off, it looks like when node-4 goes into the immediate SyncState at the start of ibft.start(), the syncer always has an empty list of peers (as seen below), so it immediately moves to AcceptState and eventually gets stuck in RoundChangeState.

![Screen Shot 2021-09-23 at 2 32 23 PM](https://user-

[2021-09-23 19:07] Kourin1996 commented on #162
Hi, @dankostiuk. Thank you for taking your time to debug. I will also check this part.

[2021-09-23 19:13] dankostiuk commented on #162
Appreciate that @Kourin1996 , thank you!

[2021-09-24 07:34] Kourin1996 commented on #162
Hello, @dankostiuk. I opened new PR https://github.com/0xPolygon/polygon-sdk/pull/164 for the issue. I investigated the code and we still want syncPeer to return number in `Number()` methods because this field is updated when syncer receives latest block from peer. Instead of this, I fixed and initialize number by `status.number`
You can check this PR. Thanks!

[2021-09-24 18:20] poprygun commented on #150
That was it!  Needed to spin up a fourth node!

Thank you!

[2021-09-27 07:33] sudesh-supraoracles opened #165 "Request Support for BLS12 based signature verification"
Hi Team!

Since many protocols are putting BLS12 to use for digital signatures.
I want to verify BLS 12 based signature from the polygon smart contract.

Hoping for some positive inputs/response on this.

[2021-09-27 07:51] #150 closed, assigned to zivkovicmilos

[2021-09-27 23:01] mrwillis opened #166 "Panic due to libp2p addresses conversion causes node crash"
## Panic due to libp2p addresses conversion causes node crash

### Description

After running a node on a testchain for a while, randomly the node panics with the same error as in https://github.com/0xPolygon/polygon-sdk/issues/160

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK 18e93179d1303356b4f77b1b50cc46390d61b25c
* branch that causes this issue `fix/sync-issue`

[2021-09-28 07:47] Kourin1996 commented on #166
Hello, @mrwillis. Thank you for raising the issue. I'm not sure what conditions do you run nodes under. But I created a PR for this issue: https://github.com/0xPolygon/polygon-sdk/pull/156 which is waiting to be merged.

[2021-09-28 13:51] mrwillis commented on #166
Thanks!

[2021-09-28 14:15] mrwillis opened #167 "Block writing stopping but gossiping continuing on non-sealing nodes"
## Block writing stopping but gossiping continuing on non-sealing nodes after bulk sync

### Description

We've had several instances of blocks stopping writing, some during the sync process, and some during operation. We can see in both cases blocks are still be gossiped on the channel, but writing is stopped.

All of these cases are on non-sealing nodes, i.e., not participating in consensus.

##

[2021-09-29 15:43] dankostiuk opened #169 "New node `fail to write block` error when syncing near most recent block"
## New node `fail to write block` error when syncing near most recent block

### Description

When a new peer is syncing, it looks like after the last batch sync of blocks, we sometimes get a failure:
[code]

See larger log snippet:
[code]

Restarting the node fixes the issue.

### Your environment

* OS and version `Ubuntu 20`
* version of the Polygon SDK `96be904 `
* branch that causes this issu

[2021-09-29 20:43] dankostiuk opened #170 "Missing call to close LevelDB connection for /trie dir on close"
## Missing call to close LevelDB connection for /trie dir on close

### Description

When stopping the process gracefully, the `Close()` function in server.go closes the blockchain layer which closes the levelDB session for the /blockchain folder. It looks like the leveldb.DB for the stateStorage (/trie) stays open.

For example when stopping the process at 18:41, one can see in the LOG for /block

[2021-09-30 23:52] dankostiuk commented on #170
Turns out the issue was as a result of something unrelated which I now figured out. Closing...

[2021-10-01 07:20] Kourin1996 commented on #167
@mrwillis Hello, Thank you for raising the issue. This issue seems to happen when node disconnects to the peer node is syncing with, because there is no way to exit infinite loop. I will try to fix this isuue.
You can reproduce this issue by that you terminates the peer during WatchSyncWithPeer().

[2021-10-03 12:32] zivkovicmilos commented on #165
Hey @sudesh-supraoracles,

Thank you for reaching out.

Could you please provide some more information as to why you'd want to use BLS12 specifically with Polygon-SDK?

[2021-10-03 12:36] zivkovicmilos commented on #158
Hey @roccomuso,

Thank you for reaching out, and I apologize for the late reply.

We're currently in the process of adding docs that have information on our staking implementation.
They should be up soon, and I'll make sure to ping you here once they're live so you can take a look.

Our current staking implementation is located on the `ibft-pos-v3` branch, and is not considered stable for general

[2021-10-03 12:52] zivkovicmilos commented on #160
Hey @mrwillis,

Thank you for reaching out.

The issue you're facing is you're setting the `host` for libp2p to be `0.0.0.0`, which is a special value for libp2p, instructing it to listen on **all** interfaces for incoming connections, instead of just one. This is a feature of the standard libp2p library we're using for networking.
When you check `addr.Addrs` it returns all of the interfaces that

[2021-10-03 13:56] zivkovicmilos commented on #160
Hey @mrwillis,

PR is up, awaiting review 🚀
https://github.com/0xPolygon/polygon-sdk/pull/171

[2021-10-03 18:22] Kourin1996 commented on #169
Hello, @dankostiuk. Thank you for raising this issue. Could I ask if node No.5 worked after this error? I want to see logs from the error. I guess node try to begin new sync process after node failed to sync a block.

[2021-10-03 19:31] Kourin1996 commented on #169
Hello, @dankostiuk. Thank you for raising the issue. I figured out some reasons after some investigations.

1. Peer is notifying latest block number as difficult. This value is used to find best peer at begin of sync process. But difficulty and block number is different value usually. That's why node couldn't find best peer.
2. In sync process, (1) node pulls batch of blocks from peer and write to

[2021-10-03 19:58] Kourin1996 commented on #167
Hi, @mrwillis. I fixed issues related to case 1 & 2 at commit https://github.com/0xPolygon/polygon-sdk/pull/164/commits/1ad86eb31f1a045ab3f2583d4a0c0d649b602e2b in this PR https://github.com/0xPolygon/polygon-sdk/pull/164. Please for a while until this PR is merged. Thank you.

[2021-10-04 13:56] dankostiuk commented on #169
Thanks again @Kourin1996, as usual your help here is appreciated 👍

[2021-10-04 16:05] roccomuso commented on #158
Thanks, I'll wait for the doc.

What I'm trying to achieve is just allow to craft a tx to "stake" and "unstake". That's it

[2021-10-05 07:46] Kourin1996 commented on #170
Hello, @dankostiuk. I appreciate your reporting the issue. I fixed at https://github.com/0xPolygon/polygon-sdk/pulls. Please wait until it's merged. Thanks.

[2021-10-05 13:23] #162 closed, assigned to Kourin1996

[2021-10-05 13:23] #167 closed, assigned to Kourin1996

[2021-10-05 13:23] #169 closed, assigned to Kourin1996

[2021-10-05 21:39] dankostiuk opened #174 "Tx gasLimit > 100000000 causes gas limit reached error and stuck tx"
## Tx gasLimit > 100000000 causes gas limit reached error and stuck tx

### Description

It seems that setting a tx gasLimit higher than 100000000 results in a pending tx that will never confirm. Any txs after this from the same account will also get stuck with no way of overwriting them.

https://github.com/0xPolygon/polygon-sdk/blob/335e78199b52c768e9b00c3f955e9a42a3ce5ed4/consensus/ibft/ibft.go

[2021-10-06 15:08] luofei614 opened #176 "The program will exit error： concurrent map read and map write"
##  The program will exit  error： concurrent map read and map write

### Description

The program will exit  when  200 transitions  request together 。

### Logs

concurrent map read and map write

goroutine 55 [running]:
runtime.throw(0x1051d9ff3, 0x21)
	/opt/homebrew/Cellar/go/1.15.7_1/libexec/src/runtime/panic.go:1117 +0x54 fp=0x14001d47d30 sp=0x14001d47d00 pc=0x104963b54
runtime.mapaccess2(0x10

[2021-10-06 19:05] zivkovicmilos commented on #176
Hey @luofei614,

Thank you for reaching out.

Could you please provide the steps you've taken to get this error?

[2021-10-06 21:15] luofei614 commented on #176
Thanks for your reply @zivkovicmilos

I use a script to run 200 accounts for testing , Simulate high concurrency：

The genesis.json file presets the balance for these 200 accounts :

`
"alloc": {"0xebb14FD7801F6E654C87f628bAb149312C0A8Bf3":{"balance":"0x3635c9adc5dea00000"},"0xeCEc3a16eB60054eb49d2b953309b78BEb46Ab97":{"balance":"0x3635c9adc5dea00000"},"0x65Cd98fAD79a3C470357f1eE1ab37Ed6c5bB6d31":

[2021-10-06 21:25] zivkovicmilos commented on #176
Thank you for providing this info and scripts. I'll have to test this out and get back to you ASAP, there shouldn't be a concurrency issue there

[2021-10-07 13:36] zivkovicmilos commented on #176
Hey @luofei614,

Just confirming that we're seeing this behavior on our end as well.
We have identified the issue, and have a PR with a fix that should be merged out soon 👍

[2021-10-07 14:20] 0xpanoramix commented on #174
Hi @dankostiuk, I was able to reproduce the issue, thanks for the information you've provided.
I'll get back to you as soon as I have made some tests.

[2021-10-07 14:39] dankostiuk opened #179 "Block writing still stops in non-sealing nodes due to nil BestPeer"
## Block writing stops in non-sealing nodes due to nil BestPeer

### Description

It looks like we are still observing the same issue as originally described in https://github.com/0xPolygon/polygon-sdk/issues/167

After investigating, this seems to be related to some inconsistencies in how we determine the best peer to connect to within `BestPeer()`. We are seeing that at times, `curDiff` is alway

[2021-10-07 15:29] luofei614 commented on #176
@zivkovicmilos  Good👍 ， Thanks 。
I did this test in order to know TPS, because the official documents did not explain TPS。 Can you tell how much TPS is theoretically possible for PylgonSDK? thanks。

[2021-10-13 18:35] mrwillis opened #180 "Bulk syncing failing due to fork or incorrectly sent data"
## Bulk syncing failing due to fork or incorrectly sent data

### Description

When syncing a node from a fresh state, it seems that it does not know how to handle forks correctly. Block `929697` is when the fork starts. The block hash for `929697` on the canonical chain is `0x107a2916feb361e77ab753db582c8d206c34bc7429370b64396b3eebd48842ac` but `929698` is expecting `0x1492502b1455bb8f53def60027b

[2021-10-14 16:36] 0xpanoramix commented on #174
Hi @dankostiuk , I found the reason of this abnormal behaviour.

The transaction with the gas limit set to 5 000 000 000 was marked as invalid, but pushed back to the transaction pending queue afterward.
Transactions with a gas limit greater than the block one should be discarded, since they will never be able to fit in a block.

To avoid this behaviour, I've created a PR - #183 - which introduces

[2021-10-15 08:18] #152 closed, assigned to munna0908

[2021-10-16 07:16] luofei614 opened #185 "When seven verification nodes are started and three nodes are restarted, no new blocks will be generated"
## When seven verification nodes are started and three nodes are restarted, no new blocks will be generated

### Description
When seven verification nodes are started and three nodes are restarted, no new blocks will be generated
But there is no problem with four nodes, you need to test with seven nodes。

But when the block is not produced, I found that the program has been running ibft's RoundCha

[2021-10-21 08:31] Kourin1996 commented on #180
@mrwillis Hello, Thank you for raising this issue. Sorry for the late update. I'm currently checking this issue, but this issue comes from wrong stored data as you said, I guess. I will get back to you soon.

[2021-10-24 11:09] lazartravica commented on #165
Closing due to inactivity

[2021-10-24 11:09] #165 closed, assigned to zivkovicmilos

[2021-10-26 08:00] Kourin1996 commented on #180
@mrwillis May I know if (1) you setup and start IBFT cluster on current develop (335e781) branch and you haven't pulled after this (2) it's possible to share data dir?

[2021-10-26 18:42] mrwillis commented on #180
Hey @Kourin1996 yes branch is 335e78199b52c768e9b00c3f955e9a42a3ce5ed4 I can confirm that this issue happened. Sure I can share. Can you DM me in telegram? You can get my handle from lazar or milos.

[2021-10-27 05:38] munna0908 commented on #185
Hi @luofei614, Thanks for bringing this up 🙏.
This [PR](https://github.com/0xPolygon/polygon-sdk/pull/187) will fix this issue

[2021-10-27 08:00] Kourin1996 commented on #180
@mrwillis Hi, Thank you for a message. I've received data from Milos. I appreciate it.

[2021-10-28 08:04] #160 closed, assigned to zivkovicmilos

[2021-10-28 09:25] #166 closed, assigned to Kourin1996

[2021-10-28 09:32] #170 closed, assigned to Kourin1996

[2021-10-28 11:50] #185 closed, assigned to munna0908

[2021-10-28 17:08] #174 closed, assigned to 0xpanoramix

[2021-11-01 18:34] dankostiuk opened #190 "New Panic regression error on `eth_call`"
## New Panic regression error on `eth_call` json-rpc request

### Description

I observed that `b54f44f` on develop introduces a new issue which causes a previously-working `eth_call` request to throw a panic and no longer return a 200 status.

### Your environment

* OS and version `Ubuntu 20`
* version of the Polygon SDK `b54f44f`
* branch that causes this issue `develop`

### Steps to reproduce

[2021-11-03 21:45] #176 closed, assigned to zivkovicmilos

[2021-11-03 22:03] zivkovicmilos commented on #190
Hey @dankostiuk,

Thank you for reaching out. We've identified the issue, and a hotfix has already been applied through PR #189.
Please let us know if the issue has been resolved after you pull the latest changes from develop.

[2021-11-04 15:10] dankostiuk commented on #190
Looks like it has been resolved after pulling in that PR thanks @zivkovicmilos 👍

[2021-11-04 16:08] zivkovicmilos commented on #190
Glad to head that.

Please make sure to pull the latest changes from develop, as we've pushed out some fixes after the linked hotfix 🙂

[2021-11-04 16:08] #190 closed, assigned to zivkovicmilos

[2021-11-04 19:15] dankostiuk commented on #180
Hi @Kourin1996 , after pulling in the latest develop which includes #187 , I am still observing similar log output when syncing a validator node from a fresh state:
[code]

I'm working off of `578673c` (yesterday's develop) running a testnet with 4 validators. I'm happy to share the data dir if you'd like.

[2021-11-04 21:28] dankostiuk opened #195 "Bulk syncing fails for non-validator nodes with "failed to pop block" error"
## Bulk syncing fails for non-validator nodes with "failed to pop block" error

### Description

We've seen an issue where a stale non-validator node attempts to bulk sync to the current block and gets stuck on a `failed to pop block: err=timeout` - see logs below:

### Your environment

* OS and version `Ubuntu 20`
* version of the Polygon SDK `8dff349 `
* branch that causes this issue `develop`

[2021-11-04 21:50] mrwillis commented on #195
This seems to be a regression or newly introduced issue. More logs:

[code]

[2021-11-05 07:51] Kourin1996 commented on #180
@dankostiuk Hi, Thank you for reporting. Did you start with new chain? or Did you let new node sync with existing blockchain? Thanks

[2021-11-05 08:32] Kourin1996 commented on #180
@dankostiuk @mrwillis I apologize for late reply. May I ask several questions?

(1) How many validators and non-validators did you run?
(2) How often did you reset node data when the issue happened? (reset means deleting any data in node and let node sync from genesis)
(3) Did you reset multiple nodes at the same time?
(4) Did all validator nodes connect to each other?

I think blockchain stored i

[2021-11-05 09:27] Kourin1996 commented on #180
@mrwillis Could I get the data-dir of all nodes? I have been taking effort to figure out the issue, but I've not got any reason so far. The questions I'm asking above would be helpful for resolving. But it's impossible to sync even though I fix this issue because the chain in data-dir has fork. But if there is a chain without fork in some nodes. We can recover data correctly.

[2021-11-05 10:06] Kourin1996 commented on #180
Let me summarize what the issue is for the future.
I received data directory from @mrwillis and check the blockchain there, and I found a fork between `929419` and `929697`. And block `929698` (the next block of last block of the fork) has wrong ParentHash. And also I found stopping block production from `952966` to `952967`.

| Block Height | Timestamp | Comment |
| :---         |     :---     |

[2021-11-05 16:10] dankostiuk commented on #180
(2) How often did you reset node data when the issue happened? (reset means deleting any data in node and let node sync from genesis)
(3) Did you reset multiple nodes at the same time?
(4) Did all validator nodes connect to each other?

Hey @Kourin1996, I let the new node sync with the existing chain that had the same conflicting fork block.

(1) - We had 4 validators and 2 non-validators connecte

[2021-11-05 19:22] mrwillis opened #198 "Code break or crash during sync causes node to get stuck on resume"
## Crash or break during sync causes node to get stuck

### Description

If, during syncing, the node crashes, the node is unable to restart on the target block.

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK 8f320b13ff4c911d5c7165d8c2259910ba05c495
* branch that causes this issue `bug/total-difficulty-is-one`

### Steps to reproduce

* Tell us how to reproduce this

[2021-11-08 23:54] dankostiuk opened #206 "`peer rejected; insufficient capacity` errors even so peers list appears correct"
## `peer rejected; insufficient capacity` errors even so peers list appears correct

### Description

We've been seeing many occurrences of:
[code]
and
[code]

even so running `./main peers list --grpc-address localhost:10000` shows that the full list of peers are connected.

### Your environment

* OS and version `Ubuntu 20`
* version of the Polygon SDK `ce793fa`
* branch that causes this issue `

[2021-11-09 09:49] Kourin1996 commented on #180
@dankostiuk Hello, Thank you for sharing data-dir.

Is it possible to recover from this S3 backup? Just update, I checked all data-dirs but there was a same fork in them.

[2021-11-09 12:28] dbrajovic commented on #198
Hey @mrwillis ,

Thank you for posting the issue. However, I have to ask of you not to merge with `bug/total-difficulty-is-one`, as that branch was just the starting point of what led to the real issues previously posted - namely, [#167](https://github.com/0xPolygon/polygon-sdk/issues/167) and [#179](https://github.com/0xPolygon/polygon-sdk/issues/179).

That branch will be revised soon after [#20

[2021-11-09 12:36] dbrajovic commented on #179
Hey @dankostiuk ,

the (recurring) issue is addressed in PR[#208](https://github.com/0xPolygon/polygon-sdk/pull/208). This should solve any `BestPeer()` issues a `Syncer` might have with other peers.

[2021-11-12 21:26] dankostiuk commented on #180
Hey @Kourin1996, yes we've been able to recover fine using the S3 backup. As there have been a lot of changes recently, we've decided to pull the latest and reset our testnet to block 0. We're hoping some of the recent changes fix the issue we've experienced here and we'll be sure to let you know if we see anything similar again.

Thanks for your continued help and feel free to close this issue.

[2021-11-12 21:27] #180 closed, assigned to Kourin1996

[2021-11-13 16:33] luofei614 opened #211 "The Peer connect success ，but can not open stream of /syncer/0.1"
##  The Peer connect  success ，but can not open stream of /syncer/0.1
### Description

error message ：
[code]

### Steps to reproduce

It may be related to the network environment, unable to describe the steps to reproduce

### Proposed solution
My debugging method is to add a retry mechanism to wait for a while to succeed：
protocol/syncer.go：
[code]
I did encounter a bug, and I don’t know how to

[2021-11-13 16:39] zivkovicmilos commented on #211
Hey @luofei614,

Thank you for reaching out. Have you modified the code in any way prior to running the client?

Please post the exact commands + steps you've taken to get this protocol not supported error.

[2021-11-15 03:53] luofei614 commented on #211
The node is running in docker.      A problem was found when running container with custom docker networkDocker's custom network startup will delay about 40 seconds!   Maybe this reason ：https://developpaper.com/docker-issue-network-delay/

[2021-11-15 09:05] zivkovicmilos commented on #211
We need more information than _the node is running in docker_. What kind of setup do you have? What kind of docker configuration? What steps are you taking?

Please post as much information as you can here, so we can try to reproduce this issue.

[2021-11-15 11:02] ferranbt opened #212 "Remove go-ethereum"
## Remove go-ethereum

### Description

Polygon-sdk has Go-ethereum as a dependency only to be used in two places ([here](https://github.com/0xPolygon/polygon-sdk/blob/a231cf496aaf230969fda927d49c4d35c19cc112/state/runtime/precompiled/testing.go) and [here](https://github.com/0xPolygon/polygon-sdk/blob/6af6ba96c0abd6c38a0cd9a56ccef9709a227855/types/header.go#L134)). In one case the function is nev

[2021-11-15 11:05] zivkovicmilos commented on #212
Hey @ferranbt,

We'll look into phasing it out as soon as we grab a chance.

Thank you for bringing it up and for linking the dependencies 👍

I'll update this issue with the PR once it's up.

[2021-11-15 11:14] #179 closed, assigned to dbrajovic

[2021-11-15 15:42] zivkovicmilos commented on #212
PR Is up and ready for review 👍

https://github.com/0xPolygon/polygon-sdk/pull/214

[2021-11-16 01:20] tommyldev opened #215 "[Feature] Specify network block confirmation time in genesis file"
## Specify Network Block Confirmation Time

### Description

Similar to how geth/puppeth handles the initialization of the genesis files, users can specify block confirmation time:
![image](https://user-images.githubusercontent.com/25253929/141878055-59f02ee2-ee94-4bc2-91ad-ccde0b74ec47.png)

### Expected behaviour

Polygon SDK with IBFT should have a similar feature, will be important for soverei

[2021-11-16 08:12] brkomir commented on #195
I have been unable to reproduce this issue on the current development branch. Can you check out the latest code and confirm that this is the case on your side as well? If you are still experiencing this, I would like to see into data-dirs of all nodes for further investigation.

[2021-11-16 17:53] luofei614 commented on #211
@zivkovicmilos   Thanks for your reply  ，   The environment for bugs is more complicated ，And this bug is accidental 。  I tried to reproduce the bug after simplifying the environment but did not succeed  。   Wait until I find a way to reproduce it before submitting an issue ，  Thanks again

[2021-11-16 17:53] #211 closed, assigned to nobody

[2021-11-16 17:55] zivkovicmilos commented on #211
Got it.

Feel free to open up a new issue if you run into any problems 👍

[2021-11-16 19:18] mrwillis commented on #195
@brkomir Just tried a local sync on our testnet from develop. I guess with recent develop, this error doesn't actually crash / stop the nodes from syncing anymore. We could open a new issue if that makes more sense.

Anyways, You can sync this from genesis and you'll run into a few of them along the way. We can share more data-dirs but we can reliably repro currently.

genesis.json

[code]

errors

[2021-11-17 08:55] #212 closed, assigned to zivkovicmilos

[2021-11-18 14:25] brkomir commented on #195
Glad to hear that the node doesn’t stop with the latest changes.
I have been able to sync with your test network with the genesis you have provided.
We are aware of this error log which is occurring on a non-validator node when not all of the validator nodes are up and running. In this situation, block production time can be a lot greater than 2s, depending on the number of nodes down, and non-val

[2021-11-18 16:56] mrwillis opened #223 "Non-validator nodes pending txn queue does not clear"
## Non-validator nodes pending txn queue does not clear

### Description

On a non-validator node, transactions in the `pendingQueue` do not get cleared after being mined but they do get cleared on validator nodes.

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK 6efebc6a92f885082620ed2a8d59e37d4d27074c
* branch that causes this issue `develop`

### Steps to reproduce

[2021-11-18 18:53] dankostiuk commented on #206
Haven't seen this since or been able to repro, closing..

[2021-11-18 18:53] #206 closed, assigned to nobody

[2021-11-18 23:17] mrwillis opened #225 "`buildBlock` gives up immediately after finding invalid txns"
## `buildBlock` gives up immediately after finding invalid txns, causing underfilled blocks

### Description

If `buildBlock` encounters an invalid txn when trying to construct the block, it gives up immediately. but it should continue to iterate through the pending txns and find valid ones and fill the block. As more txns come into the queue, it eventually overflows because transactions are never

[2021-11-18 23:40] mrwillis opened #226 "Txpool pending and queued sets are never pruned, causing eventual overflow or DOS"
## Txpool pending and queued sets are never pruned, causing eventual overflow or DOS

### Description

There is no mechanism to reduce transactions that might be eventually valid from the pending or queued sets, causing perpetual growth.

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK 6efebc6a92f885082620ed2a8d59e37d4d27074c
* branch that causes this issue `develop`

[2021-11-19 11:09] marpit19 opened #227 "Bug: Navbar style issue in Light Mode"
## [ Navbar style issue in Light Mode]

### Description

*Navbar style issue in Light Mode

### Your environment

* OS and version
* version of the Polygon SDK
* branch that causes this issue

### Steps to reproduce

* Tell us how to reproduce this issue <br />
* Where the issue is, if you know <br />
* Which commands triggered the issue, if any

### Expected behaviour

Tell us what should happen

[2021-11-19 11:15] marpit19 commented on #227
I would love to work on this issue if possible

[2021-11-19 16:06] lazartravica commented on #227
Hello @marpit19! Sorry, but this is the wrong repository.

The repo for the docs is at the following link: https://github.com/maticnetwork/matic-docs/

[2021-11-19 16:06] #227 closed, assigned to nobody

[2021-11-19 16:32] brkomir commented on #195
@mrwillis Just to reply here on your comment on the PR #218.
You wrote, "Node is connected to a bad peer which has pop block timeouts every 10-15 blocks (still trying to reproduce why this is happening)". This is happening because not all the validator nodes are running and the non-validator node is waiting to receive a block from its peer. When you have some of the validator nodes down and when t

[2021-11-19 21:51] mrwillis opened #231 "`addImpl` in txpool.go incorrectly reports that the pool is full, even if empty, due to overflow"
## `addImpl` in txpool.go incorrectly reports that the pool is full, even if empty, causing broadcast failures.

### Description
`addImpl` in txpool.go incorrectly reports that the pool is full, even if empty, causing broadcast failures. This causes downstream txn delays.

[code]

It looks like the `txpool.slot` variable seems to have overflowed (see logs below). So this is two potentially related

[2021-11-20 00:24] dankostiuk opened #232 "Stuck chain due to `block locked is incorrect`"
## Stuck chain due to `block locked is incorrect`

### Description

We've encountered an issue where our testnet stopped writing new blocks as a result of all nodes getting stuck within RoundChangeState. As a result, a new proposer isn't able to elected to resume writing blocks.

Note that our testnet consisted of 15 validators.

As all nodes calculate the same next proposer (based on the last wri

[2021-11-20 18:32] mrwillis opened #233 "Transaction PriceLimit is only respected in the txpool (discussion)"
## Transaction PriceLimit is only respected in the txpool

### Description
More of a discussion point, but curious why only the pool respects the PriceLimit and not nodes receiving transactions directly.

server --help returns:

[code]

For example, if you had a four node cluster, you could submit a transaction with price of 0 to node 1, which it wouldn't propogate to nodes 2,3,4 because of this l

[2021-11-20 18:42] mrwillis commented on #231
Seems related to https://github.com/0xPolygon/polygon-sdk/pull/213. I can close if that will solve this issue.

[2021-11-22 16:27] Kourin1996 commented on #233
@mrwillis Hi, if you want to make node1 discard the tx with lower price. You can give `--nolocals` flag when you start server.

[2021-11-22 22:19] mrwillis opened #235 "`panic: No dial addresses found` causes node crash"
## No dial addresses found causes panic

### Description

While investigating a chain halt https://github.com/0xPolygon/polygon-sdk/issues/232, we noticed 5 out of 15 nodes crash around the same time due to a panic

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK 2bebf5039c1a5bc80ee7ff0639996cf8f84f0c33
* branch that causes this issue `develop`

### Steps to reproduce

[2021-11-23 14:31] zivkovicmilos commented on #235
Hey @mrwillis,

Thank you for reaching out.

Do you have any idea why node `16Uiu2HAmERLox5fG95J9SRrrv8YQ1oEMF5XxU5L5Ew1VyXa3qrHF` disconnects?
Is the node itself failing?

I notice from the logs that other nodes are also connecting then disconnecting.

Additionally, I'm curious about the up status of the bootnodes you're using.

[2021-11-23 14:42] zivkovicmilos commented on #235
One more thing I'm curious about:

You've put down that you're running on commit https://github.com/0xPolygon/polygon-sdk/commit/2bebf5039c1a5bc80ee7ff0639996cf8f84f0c33

Is there any reason why you're running on this commit? It's part of a PR that at the time wasn't ready for review and was still a WIP.

Are you experiencing this issue with the latest pulls from the develop branch?

Keep in mind

[2021-11-23 14:47] zivkovicmilos commented on #232
Hey @dankostiuk,

Thank you for reaching out.

Have you pulled the latest changes from the develop branch? I see you're running on an old commit.

The error that's being printed is due to the block locking mechanism of IBFT (https://github.com/ethereum/EIPs/issues/650), I am however not yet sure why you're running into this error.

[2021-11-23 15:10] #195 closed, assigned to brkomir

[2021-11-23 21:02] mrwillis opened #236 "Discussion: `MaxFaultyNodes` and `NumValid` wrong math?"
## `MaxFaultyNodes` and `NumValid` wrong math?

### Description

If I'm reading the spec correctly from https://github.com/ethereum/EIPs/issues/650, the system can tolerate AT MOST F faulty nodes in a N validator nodes network, where `N = 3F + 1` implies `F = (N - 1)/3`.

The function looks like this

[code]

Shouldn't this be

[code]

I am not sure if this should be a `math.Ceil` or `math.Floor`.

[2021-11-24 00:00] dankostiuk commented on #232
Hey @zivkovicmilos ,

We've updated to today's latest on develop and attempted to reproduce this issue by terminating instances within our validator set (N=15) until we saw blocks no longer being written.

For any validators still online, we observed that a few became stuck in AcceptState, possibly due to an error caused by `discovery.go#run()` that occurred around the same time:
[code]

The remai

[2021-11-24 09:12] Kourin1996 commented on #226
@mrwillis Hello, Thanks for raising the issue. I have one question. You described you sent 1000 transactions to node. But txpool_status returns that pending is 3968 from some node. Is it caused by the same scenario you described above?

[2021-11-24 16:00] zivkovicmilos commented on #236
Hey @mrwillis,

As always, thank you for reaching out and for opening up a discussion on this topic.

I've went through the code and concluded that the implementation that we currently have in `runRoundChangeState` (that's causing the confusion with `NumValid`), although very clunky is indeed correct.

The node that sends out messages to other nodes (gossips them) will also have the same messages

[2021-11-24 16:02] zivkovicmilos commented on #236
Additionally, I've looked into the math behind `MaxFaultyNodes`, turns out it was okay, just that it was written differently than it should. I've opened up a small snippet illustrating the change - your hunch was right, it was indeed supposed to be a floor value with the `-1` being inside the equation 🙂
https://goplay.tools/snippet/SBRHSMZoXSU

[2021-11-24 16:21] mrwillis commented on #236
Awesome thanks @zivkovicmilos

[2021-11-24 17:48] zivkovicmilos commented on #232
Hey @dankostiuk,

Thank you for going the extra mile and selectively shutting down the nodes in an effort to reproduce the problem.

I'll try to answer some of the questions below:

1. This error only appears when setting up the discovery protocol, and it is not tied to any major logic panics - meaning it has no effect directly on the IBFT state machine.
2. I'll paste the part from the IBFT spec h

[2021-11-24 17:50] zivkovicmilos commented on #215
Hey @tommyliu9,

Thank you for reaching out, and I apologize for the late reply.

Specifying a custom block confirmation time is not something that the Polygon SDK currently offers, but having spoken with the team internally, this seems like an interesting feature that we might want to pursue for some future sprint.

Are you using the SDK for a project? We'd love to hear from you regarding the use

[2021-11-24 18:26] mrwillis commented on #226
@Kourin1996 sorry yes, I just did the 1000 as an example. The logs are caused by the same scenario just more txns.

[2021-11-25 00:17] mrwillis commented on #235
Hey @zivkovicmilos this was a mistake running on an old version. We have a fork we didn't pull from upstream. We're going to add better logging. Have not been able to reproduce this yet.

[2021-11-25 00:21] mrwillis commented on #232
Hey @zivkovicmilos, so spent more time on this. One idea that I have is that about half the nodes were stuck in accept state and the other half in round change. This is what a lot of the logs of our nodes looked like.

[code]

We saw this on about 7 nodes which was about half our fleet at the time. We thought this looked a little odd. Our thought was after timing out in AcceptState, it should get

[2021-11-25 14:47] mrwillis commented on #233
Thanks @Kourin1996. Sorry documentation is a little confusing here. So If I set `--nolocals` on Node 1 that means the node won't accept any transactions lower than the gas limit into Node 1's pool?

[2021-11-25 15:51] mrwillis opened #243 "`AcceptState` not timing out to `RoundChangeState`"
## `AcceptState` not timing out to `RoundChangeState`

### Description

When debugging our latest testnet crash (https://github.com/0xPolygon/polygon-sdk/issues/235 and https://github.com/0xPolygon/polygon-sdk/issues/232), we noticed a lot of the nodes got stuck in AcceptState, unable to get pushed out to RoundChangeState. So essentially we had a bunch of nodes in RoundChangeState, waiting for oth

[2021-11-25 16:51] dankostiuk opened #245 "Discussion: Questions on exponentially-increasing IBFT randomTimeout()"
## Discussion: Questions on exponentially-increasing IBFT randomTimeout()

### Description

While investigating a chain halt that occurred on our testnet earlier this week, restarting all validators fixed our chain as more messages would be sent in a shorter timespan, allowing nodes to transition out of each round faster (since the required messageQueue length thresholds would be met sooner). This

[2021-11-25 17:00] mrwillis opened #246 "Non-validator nodes unable to find peers after network partition"
## Non-validator nodes unable to find peers after network partition

### Description

If a non-validator node encounters a network partition, its boot node dial loop breaks sometimes. It can't find a peer to sync with, even though the chain is still producing blocks.

It essentially looks like the dial loop somehow either gets stuck or gets affected somehow. You can see in normal operation every 3

[2021-11-25 17:04] dankostiuk opened #247 "Discussion: Remove stale validators from snapshot?"
## Discussion: Remove stale validators from snapshot?

### Description

We've been testing out adding and removing validators from the snapshot validator set using the `ibft propose --vote auth` and `ibft propose --vote drop` commands. During our testing, we voted in 8 validators and then stopped 3 of them without dropping them -  as a result the chain is still writing blocks however the 3 validat

[2021-11-25 21:59] mrwillis opened #248 "Consensus failure cycling `AcceptState` -> `ValidateState` -> `RoundChangeState` -> `AcceptState`"
## Consensus failure cycling `AcceptState` -> `ValidateState` -> `RoundChangeState` -> `AcceptState`

### Description

Our testnet at the time was an 8 node cluster. 7 nodes were online. We experienced a consensus failure and nodes could not agree on a shared state and hence produce blocks. Max faulty nodes is thus 4.

We're unsure why this happens. We're digging more into it, but one thing we can

[2021-11-26 09:38] lazartravica commented on #235
We can reopen this issue if it pops up on the `develop` branch. Thank you guys!

[2021-11-26 09:38] #235 closed, assigned to zivkovicmilos

[2021-11-26 09:44] Kourin1996 commented on #233
@mrwillis Node can accept transactions from JSON-RPC/gRPC even though gas price is less than price limit. Only remote transactions, which come from gossip broadcasted transactions, are restricted by price limit as default. If you give `--nolocals`, then node checks gas price for local transactions, also.

But @zivkovicmilos opened new PR https://github.com/0xPolygon/polygon-sdk/pull/244 and merged

[2021-11-26 09:47] lazartravica commented on #247
Hello @dankostiuk thank you for the issue.

We will not be adding the Slashing mechanism right now, as there are way more implications to wrap our heads around, most notably the issue of kicking out a validator that shouldn't have been kicked out.

This is definitely something that we are going to work on in the future, but not right now.

[2021-11-26 09:47] #247 closed, assigned to nobody

[2021-11-26 10:50] dbrajovic commented on #198
If you re-experience this issue on the latest develop, please reopen it. Closing it now.

[2021-11-26 10:50] #198 closed, assigned to dbrajovic

[2021-11-26 11:15] Kourin1996 commented on #246
@mrwillis Thank you for opening the issue. Let me clarify the problem? Validator node can't connect to any peer after 10 mins sleep since you kill the connections of non-validator node?

So the scenario is like the following?
1. Set up IBFT cluster including non-validator node and start all
2. Make non validator impossible to connect to any peer by some way like close the connection. (meaning the

[2021-11-26 12:35] MagnusTran commented on #158
Waiting for this feature also.

[2021-11-26 13:27] zivkovicmilos commented on #158
Hey @roccomuso and @MagnusTran,

We're working on integrating the PoA and PoS consensus into the official Polygon SDK releases, so users can choose which one they want seamlessly (PR #219)

We'll also be providing the docs along with this addition.
The current time frame looks ~2 weeks from now.

I'll ping you here once we merge out these features 👍

[2021-11-26 14:12] mrwillis commented on #246
@Kourin1996 thanks for looking into this. The issue is the non-validator node cannot reconnect to any peer after 10 mins sleep. So for example host an IBFT cluster on AWS and sync up a non-validator node on your local machine to the cluster. Then kill your connection, wait 5 minutes, reconnect, and observe the behaviour that the non-validator node can't find any peers and gets stuck.

I'm also goi

[2021-11-26 16:00] Kourin1996 commented on #246
@mrwillis OK, Completely understood! I'll try by the scenario you're describing, too.

[2021-11-26 17:13] mrwillis commented on #246
Looked into a couple other nodes that have had this issue at different times

Logs 1:

[code]

Logs 2:

[code]

[2021-11-26 18:10] mrwillis commented on #246
I was just able to reproduce it again with some more logging. It seems like after a while, the dialing stops happening, but the 30 second polling of adding a node to the dial queue continues.

It looks like the select statement here is blocking forever and the loop never runs again to dial after the slots run out (Slots here start at `20`)

https://github.com/0xPolygon/polygon-sdk/blob/0a30e47bc99

[2021-11-26 22:13] dankostiuk opened #253 "eth_call does not accept EIP-1898 'blockHash' param"
## eth_call does not accept EIP-1898 'blockHash' param

### Description

We noticed some RPC errors come up while making calls to `eth_call` using the EIP-1898 `blockHash` param (see https://eips.ethereum.org/EIPS/eip-1898).

It looks like the current unmarshaling logic fails on trying to validate the `params` arary as a result of this new field.

Note that Geth 1.9.6 implements this proposal in h

[2021-11-27 11:49] dbrajovic commented on #231
Hey @mrwillis ,

thank you for raising the issue. The bug has been identified and a fix under way.

[2021-11-29 06:37] Kourin1996 commented on #246
@mrwillis Hi, Thank you for retrying and providing more details. I tried it with ec2 and localmachine and I could reproduce such issue. As you said, there is a blocking in `runDial` and cannot dial any longer. I will create a PR for this issue. Thanks

[2021-11-29 08:19] brkomir commented on #225
Hey @mrwillis,

Thank you for your detailed explanation of the issue!

I have addressed this problem in the [PR237](https://github.com/0xPolygon/polygon-sdk/pull/237) which is now merged in the current develop, so feel free to test it out and confirm that this is fixed.

[2021-11-29 15:11] ferranbt commented on #248
Hi! I think resetting the messages for commit and prepare is okay since the future messages are pending on the message queue anyway and not in the state yet. I am not sure yet about resetting round changes though.

[2021-11-29 17:05] brkomir commented on #243
Hey @mrwillis, thank you for reaching out!

I have investigated this issue and concluded the following:

1. The method you mentioned `getNextMessage`, returns false only when the "closeCh" channel is closed. In that case, the node is being shut down and all code execution in the ibft state machine will stop, so this isn’t relevant for this situation.
2. Exponential timeout is achieved by adding 2

[2021-11-29 18:27] mrwillis commented on #243
@brkomir thanks for looking into this. I just checked on 3. and yes as there wasn't debug logging available, it's possible they were cycling between the states.

We were 100% confident that at the time that all the nodes were up and running, so we do believe there is an issue somewhere.

Then it is possible the logs were the same under the hood as in https://github.com/0xPolygon/polygon-sdk/issues

[2021-11-29 18:30] mrwillis commented on #248
@ferranbt thanks. Yeah we are still looking into how this can happen and trying to reproduce. We are certain all the nodes were online and communicating at the time.

[2021-11-29 21:18] mrwillis commented on #253
Just to comment on this. `blockHash` is used extensively in indexing protocols such as https://thegraph.com/en/ and related services which power a lot of dapps. Would be really helpful to improve compatibility across the EVM ecosystem.

[2021-11-29 23:51] zivkovicmilos commented on #253
Hey @mrwillis and @dankostiuk,

Thank you for bringing this feature up, it seems like a logical addition to the SDK.

We'll definitely be adding it in the current (or next) sprint, as it's not a huge refactor. I'll ping you guys here once the PR is up and ready 👍

[2021-11-29 23:59] zivkovicmilos commented on #233
Hey @mrwillis,

I'll open up a PR that gives a better understanding of how `price-limit` works, and how it relates to `locals`.
Pinging you here once it's up 👍

[2021-11-30 18:18] dankostiuk commented on #253
Thanks @zivkovicmilos ,

Related to this issue it seems like the second value of `req.Params` is always assumed to be the blockNumber param. So even so a request like this unmarshals successfully:
[code]
This request fails:
[code]

[2021-11-30 23:36] mrwillis opened #261 "Exponential round timeouts cause very long restart times"
## Exponential round timeouts cause very long restart times

### Description

Related: https://github.com/0xPolygon/polygon-sdk/issues/245.

We made some faulty nodes to test the resiliency of the nodes and noticed that the time it takes for the nodes to get back to consensus is very long after 2/3 of the nodes are not byzantine anymore.

It's very possible this was the cause of us thinking our te

[2021-11-30 23:51] zivkovicmilos commented on #248
Hey @mrwillis,

I just wanted to jump in for a quick question. Why do you mention that the max number of faulty nodes is 4 in an 8 node cluster?

[2021-11-30 23:54] mrwillis commented on #248
@zivkovicmilos sorry that's a total typo.

[2021-12-01 12:49] brkomir commented on #248
Hey @mrwillis, thank you for your inputs!

In this situation, the code in `ibft.go` will wait for the next message in the `getNextMessage` method with timeout defined in the `randomTimeout` method, which is returning exponential timeout values calculated from the current round. Problem here is that if the consensus can only be established after this timeout expires, which can be a very long time i

[2021-12-01 12:49] #231 closed, assigned to dbrajovic

[2021-12-01 12:49] #225 closed, assigned to brkomir

[2021-12-01 12:50] #243 closed, assigned to brkomir

[2021-12-01 12:54] brkomir commented on #223
@mrwillis, sorry for the late response here.

I have confirmed this behaviour and made the changes required in this PR #249 which is now merged into current develop, so feel free to try it out!

[2021-12-01 14:47] #245 closed, assigned to nobody

[2021-12-01 14:47] #248 closed, assigned to brkomir

[2021-12-01 14:47] #261 closed, assigned to brkomir

[2021-12-01 15:22] dankostiuk commented on #232
Closing as we haven't seen `block locked is incorrect` and https://github.com/0xPolygon/polygon-sdk/pull/263 should result in a faster recovery time for stuck chains

[2021-12-01 15:22] #232 closed, assigned to zivkovicmilos

[2021-12-03 15:00] dankostiuk opened #267 "txpool's `addImpl()` called twice for same tx resulting in many error logs"
## txpool's `addImpl()` called twice for same tx resulting in many error logs

### Description

Since we've updated our testnet to include the changes introduced in https://github.com/0xPolygon/polygon-sdk/pull/256, we've observed many `nonce too low` errors appear in our logs as a result of all incoming tx's having a nonce 1 less than expected:
https://github.com/0xPolygon/polygon-sdk/blob/80896f

[2021-12-03 16:09] #223 closed, assigned to brkomir

[2021-12-06 11:59] munna0908 commented on #267
@dankostiuk Thanks for bringing this up, will update you once the PR is ready for review .

[2021-12-06 21:18] dankostiuk opened #275 "Outdated store nonce causes `ErrNonceIncorrect` when processing pending txs"
## Outdated store nonce causes `ErrNonceIncorrect` when processing pending txs

### Description

While testing the txpool by spamming a validator with txs using eth_sendRawTransaction(), we often encounter a scenario where the store's nonce can't keep up to the incoming txs getting pushing into the pendingQueue. This usually happens when sending 20+ transactions in a row without waiting for each `

[2021-12-07 12:28] #236 closed, assigned to zivkovicmilos

[2021-12-07 12:36] zivkovicmilos commented on #275
Hey @dankostiuk,

We've identified the issue a few days ago and pushed out fixes for it - I notice you're on a commit that's before any of these fixes.

Please pull the latest changes from develop and try to reproduce the issue, we've solved the behavior you're experiencing

[2021-12-07 12:38] zivkovicmilos commented on #275
For context, this is the PR that fixed this bug:
https://github.com/0xPolygon/polygon-sdk/pull/268

[2021-12-07 15:34] lazartravica commented on #158
@MagnusTran @roccomuso Just for additional clarification, what @zivkovicmilos is mentioning is a consensus feature of Polygon-SDK, as a tool & a fully featured blockchain client for spinning up your own ethereum-compatible networks.

We are not working on a feature to create stake/unstake transactions for the Polygon PoS mainnet from JavaScript or any other clientside/backend piece of software, bu

[2021-12-07 16:25] dankostiuk commented on #275
Confirmed that this is fixed when testing with the latest changes, thanks again.

[2021-12-07 16:25] #275 closed, assigned to zivkovicmilos

[2021-12-08 10:52] #158 closed, assigned to zivkovicmilos

[2021-12-08 10:57] #118 closed, assigned to nobody

[2021-12-08 10:59] #233 closed, assigned to Kourin1996

[2021-12-08 12:40] #215 closed, assigned to zivkovicmilos

[2021-12-09 12:08] #246 closed, assigned to Kourin1996

[2021-12-09 22:13] dankostiuk opened #285 "Syncing validators getting remote txs stuck in queued"
## Syncing validators getting remote txs stuck in queued

### Description

When testing tx spamming scripts on our testnet, we've observed non-fully-synced validators to reach a state where we see many txs stuck in `queued` (accountQueue of the txpool). Even once fully synced, these txs remain stuck in queued.

As the txpool cleanup only occurs when a validator has reached CommitState (when ResetW

[2021-12-10 04:48] #267 closed, assigned to munna0908

[2021-12-10 20:43] mrwillis opened #286 "Once less nonce transactions not pruning from `pending` txpool"
## Once less nonce transactions not pruning from `pending` txpool

### Description

We've encountered an issue where transactions where `nonce = stateNonce - 1` in `pending` from txpool do not seem to clear properly sometimes.

We are still investigating.

We believe it's either a

1. +-1 issue of stateNonce in `promotedTxnCleanup`
2. Missing lock

### Your environment

* OS and version Ubuntu 20

[2021-12-10 22:54] #286 closed, assigned to nobody

[2021-12-14 15:04] zivkovicmilos commented on #285
Hey @dankostiuk,

Thank you for raising the issue 🙏

I'll try to reproduce it locally and get back to you 👍

If it is indeed a bug, we believe we've narrowed down where it occurs.

[2021-12-14 19:14] dankostiuk opened #291 "Node's txpool stuck when spammed with txs"
## Node's txpool stuck when spammed with txs

### Description

We've been running stress tests against our testnet using a spamming tool we built (https://github.com/mrwillis/eth-txn-spam) and managed to halt some of our nodes when spammed with txs.

Looking in our logs, it appears that the txpool blocks the consensus state-change cycle for every node we target. I suspect that when flooded with tx

[2021-12-14 22:28] mrwillis commented on #291
Also reproduced this with mode = 4 which is deploying contracts. That will get the blocks full quite quickly and fill up the txpool presumably faster (as it can't drain as fast due to big txn sizes).

Make sure you have enough cores as per https://github.com/mrwillis/eth-txn-spam otherwise you might not fill up the pools as fast you would hope.

[2021-12-14 22:32] mrwillis commented on #291
We've also noted that this test slows down the chain significantly, leading to 1 minute plus block times in some cases, but that could be a symptom of the bug or a separate issue.

[2021-12-14 23:06] dankostiuk commented on #291
It appears we are also able to reproduce this issue when latest black is half full (41.6% gas used/limit) - also using mode = 0.

[2021-12-15 17:19] AzulPretoBranco opened #292 "Polygon-SDK accepts transactions with an invalid gas limit as valid transactions"
## Polygon-SDK accepts transactions with an invalid gas limit as valid transactions

### Description

During our internal testing we notice that if we submit a transaction with an invalid gas limit (this was done on purpose) to a blockchain created using Polygon-SDK the transaction is accepted by the blockchain and added to the tx pool.

Later when the method `writeTransactions`runs the blockchain

[2021-12-16 23:11] zivkovicmilos commented on #292
Hey @AzulPretoBranco,

Thank you for reaching out.

So far what you've described is normal behavior - the transaction is accepted into the TxPool of the Polygon SDK but is discarded when it is attempted to be applied.

This is because block limits are enforced during transaction execution when the block is being built, and not at the point where you're adding the transaction - which may or may not

[2021-12-16 23:11] #292 closed, assigned to zivkovicmilos

[2021-12-17 10:57] lazartravica opened #297 "Polygon-SDK doesn't correctly report dropped txns through receipts for Metamask"
### Discussed in https://github.com/0xPolygon/polygon-sdk/discussions/294

<div type='discussions-op-text'>

<sup>Originally posted by **AzulPretoBranco** December 15, 2021</sup>
## Polygon-SDK accepts transactions with an invalid gas limit as valid transactions

### Description

During our internal testing we notice that if we submit a transaction with an invalid gas limit (this was done on purpo

[2021-12-20 09:24] Kourin1996 commented on #226
@mrwillis Hello, sorry that I couldn't share any updates. I had opened the PR to solve this issue. but as you can see, there is TxPool refactor ongoing in https://github.com/0xPolygon/polygon-sdk/pull/287. A similar feature would be added after this refactor is merged. I will keep this issue open. Thank you.

[2021-12-21 08:02] xzyblockChain opened #303 "question--block generation"
Can the block generation time be fixed to the specified time？
![Uploading eb95ef895e7c9b9b2b7a6dcaba57c7f.png…]()

[2021-12-21 09:38] zivkovicmilos commented on #303
Hey @xzyblockChain,

We already have a discussion on this here:
https://github.com/0xPolygon/polygon-sdk/discussions/282

Closing this issue now, we can move over to the discussion

[2021-12-21 09:38] #303 closed, assigned to nobody

[2021-12-21 10:58] xzyblockChain opened #304 "questions--pressure test"
The number of transactions on the chain per second is only more than 100. How to improve it? Did you do a pressure test?

[2021-12-21 12:05] zivkovicmilos commented on #304
Hey @xzyblockChain,

Please open up these discussions in the discussion section.
Unless you're reporting an issue in the PSDK, there's no need for these threads to be here.

Moving to a discussion now

[2021-12-21 12:06] #304 closed, assigned to nobody

[2021-12-21 20:13] mrwillis opened #308 "Hitting the file descriptor limit is unhandled"
## Hitting the file descriptor limit is unhandled

### Description

Not sure if this is the appropriate place for this, but something I wanted to bring up.

If you have the default FD count on Ubuntu for example per user (1024 or 2048), you very quickly will hit the file descriptor limit due to the sheer amount of http requests some clients can submit to nodes (`eth_blockNumber`, `eth_getTransacti

[2021-12-22 16:47] mrwillis opened #309 "Peer count doesn't fully recover after network partition"
## Peer count doesn't fully recover after network partition

### Description

We've noticed an issue where if we kill connectivity (specifically outbound connectivity) to a node, in some cases it does not fully recover to the total peer count

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK `develop`
* branch that causes this issue `develop`

### Steps to reproduce

*

[2021-12-23 10:47] #291 closed, assigned to brkomir

[2021-12-23 11:00] #285 closed, assigned to brkomir

[2021-12-23 15:54] dankostiuk opened #311 "Spamming nodes with txs halts node consensus"
## Spamming nodes with txs halts node consensus

### Description

Although txpool rpc methods such as `txpool_content` no longer hang during our spam test (see steps to repro this here https://github.com/0xPolygon/polygon-sdk/issues/291), it appears that running the same test as earlier stops the targeted node's state-change cycle. When enough nodes in the validator set are targeted, new blocks ar

[2021-12-28 08:46] Kourin1996 commented on #309
Hello, @mrwillis. Thank you for raising the issue. I could reproduce this issue with docker.  Basically, this issue can be divided into 2 issues:

(1) Node can't reconnect to a peer if node failed to connect to the peer before. It's caused because peer will not be removed from routing table when node failed to connect. For that reason, node can't catch NewPeer event from routing table when node ad

[2021-12-28 15:56] zivkovicmilos commented on #311
Hey @dankostiuk,

I ran this on the exact cluster setup you're describing and wasn't able to reproduce the problem - block production continues along normally on all nodes.

Have you been able to reproduce this with the latest `develop` version?

[2021-12-28 16:42] zivkovicmilos commented on #311
Hey @dankostiuk,

Following up, I was able to reproduce the issue you were experiencing by running the loadbot on each node in the network against another node - the chain stopped in Accept state.

We're currently looking into it 👍

Keeping you posted 💯

[2022-01-06 17:39] dangminhnhut1993 opened #330 "Where is the algorithm to calculate block reward?"
### Description
In `func (e *Executor) ProcessBlock(parentRoot types.Hash, block *types.Block, blockCreator types.Address)`, we have blockCreator, But I don't see where to calculate block reward, and where to add it to blockCreator's balance

[2022-01-07 11:30] zivkovicmilos commented on #330
Hey @dangminhnhut1993,

Thank you for reaching out.

We calculate the coinbase fee on a per transaction basis:
https://github.com/0xPolygon/polygon-sdk/blob/f165be765857477b55b12f7341d4a23ed124c628/state/executor.go#L436-L438

The coinbase being the block proposer (creator) of course:
https://github.com/0xPolygon/polygon-sdk/blob/ee9feb6ded975426f590df1e46b461fdaa39c3d6/state/executor.go#L87

[2022-01-07 11:30] #330 closed, assigned to zivkovicmilos

[2022-01-07 12:03] dangminhnhut1993 commented on #330
Thank so much

[2022-01-10 13:09] #253 closed, assigned to 0xpanoramix

[2022-01-13 11:30] mrsmkl opened #337 "EIP 1559 not supported"
## EIP 1559 support

### Description

There's no EIP 1559 support yet.

### Your environment

* ubuntu 20.04
* 8c076ec050124689a0def6b0396e896632e35ef2
* develop

### Steps to reproduce

Run polygon sdk

For example
[code]

### Expected behaviour

Return a block with field `baseFeePerGas`

### Actual behaviour

Returns a "legacy" block.

### Logs

### Proposed solution

Hopefully support for eip 1

[2022-01-13 11:40] mrsmkl opened #338 "eth_chainId problem"
## eth_chainId problem

### Description

### Your environment

* ubuntu 20.04
* 8c076ec
* develop

### Steps to reproduce

Run polygon-sdk server

[code]

### Expected behaviour

Returns the chain id.

### Actual behaviour

{"jsonrpc":"2.0","id":12,"error":{"code":-32601,"message":"the method eth_chainId does not exist/is not available"}}

### Logs

[code]

### Proposed solution

The case of the m

[2022-01-13 12:20] ZeljkoBenovic commented on #338
Hello @mrsmkl ,

Thank you for reporting this issue.
This is fixed with the latest PR 309085219700de195dc7356414477b1429a2667c , which has been merged to develop.
It also fixes net_peerCount method, which had a faulty implementation.

Closing this issue.

[2022-01-13 12:20] #338 closed, assigned to nobody

[2022-01-13 12:26] ZeljkoBenovic commented on #308
Hi @mrwillis ,

Thank you for raising this issue.
After some extensive testing, we've determined that the optimal FD value should be 65535 .

We've updated the official PolygonSDK documentation with this information under the [Local](https://sdk-docs.polygon.technology/docs/get-started/set-up-ibft-locally) and [Cloud Setup](https://sdk-docs.polygon.technology/docs/get-started/set-up-ibft-on-the-cl

[2022-01-13 12:26] #308 closed, assigned to ZeljkoBenovic

[2022-01-13 12:54] zivkovicmilos commented on #337
Hey @mrsmkl,

Thank you for reaching out.

Is support for EIP - 1559 something that's blocking you from using the Polygon SDK?

What project, if it's public, are you planning to integrate Polygon SDK with?

[2022-01-13 13:17] mrsmkl commented on #337
We are using Polygon SDK for testing in https://github.com/nevermined-io and projects building on top of that. It won't block, I'll just implement a workaround to detect if the chain supports EIP-1559.

[2022-01-14 09:15] #337 closed, assigned to nobody

[2022-01-14 15:17] zivkovicmilos commented on #309
Hey @mrwillis,

Just wanted to give you a heads up that the 2nd PR @Kourin1996 mentioned is up now, so I'll link it 👍

PR #343

[2022-01-14 15:33] zivkovicmilos commented on #311
Hey @dankostiuk,

Sorry for the late reply regarding this issue.

I wanted to give you more information as to what is going on and how we managed to reproduce it on our end, as well as what's being done about it.

## Reproduction

We haven't been able to reproduce following the steps you've described, but managed to see the issue during the following scenario:
* 4 node cluster (`c4.4xlarge`)
* Eac

[2022-01-14 17:24] dangminhnhut1993 opened #344 "Cannot deploy contracts Bridge, ERC20 Handler, ERC721 Handler, Generic Handler, on Polygon PoS local"
### Description

I'm trying to deploy contracts(Bridge, ERC20 Handler, ERC721 Handler, Generic Handler, ERC20, and ERC721) to the Polygon PoS chain with `cb-sol-cli`

### Your environment

* version of the Polygon SDK: 1ff87c0
* branch that causes this issue: develop

### Steps to reproduce

* Setup for cb-sol-cli command <br />
* Deploy contracts to Polygon PoS chain by `cb-sol-cli `deploy comman

[2022-01-14 19:16] Kourin1996 commented on #344
@dangminhnhut1993 Hello, Thank you for raising the issue.

Could you please check a few things?

1. Blocks are being produced regardless of executing `cb-sol-cli deploy`? You can check this by log or fetching latest block in JSON-RPC
2. Block Gas Limit is enough to fit for the contracts? Block Gas Limit is updated every block production and determined by last block gas limit, last block gas usage,

[2022-01-14 21:15] mrwillis opened #346 "`txpool_content` reports superfluous account data"
## `txpool_content` reports superfluous data

### Description

We've noticed with the recent txpool refactor that the `txpool_content` is now reporting accounts that don't have any pending or queued transactions.

### Your environment

* OS and version Ubuntu 20
* version of the Polygon SDK `1ff87c043c3323665bee55a3124852a27f9b3fbf`
* branch that causes this issue `develop`

### Steps to reproduce

[2022-01-14 22:08] mrwillis opened #347 "Failed to apply tx: err="incorrect nonce, recoverable [true]" causes txpool to skip valid transactions"
## Failed to apply tx: err="incorrect nonce, recoverable [true]" spam causes txpool to skip valid transactions

### Description

With the new txpool, we are seeing extremely aggressive spam of

[code]

we think there is an issue with the selection logic apart from the spam, as we do see transactions that are valid (nonce is correct) in our `txpool_content` but not being selected into a block. Exam

[2022-01-15 07:25] dangminhnhut1993 commented on #344
Thank so much sir, I deployed successful all contracts by add` --block-gas-limit [BLOCK_GAS_LIMIT] `in `polygon-sdk genesis` and set `--block-gas-target [BLOCK_GAS_TARGET]` in `polygon-sdk server` command (BLOCK_GAS_TARGET = 0x7A1200)

[2022-01-17 11:54] Kourin1996 commented on #344
Glad it worked out. Closing this issue

[2022-01-17 11:54] #344 closed, assigned to Kourin1996

[2022-01-20 14:57] dbrajovic commented on #346
Thank you for picking up on this issue - work is in progress.

[2022-01-20 15:00] dbrajovic commented on #347
Thank you for the issue, we'll start working on it soon.

[2022-01-21 00:02] zivkovicmilos commented on #311
Closing this issue due to  inactivity and inability to reproduce this with the latest develop branch.

I'll keep you guys posted on any related efforts in concerts to cementing the correct functioning of consensus 👍

[2022-01-21 00:02] #311 closed, assigned to zivkovicmilos

[2022-01-21 09:46] mishamana opened #377 "There are no images for 0xpolygon/polygon-edge"
## There are no images for 0xpolygon/polygon-edge

### Description

Documentation for polygon-edge says that

However dockerhub contains zero images for 0xpolygon/polygon-edge

### Your environment

* macOS Monterey
* 0.1.0
* master

### Steps to reproduce

`$ docker pull 0xpolygon/polygon-edge:latest`

### Expected behaviour

Latest image being pulled

### Actual behaviour

`Error response from d

[2022-01-21 13:16] lazartravica commented on #377
Hello @mishamana, sorry for the trouble.

We have recently rebranded from Polygon SDK to Polygon Edge.

You can run the `docker pull 0xpolygon/polygon-sdk:latest` to pull the latest release. Once the new release is made with the Polygon Edge name you will be able to fetch the `polygon-edge` docker repo as well.

I am updating the docs to avoid this confusion until the next release. Thank you for r

[2022-01-21 13:16] #377 closed, assigned to lazartravica

[2022-01-21 16:39] #297 closed, assigned to 0xAleksaOpacic

[2022-01-25 15:54] #346 closed, assigned to dbrajovic

[2022-01-28 22:25] dankostiuk opened #398 "Header.Timestamp as ms causes invalid response for eth_getBlockByNumber"
## Header.Timestamp as ms causes invalid response for eth_getBlockByNumber

### Description

It looks like yesterday's change (https://github.com/0xPolygon/polygon-edge/pull/384) which modified Header.Timestamp to store the block epoch as ms instead of seconds introduces a regression bug.

Our testnet uses Blockcout as our explorer which breaks as it assumes the unix timestamp to be in seconds, no

[2022-01-31 17:10] dankostiuk commented on #347
Hey @dbrajovic , we noticed https://github.com/0xPolygon/polygon-edge/pull/380 got merged last week - was that PR intended to fix this issue?

Just asking because we've noticed that this issue still occurs on the latest develop.

Thanks!

[2022-01-31 19:45] dbrajovic commented on #347
Hey @dankostiuk - this PR was intended to solve another bug (identified during testing) and introduce a minor improvement to the block building process.

When the PR for this issue is out, I'll be sure to link it here as well.

[2022-02-02 10:22] #398 closed, assigned to zivkovicmilos

[2022-02-04 23:57] akshar opened #408 "err="failed to write bulk sync blocks: invalid merkle root" when trying to deploy contract"
## err="failed to write bulk sync blocks: invalid merkle root" when trying to deploy contract

### Description
We pulled [IBFT PoA/PoS switch](https://github.com/0xPolygon/polygon-edge/pull/334) to test the change in our testnet and found that while deploying a contract  the validator nodes throws the `invalid merkle root` error.

### Your environment

* OS and version: ubuntu 20
* version of the

[2022-02-07 11:12] Kourin1996 commented on #408
@akshar Hello, Thank you for raising the issue. Unfortunately, I couldn't reproduce the issue. Could you tell me more details? (e.g. What is latest commit hash? How many validators you are running? All validators shares same genesis.json? When you deployed ERC20 contract. When is staking contract deployed and when does PoS begin?)

Thank you for your help.

[2022-02-08 13:03] Aleksao998 commented on #347
Hey @dankostiuk and @mrwillis
I have started working on this issue today. Thank you for sharing your tx spam script it's great.
I have only one question. Whit what parameters did you run script. I have tried to reproduce it with

[2022-02-09 14:50] mrwillis commented on #347
Hi @Aleksao998 @dbrajovic curious if any progress has been made here. Is there anything we can do to help? We can reliably reproduce this with the script linked.

[2022-02-09 15:51] akshar commented on #408
@Kourin1996 Not able to repro. closing this for now.

[2022-02-09 15:51] #408 closed, assigned to Kourin1996

[2022-02-09 16:32] 0xAleksaOpacic commented on #347
Hi, I have started working on this problem today. And was able to reproduce it with your script in the latest develop.
I am doing an investigation right now. I will contact you as soon as I find out what is the problem.
Really sorry you have to wait for this.

[2022-02-11 16:21] thegoldenmule opened #416 "gRPC and JSON RPC APIs improperly bound"
## Both the gRPC and JSON RPC APIs are bound to loopback

### Description

Because both API servers are bound to `127.0.0.1`, neither function correctly when run inside a Docker container. Instead, they need to be bound to `0.0.0.0`.

### Your environment

* macOS Monterey, CentOS 7
* 0.2.1
* develop

### Steps to reproduce

I found this issue by trying to use `polygon-edge` with `docker-compose`.

[2022-02-16 20:11] 0xAleksaOpacic commented on #347
Hi @mrwillis @dankostiuk
I had a really hard time debugging this issue, but I think that I finally know what is the problem.
Just to be sure. Can you please send me a full log from a node where this error occurs? And when an error happens please leave a node active for a few more minutes for error to happen again.

[2022-02-17 18:43] dankostiuk commented on #347
@Aleksao998 - hope this helps, let us know if you need anything else.

We ran our test again (bash start.sh NODE_RPC_URL 50 200 1), targeting a single node at 18:24 and stopped at around 18:28. txpool_status shows that there are 109 txs stuck in pending, even long after the test has ended. This time, we continuously see error log output with the message: `failed to apply tx: err=\"not enough funds

[2022-02-18 10:48] ZeljkoBenovic commented on #416
Hi @thegoldenmule ,

Thank you for opening this issue.

I totally agree that the default values for API services set to localhost/loopback addresses by default, are of not much use in many environments. We should definitely change this to bind to all interfaces ```0.0.0.0```
You can open up a PR if you have the time, if not we'll make this changes in the following weeks.

For now the easy fix for

[2022-02-23 15:25] 0xAleksaOpacic commented on #347
@dankostiuk @mrwillis
Hi, we finally know exactly what is causing this issue.

**Explanation:**

When we create a new network we specify what is block the gas limit in the genesis file and we start validators.

Because only one block can be proposer, all nodes first calculate who will be the proposer. The proposed Node starts building the block. Other Nodes goes into an accept state where they wai

[2022-02-24 10:34] inglkruiz opened #427 "PoA - Boot nodes - What's the proper way of configuring them?"
## PoA - Boot nodes - What's the proper way of configuring them?

### Description

Imagine the following deployment flow:

1. I deploy a Polygon Edge PoA Network with one Validator node, therefore, the bootnodes array in the `genesis.json` file contains its `multiaddr`.
2. I deploy a 2nd Validator node: Using the 1st Validator I vote to add it as a Validator and start the node, the node syncs, and

[2022-02-24 11:00] lazartravica commented on #427
Hello @inglkruiz thank you for raising this issue!

It's important to note that the list of bootnodes, e.g. the nodes a single node will attempt to connect to is completely separate from the validator set that changes with the existing validators voting a validator in or out.

As every Polygon Edge can serve as a bootnode (inherently), my suggestion is to spin up a set of non-validator nodes that

[2022-02-24 14:45] inglkruiz commented on #427
Hi @lazartravica thanks for your quick response.

Based on your answers, I consider that the best approach for such case is to make every node a bootnode (Validators and Non-Validators), meaning that I'll be modifying the `bootnodes` Array of the `genesis.json` file. So what I did is correct.

Now, the `--join` flag for it sounds like a flag I can use if one Organization wants to have a second nod

[2022-02-25 17:18] ZeljkoBenovic commented on #427
I'm moving this Issue to Discussion

[2022-02-25 17:18] #427 closed, assigned to nobody

[2022-02-28 13:05] luofei614 opened #431 "Can I use the latest code as a node for the half year old code"
## Can I use the new code as a node for the half year old code

### Description

The code half a year ago generated the block ， Now I add new node with latest code ， but error：   **current IBFT type not found**

Is there any way to do the upgrade?

thinks

[2022-02-28 16:56] luofei614 commented on #431
I found the way ： genesis.json  add type ：POA
`"engine": {
            "ibft": {
	       "type": "PoA"
 }`

[2022-02-28 16:56] #431 closed, assigned to nobody

[2022-03-01 15:48] mrwillis commented on #347
@Aleksao998 thanks so much for looking into this. If we do not gossip messages larger than 1MB, how will nodes communicate to others big blocks? Can we stream the transactions or batch them?

Basically my question is, does this effectively not allow blocks larger than 1MB?

[2022-03-01 16:09] 0xAleksaOpacic commented on #347
Hi,
For now, if you set the block gas limit to be high and the msg with the block exceeds 1MB nodes will not be able to gossip it and communicate. Right now I am doing research on how to deal with this problem. As you said we are considering either stream or batch. I expect to start working on the fix next week.

I just want to point out that to have a message of 1MB you need to have really high b

[2022-03-02 01:00] mrwillis commented on #347
Interesting!

We had block a block limit at 20m (20,000,000) and were able to reproduce
this reliably.

On Tue, Mar 1, 2022 at 11:09 AM OpacicAleksa ***@***.***>
wrote:

[2022-03-03 11:47] ZeljkoBenovic commented on #416
Hi @thegoldenmule ,

We've opened up a new [ PR #435 ](https://github.com/0xPolygon/polygon-edge/pull/435) that changes the default json rpc binding to all interfaces ( 0.0.0.0 ) .
Once we merge this PR and push out a new release, this change will be available in docker image as well.

We've also decided that the grpc binding should keep its default binding to loopback address, as grpc is primaril

[2022-03-03 14:56] 0xAleksaOpacic commented on #347
Hi @mrwillis @dankostiuk
We were able to identify a problem in limiting buffered messages in libp2p and solve it by raising the same limits. Please, before we make these parameters configurable, can you confirm the fix works on your infrastructure?

For testing, I would suggest creating a new network from scratch and to premine every base mnemonic account with 100000ETH. This way we will be sure t

[2022-03-03 19:58] thegoldenmule commented on #416
@ZeljkoBenovic Thanks so much! This is great. Agreed on grpc interface, makes sense.

[2022-03-04 17:47] NorwegianGoat opened #436 "ERC20 transfer not working using bridges"
## [Subject of the issue]
I followed the tutorial about bridge deployment using Chainbridge SDK. The bridge works when transferring ERC721 assets but nothing happens when I try to transfer ERC20 assets.

### Description and Steps to reproduce

My setup is formed by two separate edge-sdk blockchains, each of them with 4 nodes. The two chains use IBFT consensus.

The deployment phase of the bridge s

[2022-03-04 22:17] dankostiuk commented on #347
Hey @Aleksao998,

I've re-tested after bringing in [test/sportX_issue](https://github.com/0xPolygon/polygon-edge/tree/test/sportX_issue) into our testnet branch - we can confirm that this fix works as we no longer see stuck pending or queued txs or recurring spam after stopping the test.

Nice work looking into this one! We're very pleased to see how far the txpool has come 💯 🚀

[2022-03-07 08:43] Kourin1996 commented on #436
@NorwegianGoat Thank you for raising the issue. Could I ask you a few things to find the reason?

* You told that you've depoloyed `ERC20PresetMinterPauser`. Is this contract OpenZeppelin's one?

* Which mode do you use for ERC20 transfer in the source chain, burn or lock?
About the mode, please check this https://edge-docs.polygon.technology/docs/additional-features/chainbridge/setup-erc20-transf

[2022-03-07 13:30] NorwegianGoat commented on #436
Hi, thank you for your reply. I'm going to answer your questions in points.

Yes, currently my contract is a simple
`contract CrossCoin is ERC20PresetMinterPauser {
    constructor() ERC20PresetMinterPauser("CrossCoin", "CC") {}
}`

Initially, I didn't specify a mode for the source chain because I thought that the default was lock mode.  On the contrary, for the destination chain I configured the

[2022-03-07 16:16] Kourin1996 commented on #436
@NorwegianGoat Hi, Thank you for your details. Could I ask you a quick question? I don't see you mint new tokens in source chain. Does an sender account has enough balance to transfer?

[2022-03-07 16:23] NorwegianGoat commented on #436
Hi, yes. The mint is performed on the source chain by calling directly the smart contract function; this happens in lines 113 and 114. I can confirm that the redeem phase is working because I can see my balance going up in metamask.

[2022-03-07 16:40] Kourin1996 commented on #436
by the way, cb-sol-cli multiplies given amount by 10^18 as default. Seeing your log, you were trying to send 10^36 tokens. How many tokens do you have in account now?

[2022-03-07 17:06] NorwegianGoat commented on #436
This is one of the most epic facepalm moments of my life. I was convinced that they used Wei as a base unit for transfers and therefore it was my responsibility to make the conversion.
I can confirm everything is working now. Thank you :man_facepalming:

[2022-03-07 17:10] Kourin1996 commented on #436
Glad to hear that you could transfer tokens. Closing this issue. Please feel free to re-open this or open a new issue when you have new issue.

[2022-03-07 17:10] #436 closed, assigned to Kourin1996

[2022-03-08 14:18] #416 closed, assigned to ZeljkoBenovic

[2022-03-08 14:29] #347 closed, assigned to 0xAleksaOpacic

[2022-03-09 17:12] inglkruiz opened #441 "After migrating to version 0.3.0 deployment fails"
## After migrating to version 0.3.0 deployment fails

### Description

Hi, after updating a k8s deployment to use the latest version `v0.3.0` the container reports an error I cannot say what it is. I'm running a PoA network.

The command we run within a container is quite basic:

[code]

Here's is the config

### `config.json`

[code]

### `genesis.json`
[code]

### Your environment

* OS and vers

[2022-03-09 17:24] inglkruiz commented on #441
Just sharing it works running the version `v0.2.1`

![image](https://user-images.githubusercontent.com/12603425/157496514-85c31df3-126b-4466-b278-691157493fe3.png)

[2022-03-09 17:48] 0xAleksaOpacic commented on #441
@inglkruiz
Thank you for opening this issue.
I have been able to reproduce the issue and I will notify you as soon as we fix it.

[2022-03-09 18:08] spunkyshooter opened #443 "Polygon-Edge server shows errors when trying to send transaction using Metamask"
## Polygon-Edge server shows errors when trying to send transaction using Metamask

### Description
We are trying to create a sidechain to polygon using polygon-edge.

I had installed using `go install github.com/0xPolygon/polygon-edge@develop`

I had setup the blockchain using local setup and connected the network with Metamask.

I am facing problem testing sending transactions.
When ever I open

[2022-03-09 18:10] #441 closed, assigned to zivkovicmilos

[2022-03-09 19:29] spunkyshooter commented on #443
Update:
I updated the to latest version v0.3.1, Still has the same issues.

[code]

Other than that,
I see `polygon-edge@v0.3.1` mentioned in logs
But executing `polygon-edge version` gives ` v0.1.0`

[2022-03-09 19:40] 0xAleksaOpacic commented on #443
hi @spunkyshooter
I am not able to reproduce this issue on my local machine. Which version of MetaMask and browser are you using?

You will always see v0.1.0 when you are working on the develop branch, only release binaries contains a real version. https://github.com/0xPolygon/polygon-edge/releases. Anyways this is not a reason for this issue

[2022-03-09 19:43] spunkyshooter commented on #443
ok, understood. I am using Brave Browser. MetaMask Version v10.10.2

[2022-03-09 19:52] spunkyshooter commented on #443
I tried with Edge browser, MetaMask Version v10.10.1 version. Still has the same issue

[2022-03-09 19:58] 0xAleksaOpacic commented on #443
@spunkyshooter Thank you for info and checking on different browsers.
I am using chrome, but if you tried both with Edge and Brave i do not see what could be the problem.
I am going to continue investigation and will notify you when I think of something.

[2022-03-09 20:05] 0xAleksaOpacic commented on #443
@spunkyshooter
Can you please try it on Chrome, just to make sure that it is not Browser base problem.

[2022-03-09 20:11] ZeljkoBenovic commented on #443
Thank you @spunkyshooter for raising this issue.

What I can tell from the logs, is that the server is crashing during boot.
It doesn't reach the stage where the chain is running and the blocks are generated.
There has to be some mistake during the configuration and server setup process.

Try cloning the develop branch, building a binary from that and running the server.
The process should look so

[2022-03-09 20:14] spunkyshooter commented on #443
Can you please try it on Chrome, just to make sure that it is not Browser base problem.

Tested on Chrome, had same issues.
![image](https://user-images.githubusercontent.com/29997888/157526157-707389a7-478b-47ef-9669-da167312492c.png)

[2022-03-09 20:19] spunkyshooter commented on #443
Thanks @ZeljkoBenovic for the info on windows. I will verify on linux as well.

Just for the record, these are the logs I get when server is run on windows without Metamask's intervention.

[code]

[2022-03-09 20:51] dankostiuk opened #444 "eth_estimateGas transition.apply vs eth_call transition.apply result differs for the same param data"
## eth_estimateGas transition.apply vs eth_call transition.apply result differs for the same param data

### Description

Prior to the changes introduced in https://github.com/0xPolygon/polygon-edge/pull/422 , certain transition.apply calls within eth_estimateGas would fail, however in these scenarios eth_estimateGas still returned what looked to be a successful response, returning a value of `Gas

[2022-03-09 20:51] ZeljkoBenovic commented on #443
There should be much more logs.
The default block time is 2s, so basically every 2 seconds the block should be generated and you should see running logs and these logs seams stuck.

Check your config again.
You can try turning on the debug mode as well with ```--log-level DEBUG``` and you should see a lot of running logs.

[2022-03-10 04:05] 0xAleksaOpacic commented on #443
hi @spunkyshooter
I was able to reproduce your issue on my local machine. The way how I was able to reproduce this issue is if I mistype --data-dir path when starting the node.
Can you please check if the name and path when you have created the secrets match the one you used when starting the node (from the logs I see that you have used --data-dir ./validator-2)

[2022-03-10 12:44] zivkovicmilos commented on #444
Hey @dankostiuk,

Thank you for opening up this issue 🙏

When you say fork Sushiswap, do you mean this repo?
https://github.com/sushiswap/sushiswap

Which script are you executing?

[2022-03-10 13:01] zivkovicmilos commented on #444
@dankostiuk

Can you please share the data dirs for the chain, along with the genesis file?
I want to have them present if I'm unable to reproduce the problem with the Sushiswap repo.

Please also provide additional steps for reproducing the problem (step 1) 🙏

[2022-03-10 15:25] dankostiuk commented on #444
@zivkovicmilos

We are using a fork of https://github.com/sushiswap/sushiswap-interface and the part of the script that makes a call to estimateGas is right here:

https://github.com/sushiswap/sushiswap-interface/blob/e5c09dea3cb46d89099282757095f29e9cf8b87c/src/hooks/useSwapCallback.ts#L596

I've shared both data-dir backup and genesis file with you on telegram and will add more info to step 1, t

[2022-03-10 16:51] spunkyshooter commented on #443
@Aleksao998
Commands I had used:

To  create Secret:
`polygon-edge secrets init --data-dir validator-2`

To start server:
`polygon-edge server --data-dir ./validator-2 --chain genesis.json --grpc :20000 --libp2p :20001 --jsonrpc :20002 --seal`

I don't see any issues with the data-dir.

This is my folder structure
![image](https://user-images.githubusercontent.com/29997888/157713520-f60eb599-e080-

[2022-03-10 17:03] spunkyshooter commented on #443
@ZeljkoBenovic

I tried in linux environment, sadly I see the issue there as well.

Ubuntu: 20.04.3 LTS

Logs: https://mclo.gs/W3a5spr

Here are complete set of commands I used.

- `go install github.com/0xPolygon/polygon-edge@develop`

Generate Secrets for validators:
- `polygon-edge secrets init --data-dir validator-1`
- `polygon-edge secrets init --data-dir validator-2`
- `polygon-edge secrets

[2022-03-10 17:13] spunkyshooter commented on #443
I found out the issue. `--ibft-validators-prefix-path test-chain-` was the culprint,
It should have been `--ibft-validators-prefix-path validator-` for my case.

Thank you @ZeljkoBenovic and @Aleksao998

[2022-03-10 17:13] #443 closed, assigned to 0xAleksaOpacic

[2022-03-10 21:18] 0xAleksaOpacic commented on #443
Hi @spunkyshooter
I am glad that you found the issue. I am going to check the docs and update them if this step seems unclear.

[2022-03-11 11:28] inglkruiz opened #446 "Server is not using the GRPC address set at `config.json`"
## Server is not using the GRPC address set at `config.json`

### Description

Hi, after updating a k8s deployment to use the latest version `v0.3.1` the container is not using the GRPC addres I set in the `config.json` file. I'm running a PoA network.

The command we run within a container is quite basic:

[code]

Here's is the config

### `config.json`

[code]

### `genesis.json`
[code]

### You

[2022-03-11 11:52] Kvenessa opened #447 "Question:How polygon edge uses checkpointing?"
How polygon edge allows for checkpointing of a chain created with polygon edge?

chain build with polygon edge local setup, what additional setup required for chain which will checkpoint on parent chain (say polygon) to leverage polygon's security. How this process works?

[2022-03-11 12:41] ZeljkoBenovic commented on #446
Hi @inglkruiz ,
thank you for raising this issue.

We've found out that the config file values for json-rpc and grpc are getting overridden with the default values.
This bug was introduced in our recent CLI refactor PR.

I've linked the PR here that fixes this issue.
Once we merge it, you can just pull the develop branch and everything should work fine.

[2022-03-11 20:22] spunkyshooter opened #449 "Question: Where can I get Admin account and relayer account details. [Newbie, Unclear from docs]"
I am trying to setup ChainBridge

I was following doc: https://edge-docs.polygon.technology/docs/additional-features/chainbridge/deploy-contracts

[code]

Where can I get these details below ?
`ADMIN_ACCOUNT_PRIVATE_KEY`
`RELAYER_ACCOUNT_ADDRESS`
`RELAYER_ACCOUNT_PRIVATE_KEY`

These are my assumptions:
- I can use the metamask wallet account as admin account and use its private key.
- For Relayer,

[2022-03-12 13:18] #446 closed, assigned to ZeljkoBenovic

[2022-03-12 20:59] Kourin1996 commented on #449
@spunkyshooter Hi, Thank you for your questions.

You can any accounts you want to use for admin and relayer account. If you're using Metamask, you can get the private key by exporting in account details.

The address of the private key which you gave when you run `cb-sol-cli deploy` command will be assigned `admin` role as default. This `admin` role is required to run some specific method call in

[2022-03-13 19:20] zivkovicmilos commented on #449
@Kourin1996

Converting this to a discussion

[2022-03-13 19:20] #449 closed, assigned to Kourin1996

[2022-03-13 19:21] zivkovicmilos commented on #447
cc @Kourin1996

[2022-03-13 19:21] #447 closed, assigned to nobody

[2022-03-18 10:13] zivkovicmilos commented on #444
Closing this issue as it seems to be an unrelated problem.

We've discussed this internally and will start drafting a PR for the concurrency problem that seems to be popping up 🙏

[2022-03-18 10:13] #444 closed, assigned to zivkovicmilos

[2022-03-21 18:12] spunkyshooter opened #467 "Unable to deploy contracts to Polygon Test Net"
## Unable to deploy contracts to Polygon Test Net

### Description
I was following [deploy-contracts](https://edge-docs.polygon.technology/docs/additional-features/chainbridge/deploy-contracts/) doc, I was able to deloy contracts on polygon-edge blockchain.
But I am unable to deploy to Polygon TestNet (Mumbai). I do have enough Test Matic Tokens in both `admin` and `relayer` accounts.

I am trying

[2022-03-22 09:24] Kourin1996 commented on #467
@spunkyshooter Did you check gas price from gas station and set proper gas price?

The average gas price right now from Mumbai Gas Station (https://gasstation-mumbai.matic.today/v2) is 1.6851500227999998 GWei = 1685150022 Wei. 1000000000 is too cheap compared to average gas price.

[2022-03-22 09:27] Kourin1996 commented on #467
And please note https://rpc-mumbai.matic.today has API rate limitation. You might want to use some services like Infura or Alchemy

[2022-03-22 16:39] spunkyshooter commented on #467
Thanks @Kourin1996  for the direction, I tried changing the gas price to 7586724964 Wei (7.586724964 GWEI) which is `maxFee` as per the Gas Station api, I am now getting below error:

[code]

[2022-03-22 18:04] Kourin1996 commented on #467
@spunkyshooter This error occurs when you're sending transaction with a lower gas price than the gas price of the transaction with same nonce. Please use higher gas price than the value you used before for same nonce to replace transaction.

[2022-03-22 18:55] spunkyshooter commented on #467
Thanks @Kourin1996, Closing this issue, I signed up for Alchemy and used their RPC url, Its seems to be deploying. I can see the large number of requests on dashboard.

[2022-03-23 01:40] JSHan94 opened #469 "High CPU utilization on AWS ec2 when running node"
##  High CPU utilization on AWS ec2 when running node

### Description

When we run a full node on `t2.small` AWS ec2 instance, CPU utilization goes too high abnormally then the instance/node is crushed .  ![스크린샷 2022-03-23 오전 10 31 39](https://user-images.githubusercontent.com/29887117/159604259-65aa1d14-0aed-45ae-9dd9-07fbb7cec536.png)

### Your environment

* OS and version : ubuntu
*

[2022-03-23 23:00] zivkovicmilos commented on #469
Hey @JSHan94,

Thank you for reaching out.

Can you please provide additional information on the actual problem?

What were you doing on the network? What kind of transactions were you sending, if any?

[2022-03-24 01:19] JSHan94 commented on #469
I think we didn't do anything special task on these crushed nodes.

They are just in a validator set.

What we only do is just monitoring the nodes with `ethstats` monitoring server.

![스크린샷 2022-03-24 오전 10 10 39](https://user-images.githubusercontent.com/29887117/159822172-1dc4a651-05f4-42f6-aafe-32fc99cd05b6.png)

Once a day, t2.micro nodes are crushed like node3 in the figure.

`ethst

[2022-03-24 09:40] zivkovicmilos commented on #469
@JSHan94

Thank you for the update 🙏

Could you please provide full node logs for the node that gets crushed?

[2022-03-24 15:47] spunkyshooter commented on #467
Still facing the same issue.
The previous execution got timedout after 10hours

[code]

I tried to increase the gasPrice and included gasLimit after following [this](https://forum.moralis.io/t/deploy-to-polygon-matic-mumbai-fails/700/4) but still fails.

Failed after 6 hours.

[code]

I wanna know, did any one had luck deploying ChainBridge contracts to Polygon testnet and if so what were those se

[2022-03-24 19:49] Kourin1996 commented on #467
@spunkyshooter

* Please check the deployer account you gives in `--privateKey` has enough balance to deploy contract
* Please check `gasPrice` is enough expensive
* Please check `gasLimit` is enough to process deployment

Actually, I could deploy all contracts with the following command:

[code]

If you couldn't, please go to Alchemy dashbord, check transaction hash, and check this transaction in

[2022-03-25 08:20] Kourin1996 commented on #467
@spunkyshooter Also you might want to check previous transactions (meaning transactions with lower nonces) are stuck or not.

[2022-03-25 17:55] spunkyshooter commented on #467
@Kourin1996

Thanks for reply.

My both admin and relayer account have 10 Matic test Tokens, which I think is enough.
I tried with very high gasPrice and gasLimit as well, max fee and various combinations. it didn't work.

I have let it deploy using your settings. hoping it works out.

1. How do we know the previous transactions with lower nonces are stuck ? I don't see a way to see those.
2. How

[2022-03-25 18:14] Kourin1996 commented on #467
@spunkyshooter

1. You can get the number of the transactions, created by an account and mined into the past blocks, by getTransactionCount in JSON-RPC API. This count will be next nonce basically. So you get the count and the nonce in the transaction you're sending right now. If there is a gap of the nonce, which may mean some previous transactions are still in queue.
2. Depends on the number of

[2022-03-25 20:38] spunkyshooter commented on #467
@Kourin1996

Thanks for explaining.

I checked eth_getTransactionCount:
[code]

This result is 0:
[code]

But this is what I see on my Alchemy dashboard.

![image](https://user-images.githubusercontent.com/29997888/160197222-b08c03ee-6dc4-453a-8b1a-e6086a3f6061.png)
![image](https://user-images.githubusercontent.com/29997888/160197487-24c385b5-9750-42a0-96d5-bb2e54bcf4a1.png)

There are 2 type of

[2022-03-25 20:56] Kourin1996 commented on #467
@spunkyshooter All result in last your message shows any transactions you've sent from this account have never been processed. Also you can check this fact in Polygon scan.

https://mumbai.polygonscan.com/address/0xbc726fee350e4afe042e5a2ba7a130509ee4f3ac
This result shows there are no transactions from your account. (You can see one transaction, but this is deposit and not from your account)

The

[2022-03-25 21:26] Kourin1996 commented on #467
@spunkyshooter I recommend you to create a brand new account in wallet like Metamask, move assets to it by tx with 0 nonce and enough expensive gas price, and send contract creation transactions with enough expensive gas price from new account if you can create new one

[2022-03-26 08:41] spunkyshooter commented on #467
@Kourin1996 Thanks a lot for putting effort and deep diving. Helped us to deploy the contracts finally. We were blocked for days.
Closing it.

[2022-03-26 08:41] #467 closed, assigned to Kourin1996

[2022-03-26 16:27] kirillt opened #472 "LoadBot fails with SIGSEGV"
## LoadBot fails with **SIGSEGV** (`invalid memory address or nil pointer dereference`)

### Description

Attempt to perform stress testing using built-in tool "LoadBot" fails.

### Your environment

* OS and version: **Fedora 35**
* version of the Polygon Edge: **v0.1.0**
* branch that causes this issue: **develop**

### Steps to reproduce
Open MetaMask, create an account. In my case the followin

[2022-03-28 09:21] zivkovicmilos commented on #472
Hey @kirillt,

Thank you for reaching out 🙏

We have identified the bug you were experiencing, and have resolved it in a PR that will get merged out soon, it was an issue with the loadbot module having incorrectly set modes.

[2022-03-28 21:45] dankostiuk opened #476 "`ibft snapshot` command not returning expected output"
## `ibft snapshot` command not returning expected output

### Description

It seems like after https://github.com/0xPolygon/polygon-edge/pull/410, the grpc `ibft snapshot` call no longer returns the validator set from the last snapshot as expected:

[code]

Describe your issue in as much detail as possible here

### Your environment

* OS and version `Ubuntu 20`
* version of the Polygon Edge `v0.3

[2022-03-29 06:31] kirillt commented on #472
@zivkovicmilos awesome! Looking forward to try again.

[2022-03-29 09:41] ashlesh-settlemint opened #477 "Running an Edge network with 0 transaction fee"
## Running an Edge network with 0 transaction fee

### Description

After running the polygon edge network with below `config.json` and `genesis.json` file, when I query the validator node with the `eth_gasPrice` RPC method it sometimes returns zero and sometimes non-zero values. And when the value is non-zero, I am unable to make the transaction with 0 `gasPrice` as it throws the insufficient fun

[2022-03-29 10:13] 0xAleksaOpacic commented on #476
@dankostiuk You are right, I will create hotFix today.

[2022-03-29 14:49] #476 closed, assigned to 0xAleksaOpacic

[2022-03-30 05:51] samisbakedham opened #479 "JSON RPC Doesn't Function"
## JSON RPC Doesn't Function

### Description

When following the setup guide on the docs website for polygon edge, the deployment of four validator and one non-validator node was successful. The non-validator node in this case is the one that I labeled the "viewer", and it's where JSON-RPC are directed to (such as linking to metamask etc.). However, when attempting to curl the IPv4 address of the

[2022-03-30 06:24] #479 closed, assigned to nobody

[2022-03-30 21:23] #472 closed, assigned to ZeljkoBenovic

[2022-03-30 22:19] zivkovicmilos commented on #477
Hey @ashlesh-settlemint,

Thank you for opening up the issue. I have identified the problem and started working on a fix.
I've linked the PR that should fix this issue once it's merged out. I'll keep you updated as soon as this issue has been resolved 👍

[2022-03-31 14:58] #309 closed, assigned to zivkovicmilos, Kourin1996

[2022-04-01 21:58] dankostiuk opened #486 "Recurring `Unable to process flush` WS error messages on premature client exit"
## Recurring `Unable to process flush` WS error messages on premature client exit

### Description

If fixed this would definitely help to minimize unnecessary error logs.

When a node has an open web-socket connection to a client that exits prematurely, we see the the recurring errors below that spam our logs until we perform a restart:

[code]

### Your environment

* OS and version `Ubuntu 20`

[2022-04-03 18:14] Kourin1996 commented on #486
@dankostiuk Hello, Thank you for raising the issue! I could reproduce this error locally and identify the reason. I create PR #487. Please wait for the PR to be merged. I appreciate your help.

[2022-04-04 09:48] Kvenessa opened #489 "Polygon edge POS setup scripts failing"
## Description

We are trying to setup a standalone chain with POS consensus

### Steps to reproduce
1. Create a network according to local setup by passing pos flag and provide accounts as premined accounts to provide funds
2.  Clone polygon staking smart contract and run following tasks
A. Update .env file with RPC url and account1 private key
B.npm run stake
C. npm run info

Npm run info fails

[2022-04-05 06:47] Kourin1996 commented on #489
@Kvenessa Hello, Thank you for raising the issue.

I will answer your questions firstly.
1. As you said, we've added new CLI options for `min-validator-count` and `max-validator-count` in `genesis` command for PoS setup. But it works without these parameters. I tested right now. I didn't face such issue
2. Any account you want to make stake. Of course, this account must have enough funds to stake.

[2022-04-05 08:11] Kourin1996 commented on #489
@Kvenessa If you faced error when running `npm run info`, there is possibility of that Staking contract has not been deployed or using wrong contract address

[2022-04-05 16:58] kirillt commented on #472
Looks working, thanks.

[2022-04-05 17:16] vineetaparodkar opened #492 "ERC721 deposit failing with chainbridge"
## ERC721 deposit failing with chainbridge

### Description

Chainbridge sample ERC721 token is transferred between Polygon POS chain and local network setup with polygon edge. ERC 721 token is deposited and proposal is executed at relayer but tokens are not released in Polygon edge network.

### Your environment

* OS and version: ubuntu
* version of the Polygon Edge : 0.2.1
* branch that causes

[2022-04-05 21:40] Kourin1996 commented on #492
@vineetaparodkar Thank you for your question. There's one thing I'd like to ask you about:

Did you call `set-burn` to Bridge contract and `add-minter` to ERC721 contract on Edge chain? Before bridging, ERC721 handler on destination chain must have the NFT you want to transfer OR an ability to mint new NFT, of course

I saw the flows you did but you seem not to have given the ability to ERC721 han

[2022-04-06 09:28] vineetaparodkar commented on #492
I have not called set-burn, add-minter on edge chain above setup was done with default lock/release mode.

@Kourin1996 , Docs here mention about lock release mode https://edge-docs.polygon.technology/docs/additional-features/chainbridge/setup-erc20-transfer

1. This was the default mode used in above setup. What steps needs to be executed inorder to make this transfer from ERC721handler contract t

[2022-04-06 11:45] Kourin1996 commented on #492
@vineetaparodkar

1. Yes, you're right. You needed to mint NFT on Edge chain (destination chain) and pass it to ERC721 handler. So you need to execute the below command between step 5 and 6.

[code]

2. Yes. So the account that has deployed ERC721 contract has a minter role, then you can mint new NFT from admin account. You can do that with the above command.

[2022-04-07 11:20] vineetaparodkar commented on #492
Closing this issue as deposit/transfers of NFT is working as expected with above suggestions

[2022-04-07 11:20] #492 closed, assigned to Kourin1996

[2022-04-07 13:09] Kourin1996 commented on #489
@Kvenessa There are any updates? May I ask you the following things?

* Are you using latest code of both [polygon-edge](https://github.com/0xPolygon/polygon-edge) and [staking-contracts](https://github.com/0xPolygon/staking-contracts) repository?
* Did you face this error you explained above when running `npm run info`?
* Did you set STAKING_CONTRACT_ADDRESS in .env correctly? If you setup PoS in

[2022-04-08 12:00] Kvenessa commented on #489
Thanks for your help @Kourin1996 , Somehow staking contract was not deployed , tried with latest polygon edge binaries and docker images we no longer see this issue in deployment now.

[2022-04-08 12:05] Kvenessa commented on #489
@Kourin1996  can you please elaborate more on this if metamask account can be used doesn't this require that account to run a node in the network? I have tried POS staking with metamask account (staked 1eth with scripts provided in staking contract hardhat project) and was able to successfully deploy sample contract . Can you please provide some details how a block proposal process worked when met

[2022-04-08 16:38] spunkyshooter opened #493 "ERC20 deposit failing with ChainBridge"
## ERC20 deposit failing with ChainBridge

### Description
I was going through the [this](https://edge-docs.polygon.technology/docs/additional-features/chainbridge/setup-erc20-transfer/) doc trying to transfer Chainbridge sample ERC20 token between Mumbai Polygon POS chain and local network setup with polygon edge.

I was able to register the resource, mint ERC20 tokens, approve them, the last `de

[2022-04-08 16:56] Kourin1996 commented on #493
@spunkyshooter Hi, This error appears when you set the fee on deploying but you don't set the same value in deposit transaction. Did you give `--fee` when you called `cb-sol-cli deploy`?

[2022-04-08 16:58] spunkyshooter commented on #493
No, I hadn't  set --fee at all.

[2022-04-08 17:06] Kourin1996 commented on #489
@Kvenessa

All initial validators specified at `genesis` command stake to staking contract as default. Which means initial validators are set to validator set in staking contract when pre-deploying this.

I'm afraid I didn't understand what you were trying to say well. But the new account will not become a validator in Edge immediately after the account stakes. Edge fetches validator set from the

[2022-04-08 17:24] Kourin1996 commented on #493
@spunkyshooter

Right now I checked the fee in your contract `0x7FAd470b67ef6759890DDf5e1Ac1e77f90e4B864` in Mumbai by the code like this

[code]

then it returns this value

[code]

so fee is set in your contract

[2022-04-08 17:28] Kourin1996 commented on #493
@spunkyshooter I have no idea because I don't know how you've deployed this contract. But if you want to change fee, I recommend you use the below command to change fee

[code]

[2022-04-08 17:28] spunkyshooter commented on #493
@Kourin1996

This could have been set internally by chainbridge. There is no option to pass --fee in `cb-sol-cli` at all and I hadn't set in any other way.
https://github.com/ChainSafe/chainbridge-deploy/blob/main/cb-sol-cli/docs/erc20.md#deposit

Is there any way to move forward ?

[2022-04-08 17:39] Kourin1996 commented on #493
@spunkyshooter I checked the deploy contract (https://mumbai.polygonscan.com/tx/0xe0fd13fccf4f6a733b2ce0663c2f61a4551149d4e75847e0d572df26d62c974b) and initial fee is set to the same value I showed you above. You can see constructor parameters after bytecode in contract creation transaction input.

If you've not set fee when running `cb-sol-cli deploy` surely, please ask ChainBridge team.

[2022-04-08 17:42] spunkyshooter commented on #493
@Kourin1996
Sure, Thanks for the help. Closing it.

[2022-04-08 17:42] #493 closed, assigned to Kourin1996

[2022-04-08 17:42] Kourin1996 commented on #493
By the way, there is no explanation about `--fee` because this page is for `cb-sol-cli erc20` command. They explain about `--fee` on this page https://github.com/ChainSafe/chainbridge-deploy/blob/main/cb-sol-cli/docs/deploy.md

[2022-04-09 13:53] #477 closed, assigned to zivkovicmilos

[2022-04-10 17:38] kirillt opened #494 "Loadbot crash: concurrent map writes"
## "Concurrent map writes" error during loadbot execution

### Description

Sometimes (1 of many times) such error log might be generated.

### Your environment

* Fedora 32
* v0.1.0 (f59d3ca12586a910b3f8744ffbefdbbaa19a9e02)
* develop

### Steps to reproduce

Run Loadbot in plain value transactions mode (parameters: 3000 txs, value 0x100, 600 tps).

### Expected behaviour

Something like:
[code]

[2022-04-11 17:09] spunkyshooter opened #496 "ERC20 tokens not released in Edge Chain from erc20 deposit command."
## ERC20 tokens not released in Edge Chain from erc20 deposit command.

### Description

Chainbridge sample ERC20 token is transferred between Polygon POS chain and local network setup with polygon edge. ERC 20 token is deposited and proposal is executed at relayer but tokens are not released in Polygon edge network.

### Your environment

* OS and version Ubuntu 20.04
* version of the Polygon Edg

[2022-04-12 02:58] sahil-springworks commented on #493
@Kourin1996 , could you please explain me how did you write the script to check out the fee for the contract.

I have two main questions ->
1. What and how did you use the value of `abi` ?
2. The `contract._fee()` function does not seem to exist when I'm trying to replicate your script.

Would you please help me figure out how you set up the script?

[2022-04-12 08:28] Kourin1996 commented on #496
@spunkyshooter Hello, Thank you for the question.

May I check this firstly?
ERC20 Handler in Polygon Edge chain has enough tokens to release? As I mentioned at https://github.com/0xPolygon/polygon-edge/issues/492, Handler contract in destination chain must have enough tokens to release for lock-release mode. Could you tell me how much tokens ERC20 handler has?

If you don't have any ERC20 tokens

[2022-04-12 08:54] Kourin1996 commented on #493
@sahil-springworks

You can get the ABI of ChainBridge contracts by building solidity files. Please clone it and build locally.

[code]

You can get the ABI in the json `artifacts/contracts/Bridge.sol/Bridge.json` after you build contract.

`_fee` is public field in Bridge contract but you can read this value by calling like function. Please load ABI before calling this method in JavaScript.

The

[2022-04-12 10:46] sahil-springworks commented on #493
Thanks for the valuable info @Kourin1996 :)

[2022-04-12 18:25] spunkyshooter commented on #496
Thanks @Kourin1996 :)

As rightly pointed out, the issue was with the ERC20Handler not having the ERC20 to release.

The deposit was successful and the tokens were released after I minted the tokens from admin account and send those tokens to ERC0Handler Contract address.

[2022-04-12 18:25] #496 closed, assigned to Kourin1996

[2022-04-12 18:26] spunkyshooter commented on #496
On a side Note, I feel docs should be updated for the rookies to not face this issue.

[2022-04-12 19:49] zivkovicmilos commented on #494
Hey @kirillt,

Thank you for raising the issue 🙏

I've managed to narrow down the problem and am working on a fix that will be out soon 👍

I'll update you here once the PR is out.

[2022-04-13 08:48] zivkovicmilos commented on #469
Hey @JSHan94,

Any updates on the logs?
Have you managed to reproduce the problem still?

[2022-04-16 12:50] kirillt commented on #494
Extreme case: reproduces consistently with `--block-time` set to `0`.

[2022-04-16 15:51] kirillt opened #501 "Multiple targets mode for LoadBot"
#feature #question
Would it be useful to implement remote mode for the stress testing module?

This would look like an extra flag `--targets` receiving a list of `IP:PORT` pairs and sending transactions to all specified nodes in round-robin or random way. Such feature should provide less "stressful" but more realistic results since load would be evenly distributed between many nodes.

It might be

[2022-04-16 22:10] STZeed commented on #501
I Like it

[2022-04-16 22:44] #501 closed, assigned to nobody

[2022-04-18 04:51] JSHan94 commented on #469
After upgrading our node instance, it is hard to reproduce same issues.

I think it's just a AWS issue. Thank you anyway.

[2022-04-18 11:25] zivkovicmilos commented on #469
Hey @JSHan94,

Thank you for updating!

I'll close this issue for now, so feel free to open up a new one if it comes up again.

[2022-04-18 11:25] #469 closed, assigned to zivkovicmilos, ZeljkoBenovic

[2022-04-18 13:37] NorwegianGoat opened #505 "The method eth_getProof does not exist"
## JSON-RPC Method not available

### Description

As from the title, when the JSON-RPC method eth_getProof is called the result is the following:

### Your environment

* Debian 11
* Polygon-Edge 0.1.0

### Steps to reproduce

1. Deploy a contract on your Polygon-Edge chain istance.
2. Call the method eth_getProof on it (e.g. `curl -X POST --data '{"jsonrpc":"2.0","method":"eth_getProof","params"

[2022-04-18 16:52] maxifom opened #506 "Unknown command "dev" for """
## [Subject of the issue]

### Description

Describe your issue in as much detail as possible here

### Your environment

* OS and version: Ubuntu 21.10
* version of the Polygon Edge: v0.3.3-0.20220414104354-a61e3922bd56
* branch that causes this issue

### Steps to reproduce
go install github.com/0xPolygon/polygon-edge@develop
polygon-edge dev

### Expected behaviour
Starts dev server, bypassing

[2022-04-19 18:37] Kourin1996 commented on #506
@maxifom Hello, Thank you for reporting!

`dev` command described on the page has been removed already. You can use same functionality by these steps:

[code]

And also I've created PR to remove descriptions about this command in the docs repo.

I appreciate your help.

[2022-04-20 09:30] Noooblien opened #507 "Required a WebSocket RPC for Polygon-Edge Chain"
## Required a WebSocket RPC for Polygon-Edge Chain

### Description
I am making a block explorer of a chain that I have made using Polygon Edge and I require a WebSocket RPC URL for Block Explorer so it can auto reload the information
I am not able to figure it out how I can get a WebSocket

[2022-04-20 09:34] lazartravica commented on #507
Hello @rahul-spirit

Here are the basic steps for instantiating a WS connection:

You can use this tool for testing WS quickly:
https://github.com/vi/websocat

By default when you run the polygon SDK, it sets up the WS interface, so there is no need to additionally configure it

Opening a WS connection with websocat tool:

[code]

:point_up_2:

This is for a localhost where the HTTP port is 8545.

[2022-04-20 09:42] #505 closed, assigned to nobody

[2022-04-20 09:47] zivkovicmilos commented on #489
Hey @Kvenessa,

Any updates on this issue? Are you still able to reproduce it?

[2022-04-20 12:38] #494 closed, assigned to zivkovicmilos

[2022-04-20 12:40] zivkovicmilos commented on #506
Closing this issue as we've opened up a PR for the docs, and it's irrelevant for Edge now:

https://github.com/0xPolygon/polygon-edge-docs/pull/82

[2022-04-20 12:40] #506 closed, assigned to Kourin1996

[2022-04-20 13:10] #507 closed, assigned to lazartravica

[2022-04-20 14:06] #486 closed, assigned to Kourin1996

[2022-04-20 21:54] dankostiuk opened #510 "Non-validator node slow to write blocks when connected to other non-validator peers"
## Non-validator node slow to write blocks when connected to other non-validator peers

### Description

There seems to be a very noticeable delay in writing blocks when making `eth_getBlockByNumber(latest)` calls to a non-validator node when connected to other non-validator peers.

We are using an elastic load balancer to manage an RPC cluster which is comprised of 4 non-validating nodes. When di

[2022-04-21 03:48] Kvenessa commented on #489
No I haven't been able to reproduce it, can confirm its working currently with latest version. Closing this issue for now.

[2022-04-21 03:48] #489 closed, assigned to Kourin1996

[2022-04-21 04:56] Saif-Uz-Zaman opened #511 "Polygon-Edge Server Always Listening on Ipv6"
## Polygon-Edge Server RPC Port Always Listening on Ipv6

### Description

Polygon-Edge Server RPC Port Always Listening on Ipv6 but I need to let it listening on Ipv4 as well.

### Your environment

* Ubuntu 20.04 on AWS
*  v0.3.3
* tag-v.0.3.3

### Steps to reproduce

* On that server `telnet tlpn`
[code]

### Expected behaviour

[code]

[2022-04-21 13:09] ZeljkoBenovic commented on #511
Hi @Saif-Uz-Zaman ,

thank you for reaching out.

This information can be deceiving, it says tcp6 :::8545, but it actually works for both ipv4 and ipv6.
This means that, by default, JSON-RPC API will bind to all available ipv4 and ipv6 interfaces, even though it says tcp6.

You can confirm this by simply running the `curl` command against this ip:port.
`curl <server_ipv4>:8545` and you should get

[2022-04-21 13:09] #511 closed, assigned to nobody

[2022-04-26 05:03] Saif-Uz-Zaman opened #521 "Transaction Failed"
## [Transaction Failed in polygon-edge]

### Description

I have created a 5 node ploygon-edge on AWS with t3.xlarge, I have also premined some MATIC with two address, One is with 70 million MATIC and another is with 2 million MATIC. I have also tested an another cluster with 2000 premined matic, which is actually served my purpose. But when I create a cluster with muliple premined account and wit

[2022-04-26 13:43] zivkovicmilos commented on #510
Hey @dankostiuk,

Thank you for raising this issue 🙏

I wasn't able to reproduce the problem you're facing.
I would just like to note a couple of things from the logs you've provided:
- your `eth_getBlockByNumber` calls are timed every `400ms`, which is less than your block time (block times are `1s` or more)
- the `enqueue block` messages you're seeing are from the node _that's about to receive b

[2022-04-26 14:38] zivkovicmilos commented on #521
Hey @Saif-Uz-Zaman,

What kinds of transactions are you sending?

These errors are unrelated to your premining. How did you premine funds?
Did you premine the native currency of the Polygon Edge network?

[2022-04-26 19:38] dankostiuk commented on #510
Hey @zivkovicmilos ,

Thanks for helping to investigate - even when adjusting our script to do an `eth_getBlockByNumber` every 10 seconds, we still see stale blocks.

Perhaps this is an issue then with `i.syncer.BestPeer()` returning nil which may be repetitively hitting the line below
https://github.com/0xPolygon/polygon-edge/blob/5423044a94d78be5c59ef4ed17968fa8d421dd92/consensus/ibft/ibft.go#L4

[2022-04-27 10:46] zivkovicmilos commented on #510
Hey @dankostiuk,

I don't believe the `1s` timeout is what's causing the issue - what I can see from your logs is that you've found a "best peer", but he's not giving you the data.
It's only when he probably disconnects, that you actually seem to find a new one to sync up with (go to `WatchSync` and `BulkSync`). That's what's happening at line 41.

The tricky part is just figuring out why the best

[2022-04-27 12:12] zivkovicmilos commented on #510
It's also worth noting that the latest block when you query the node is the one it actually returns, because it starts writing missing blocks from line `42`

[2022-04-27 20:20] dankostiuk commented on #510
Hey @zivkovicmilos - I've added some more logs to help get a better understanding of where the issue might be.

In one particular instance of an observed block delay at 3:47pm, I noticed that BestPeer() was last invoked at 3:34pm. This leads me to suspect that the node is stuck somewhere in `WatchSyncWithPeer()` (with a reference to the same peer calculated in BestPeer()). Though I'm not sure yet,

[2022-04-27 21:44] zivkovicmilos commented on #510
Hey @dankostiuk,

This is definitely a good clue to pick up on, since it might be an indication that the SyncPeer `enqueueLock` is being starved out by other peers (they keep adding, enqueuing, new blocks), which prevents `popBlock` or `purgeBlocks` to execute in a timely manner, as they're waiting for the lock to be released.

I'll check this out, thank you for the heads up 🙏

[2022-04-29 01:36] ThannDev commented on #521
Talk to Polygon Support on the [Live support page](https://forummaticnetwork.org/) so that your issue can be looked into.

[2022-04-29 08:58] zivkovicmilos commented on #521
@ThannDev,

This Github repo is the only official channel for Polygon Edge related questions and issues.

[2022-05-04 11:10] zivkovicmilos commented on #521
Closing issue due to a lack of activity.

@Saif-Uz-Zaman please open a new issue with more details if you are still experiencing it.

[2022-05-04 11:10] #521 closed, assigned to zivkovicmilos

[2022-05-09 03:15] little-evan-yin opened #539 "polygon-edge txpool add --nonce 0 --from 0x1010101010101010101010101010101010101010 --to 0x0000000000000000000000000000000000000010 --value 0x100"
## [Subject of the issue]

### Description

go with the documents, when deal with "Working with a node " --> "Step4：Send a transfer transaction" throw an error "unknown flag: --nonce"

### Your environment

* OS and version
* centos8
* version of the Polygon Edge
* v0.1.0
* branch that causes this issue
* develop

### Steps to reproduce

* Tell us how to reproduce this issue <br />
* Where the iss

[2022-05-09 06:56] 0xAleksaOpacic commented on #539
Hi @little-evan-yin
Thank you for opening an issue
We have removed this method from our CLI. We already have an issue in our docs repo. https://github.com/0xPolygon/polygon-edge-docs/issues/80. Fix is pushed and in review.

I am going to close this one, so we do not have duplicates

[2022-05-09 06:56] #539 closed, assigned to nobody

[2022-05-09 20:24] IanDorion opened #542 "Event logs transaction hash is null"
## Event log transaction hash

### Description

After a transaction, when looking at the event, the transaction hash is null

### Your environment

* Unbuntu(WSL2) Docker container
* latest
* develop

### Steps to reproduce

Picking up the hash using go-ethereum;

[code]

### Expected behaviour

I should receive a valid transaction hash

### Actual behaviour

receive a null transaction hash

[2022-05-09 20:37] 0xAleksaOpacic commented on #542
Hi @IanDorion ,
We have already created the fix for this issue here is the PR https://github.com/0xPolygon/polygon-edge/pull/528.
We expect  to merge it soon.

[2022-05-09 20:41] IanDorion commented on #542
Hello @Aleksao998,
Thank you for you quick response.

[2022-05-10 13:52] dbrajovic commented on #510
Hey @dankostiuk ,

We believe the issue is manifesting inside the `syncer.Broadcast()` call, namely when the node is attempting to perform [Notify()](https://github.com/0xPolygon/polygon-edge/blob/61e5829406874c4be4b46faba2450aba0f1b6d4b/protocol/syncer.go#L337-L343) on its peers. Judging by the latest logs (line 40), it seems that after the connection to one of the peers is closed, the node is ab

[2022-05-11 12:22] #226 closed, assigned to dbrajovic

[2022-05-11 15:37] akshar opened #547 "failed to write bulk sync blocks: failed to verify the header: not enough seals to seal block"
## failed to write bulk sync blocks: failed to verify the header: not enough seals to seal block

### Description
- We pulled in latest develop changes to one of our validator and are seeing this error.

### Your environment

* OS and version: `Ubuntu 20`
* version of the Polygon Edge: `dd1d9af9d602fe1c88ce473c09259a038d07a16d`
* branch that causes this issue: `develop`

### Steps to reproduce

-

[2022-05-11 16:31] dankostiuk commented on #510
Hey @dbrajovic ,

Thanks for taking the time to look into this one - I've pulled in `bug/slow-syncer` and just as before, we're seeing a delay in writeBlock() calls when scaling up a non-validator ElasticBeanstalk cluster.

Interestingly, it seems like any time a polygon.consensus.syncer `failed to notify` error occurs (either as a result of the new context deadline timeout you added or stream res

[2022-05-12 10:00] dbrajovic commented on #547
Hey @akshar , thank you for raising the issue.

#513 is what introduced the issue most likely. The returned value from `QuorumSize()` is different than before for the same size of the validator set. In effect, this means that previously sealed blocks (verified under the old calculation) cannot be verified with the new calculation during bulk sync.

1. Do you have a public JSON-RPC endpoint ?
2. Ho

[2022-05-12 21:29] akshar commented on #547
- `https://rpc.toronto.sx.technology`

- `5`

[code]

[code]
- we were consistently getting this error on all validator nodes (all of them had develop changes)

[code]

- we see a new [PR](https://github.com/0xPolygon/polygon-edge/pull/549) related to quorum. Is it related to this issue ? If yes, can we get some context ? @dbrajovic

[2022-05-13 12:13] dbrajovic commented on #547
@akshar

Yes, the linked PR is intended to resolve this issue for all chains that previously sealed blocks under the old Quorum size calculation. If you look at the original PR's [additional comments](https://github.com/0xPolygon/polygon-edge/pull/513#:~:text=otherwise%20delete%20it-,Additional%20comments,-Fixes%20EDGE%2D514), you'll notice the difference in required number of seals (old Q vs new

[2022-05-13 15:00] zivkovicmilos commented on #510
Hey @dankostiuk,

Thank you for the updated logs.

I have a strange request: can you please note the output of the `BestPeer()` method every time it executes in the logs?

We'd love to see what peer is being chosen as the best peer.

Additionally, we'd also like to grab the logs from the peer that actually disconnects (from the last logs that was 16Uiu2HAmBsSRL5n2wNyY3mFnNq2vz9EimL6xYsddLbrkKUec8Y

[2022-05-13 16:15] akshar commented on #547
So, we pulled `hotfix/legacy-quorum` changes to all the validator nodes and set the quorum to a future block using `./main ibft quorum --chain genesis.json --from <future-block>`. We observed no errors once the blocknumber passed the quorumSizeBlockNum.  @dbrajovic

[2022-05-16 14:20] #547 closed, assigned to dbrajovic

[2022-05-16 14:37] #542 closed, assigned to 0xAleksaOpacic

[2022-05-16 15:11] dbrajovic commented on #547
Hey @akshar ,

PR #549 was merged with how-to explanation in the Additional comments [section](https://github.com/0xPolygon/polygon-edge/pull/549#:~:text=TODO-,Additional%20comments,-PR%20%23513%20introduced).

If you see the issue persists, please open up a new issue. 🙏

[2022-05-16 15:24] 0xAleksaOpacic commented on #542
Hi @IanDorion
The fix is pushed into the develop branch. And we are creating release today.
Because it is breaking change we advise pulling the latest code on all active nodes.

[2022-05-16 15:25] IanDorion commented on #542
Thank you very much!

[2022-05-16 23:21] dankostiuk commented on #510
Hey @zivkovicmilos ,

After adding logs to note the output of the BestPeer() method, I've spun up a new elasticBeanstalk cluster with 3 nodes to act as our RPC cluster (all non-validators as before).

Below are my findings after adding BestPeer() output logging around the time when we notice writeBlock lag:

NodeA:
- outputs nil followed by 16Uiu2HAmVWJ7TDHtyoJtSXuDgS8mKvUwWWxzxjTsTTFRU31D6xNA (th

[2022-05-17 11:41] dbrajovic commented on #510
Hey @dankostiuk ,

Thank you for sending over the logs.

We've made some updates on the `bug/slow-syncer` branch. It adds additional debug logs to further help us investigate the issue. Also, another important addition is that `Notify()` happens asynchronously entirely. We believe this will "unblock" the client so it's able to write the blocks enqueued by other peers.

Please provide full logs ins

[2022-05-25 18:29] dankostiuk commented on #510
Hey @zivkovicmilos , @dbrajovic ,

(Left the same comment on PR https://github.com/0xPolygon/polygon-edge/pull/548 )

---

After pulling in `bugfix/slow-syncer` into our testnet, I was no longer able to reproduce the issue I opened in https://github.com/0xPolygon/polygon-edge/issues/510.

I re-tested after pulling in `bugfix/bulk-sync` as well and everything seems fine (I wasn't able to reproduce

[2022-05-25 18:29] dankostiuk commented on #510
Hey @zivkovicmilos , @dbrajovic ,

(Left the same comment on PR https://github.com/0xPolygon/polygon-edge/pull/548 )

---

After pulling in `bugfix/slow-syncer` into our testnet, I was no longer able to reproduce the issue I opened in https://github.com/0xPolygon/polygon-edge/issues/510.

I re-tested after pulling in `bugfix/bulk-sync` as well and everything seems fine (I wasn't able to reproduce

[2022-06-01 05:36] isingh108 opened #572 "Peer network dicovery error"
[ERROR] polygon.network.discovery: Unable to execute bootnode peer discovery, %w: EXTRA_VALUE_AT_END="unable to create new discovery client connection, peer disconnected before the discovery client was initialized"

Please help me on this

[2022-06-01 09:18] #510 closed, assigned to dbrajovic

[2022-06-01 09:20] zivkovicmilos commented on #572
Hey @iqbalsingh108,

Please use the issue template to open up an issue 🙏

This entire description lacks any kind of context we need to provide assistance with problems you're facing.

[2022-06-01 09:20] #572 closed, assigned to nobody

[2022-06-06 00:42] samisbakedham opened #578 "Implement Eth_debugTraceTransaction"

[2022-06-06 04:50] xingxinglian opened #579 "failed to consensus: unable to read new message from the message queue"
## [Subject of the issue]

### Description

I deploy polygon-edge for 3 validator nodes,  use pos consensus.
after run more than 20 hours, the system can't generate blocks. after analysis the log, I found the three node all have something wrong with the "unable to read new message from the message queue: timeout expired=5m0s". then I restart the proposal validator node, the system run ok.

### You

[2022-06-07 10:12] zivkovicmilos commented on #579
Hey @xingxinglian,

Which commit hash are you running on from the `develop` branch?

[2022-06-07 12:50] xingxinglian commented on #579
@zivkovicmilos   I use the commit  8b85d687bc964109cd7935ef62a1e503e47a2fe9  ,  May 20

[2022-06-07 12:56] zivkovicmilos commented on #579
@xingxinglian

Got it, are you able to reproduce this problem with the latest commit?

We've added mechanisms in place that will prevent this kind of situation from occurring:

https://github.com/0xPolygon/polygon-edge/commit/06dc1551f58df081d41e0fd3e68233d8312b5cb0

[2022-06-07 13:44] xingxinglian commented on #579
@zivkovicmilos   got it.  I will pull the newest code to try it.  And I want to know to what's mechanisms to prevent; I already read  the new code , but can't get how to prevent.

[2022-06-07 18:05] zivkovicmilos commented on #578
Hey @samisbakedham,

Thank you for reaching out.

Currently, we still don't have support for `debug` endpoints. We realize that these are extremely helpful for developers, and so we're planning on adding this support in the near future.

Stay tuned for updates regarding this feature set 🙏

Please check [this discussion](https://github.com/0xPolygon/polygon-edge/discussions/280) as well that has be

[2022-06-07 18:05] #578 closed, assigned to nobody

[2022-06-07 18:09] zivkovicmilos commented on #579
Hey @xingxinglian,

There are several things that prevent it, actually.

One of the most obvious ones is that we've added improved block verification that will not cause your network to get confused when irregular blocks are proposed. This [has been resolved](https://github.com/0xPolygon/polygon-edge/pull/544) and is live on the develop branch.

The other major thing that caused this sort of behav

[2022-06-08 12:40] xingxinglian commented on #579
@zivkovicmilos  thanks, I already pull code and run online. If still occur the problem ,  I'll tell you.

[2022-06-09 05:19] spunkyshooter commented on #579
@zivkovicmilos Facing same issue I tried with latest release (v0.4.1) which has commit [06dc155](https://github.com/0xPolygon/polygon-edge/commit/06dc1551f58df081d41e0fd3e68233d8312b5cb0) and even tried to setup freshly.

Here are my working logs for TESTING:

[code]

[2022-06-09 10:14] ZeljkoBenovic commented on #579
Hi @spunkyshooter ,

Are you running only 2 nodes out of 4 ?
Can we get the logs from all nodes ?

Thanks

[2022-06-09 10:26] spunkyshooter commented on #579
Yes, I ran only 2 out of 4 nodes and noticed the issue.
I tried now with all 4 nodes, seems to be working fine after some wait time. Thanks

[code]

[2022-06-09 10:34] ZeljkoBenovic commented on #579
@spunkyshooter Great 🥇

There needs to be at least 4 validators active at minimum in order for the blockchain network to run properly.
If there are less than 4 ( actually there can be 3 validators per IBFT spec ) there will be RoundChangeState in the logs and depending on the number of active validators the chain won't start / will halt .

I'll close this issue for now. Feel free to open a new iss

[2022-06-09 10:34] #579 closed, assigned to zivkovicmilos

[2022-06-17 00:53] harry-nguyen22 opened #594 "Unable to deploy required contract to local polygon edge chain"
### Description

I followed this guide to deploy the required contracts to my local edge chain https://polygon-edge.netlify.app/docs/additional-features/chainbridge/deploy-contracts

I set up a localhost environment following this guide https://polygon-edge.netlify.app/docs/get-started/set-up-ibft-locally
And default consensus is POA

My first init `genesic` command set `--block-gas-limit 0x7A1200

[2022-06-18 01:21] Kourin1996 commented on #594
Hello, @harry-nguyen22. Thank you for raising the issue.
Could I confirm one thing?

You said you passed `premine=0x3956E90e632AEbBF34DEB49b71c28A83Bc029862:1000000000000000000000` when you called `genesis` command. Is `0x3956E90e632AEbBF34DEB49b71c28A83Bc029862` is the account from which you sent transactions? You need to specify account address you want to give initial balance to in `premine` ar

[2022-06-18 09:32] harry-nguyen22 commented on #594
@Kourin1996 Thank you! I set the wrong premine address. It should be a relayer address since the gas is consumed there. I deployed successfully!

[2022-06-18 14:42] #594 closed, assigned to nobody

[2022-06-18 23:18] harry-nguyen22 opened #595 "Cannot register resource ID in polygon mumbai"
## [Subject of the issue]

### Description

I finished step https://polygon-edge.netlify.app/docs/additional-features/chainbridge/deploy-contracts and step https://polygon-edge.netlify.app/docs/additional-features/chainbridge/setup-relayer without any issues

The result of deploying the contract in polygon Mumbai (via alchemy RPC) is:

[code]

Then I followed this guide https://polygon-edge.netlif

[2022-06-21 10:54] Kourin1996 commented on #595
@harry-nguyen22 Hi, Thank you for your questions.

I will answer your questions firstly.

As [official document](https://chainbridge.chainsafe.io/spec/#resource-id) and [our document](https://polygon-edge.netlify.app/docs/additional-features/chainbridge/setup-erc20-transfer/#step-1-register-resource-id) said, this is 32-bytes arbitrary data. But it may have the chain ID of the home chain in the la

[2022-06-22 09:24] samisbakedham opened #601 "Add the method eth_accounts"
## the method eth_accounts

### Description

Was trying to set up ENS on a chain built using polygon-edge, and was met with the error of
 `ProviderError: the method eth_accounts does not exist/is not available`

### Your environment

* Windows Eleven
* v0.4.1
* dev

### Steps to reproduce

* Git clone https://github.com/candleplatforms/ens-contracts
* run `yarn`
* then run `npx hardhat deploy --ne

[2022-06-22 22:22] Kourin1996 commented on #601
@samisbakedham Hello, Thank you for raising the issue.

I'm afraid Polygon Edge doesn't support `eth_accounts` JSON-RPC endpoint currently because Edge doesn't have local account management feature.

I think this error is thrown by hardhat. hardhat calls `eth_accounts` if its config doesn't have private keys. You can put your private keys in `hardhat.config.js` like this:

[code]

[2022-06-22 22:51] samisbakedham commented on #601
You're right, thanks. Fixed it. Could also be worth looking into adding local account management perhaps?

[2022-06-23 00:34] harry-nguyen22 commented on #595
@Kourin1996 Thank you for your reply. I checked the gas price here: https://gasstation-mumbai.matic.today/v2 like you said and realized that gas on the website is in GWei (at the time I checked, the fast transaction requires around 7 GWei ) so I set the gas price to the registration command below. Note that my admin private key is associated with this account 0x76829A94932664106627Fc36E3e0577511Fc

[2022-06-23 06:33] Kourin1996 commented on #595
@harry-nguyen22 I think the transactions you sent before are stuck. The simplest way is to use new accoun. If you want to remove stuck transactions, you need to send transaction with specified nonce and much higher gas price in metamask. `cb-sol-cli` has no option to specify nonce.

[2022-06-24 00:03] harry-nguyen22 commented on #595
@Kourin1996 Thanks! The transactions are stuck and I need to deploy a new contract to a new account and then register resourceID again and everything's good!

[2022-06-24 00:03] #595 closed, assigned to nobody

[2022-06-24 00:47] harry-nguyen22 opened #606 "Approve ERC20 token transfer stuck!"
### Description

I followed the tutorial here: https://polygon-edge.netlify.app/docs/additional-features/chainbridge/setup-erc20-transfer/

I successfully register resource ID,  mint erc20 token, check balance but when I make an approve command below, it stucks there even I tried to set fast gasPrice (at that time it is around 2 GWei https://gasstation-mumbai.matic.today/v2 )

  cb-sol-cli erc20 a

[2022-06-24 06:08] Kourin1996 commented on #606
@harry-nguyen22 Hello, Thank you for raising the issue.

1. Another way to remove stuck transaction is to send a transaction with same nonce but higher gas price. Now I have no idea what the reasons are except for gas price issue. From my side, it worked when I tried yesterday.

2. Of course. You don't need to register resource ID and mint token every time. In the example with the ERC20 contract b

[2022-06-24 16:02] ralyodio opened #607 "Faucet code?"
is the faucet code from faucet.polygon.technology available on github anywhere?

I'm looking for a faucet I can setup for my polygon erc-20 token. The matic.supply project is dead. Nobody is responding there.

[2022-06-24 19:05] 0xAleksaOpacic commented on #607
Hi @ralyodio
Not sure, we do not have access to the faucet.polygon.technology code.

Closing this issue, not related with polygon-edge

[2022-06-24 19:05] #607 closed, assigned to nobody

[2022-06-26 06:05] harry-nguyen22 commented on #606
@Kourin1996 I tried with new accounts and every steps run successfully except the approve step (even I set high gas price). Did you try with Alchemy RPC ? Because Infura requires me to set Billing information before using polygon Mumbai testnet so I don't use it.  Using https://rpc-mumbai.matic.today always return 404 error ( I think due to rate limit)

[2022-06-26 06:10] Kourin1996 commented on #606
@harry-nguyen22 When I tried it, I used Alchemy RPC API. Does your ERC20 contract implements `approve` method? Actually you don't have to use `cb-sol-cli` to approve. All you need to do is to approve transfer from your account by ERC20Handler.

[2022-06-26 06:52] harry-nguyen22 commented on #606
@Kourin1996 I cleaned up everything and create new account and setup all stuff again and finally I can approved the ammout and deposit successfully 😁. Here is my address in Mumbai: https://mumbai.polygonscan.com/address/0xd255E1Bd52Bf5c9cF223b32B86a2616431Dff0F0

You can see that the mint, approve and deposit transaction (1 fail and 2 successfully) are successful but somehow the recipient account

[2022-06-26 07:03] Kourin1996 commented on #606
@harry-nguyen22 Great to hear that.

Yes, you need to set the same resource ID for the token you want to bridge in both chain.

And you need to start relayer before you send deposit tx. Please make sure ERC20Handler in the destination chain has enough balance to send the recipient account tokens in case of Lock/Release mode in the destination chain. If you've set burn/mint mode, ERC20Handler needs

[2022-06-26 07:19] harry-nguyen22 commented on #606
@Kourin1996 Thank for your answer. I don't set any specific mode so I think the default mode still lock/ release. Below is my contract info in destination chain (localhost chain)

[code]

You mean the address 0xDeA74FCB008d43D1Bf1698FB0f20c957C7B13185 should have enough balance to be able to transfer the token to the recipient account? I tried to use my local test account ( 890 ETH ) to send 10 et

[2022-06-26 08:27] harry-nguyen22 commented on #606
@Kourin1996 I got your point. So the handler only accepted the token from the erc20 contract it registered before. So we need to mint it first and then transfer it to the handler address. I can make a deposit successful! Thank you very much.

[2022-06-26 08:27] #606 closed, assigned to nobody

[2022-06-26 10:52] vineetaparodkar opened #608 "Web socket url doesn't work behind nginx proxy"
### **Web socket url doesn't work behind nginx proxy**

### **Description**
I am trying to configure polygon edge nodes behind nginx proxy. Access to the nodes is restricted using nginx basic authentication mechanism. Web3HttpProvider, Web3WsProvider npm provider packages are used which allows pass authorization headers when rpc/ws calls are made to send transactions. Need some pointers on how to

[2022-06-27 10:35] laviniat1996 commented on #601
@samisbakedham Glad to hear that it is fixed! :) To reply to your question, we don’t plan on adding Account management to Polygon Edge, as that would be a security liability and the most common modern setups utilize client-side signing.

If you have any other questions, please let us know.

[2022-06-27 13:28] laviniat1996 commented on #608
@vineetaparodkar  Thank you for opening  this issue!

This is our template for reporting issues: https://edge-docs.polygon.technology/docs/community/report-bug and we highly encourage everyone to use it, because it makes our work much easier if we get all the relevant data.

Could you please tell us more info about your environment and provide the logs (if there are any) ?

[2022-06-27 16:58] vineetaparodkar commented on #608
Hi @laviniat1996 , Updated issue details above according to template you shared, Please let me know if any other details are required.

[2022-06-28 04:35] #601 closed, assigned to nobody

[2022-07-04 18:23] saravana87 opened #621 "failed to bulk sync (err="fork not found")"
### Description

I set up the polygon edge in our servers. I was able to deploy the bootstrap node and ran the polygon-edge server with the genesis file.
I connected with the wallet and ability to see the 1000 ETH in my account.
when I tried to stack the contract or whatever it was.
the blockchain doesn't pass the 251 blocks.

this is the output of eth_getBlockByNumber
{"jsonrpc":"2.0","id":1,"res

[2022-07-05 00:20] ZeljkoBenovic commented on #608
Hi @vineetaparodkar ,

sorry for the delay.

Not sure on why you're redirecting to https but you've got no certs configured, and you're hitting plain http.
The Nginx config that is tested and working with Basic Auth with WS is as following :
[code]
I've pulled this config from a Polygon Edge network that is running in docker containers and the JSON-RPC is exposed via Nginx reverse proxy.

Try impl

[2022-07-06 01:35] nshCore opened #622 "POA network stuck in SyncState block 0"
## POA network stuck in SyncState block 0

### Description

i am experiencing issues where running Polygon edge nodes in POA does not get past the

[code]

status

I have setup for nodes with the following genesis bootstrap command

node 1
[code]

node2
[code]

node3
[code]

node4
[code]

all four nodes are being started with the following command

[code]

all four nodes find each other and establ

[2022-07-06 10:53] laviniat1996 commented on #621
Hello @saravana87 ,
Thank you for opening this issue!

Could you please share with us the `commit hash` or the release version you are using?

[2022-07-06 21:21] aryaparas opened #623 "EXTRA_VALUE_AT_END = unable to create discovery client connection"
## [Subject of the issue]
When I'm running the command
polygon-edge server --data-dir ./test-chain-1 --chain genesis.json --grpc-address :10000 --libp2p :10001 --jsonrpc :10002 --seal

### Description
I'm getting [ERROR] polygon.network.discovery: Unable to execute bootnode peer discovery, %w: EXTRA_VALUE_AT_END = "unable to create discovery client connection, peer disconnected before the discover

[2022-07-07 00:05] CryptoDevving opened #625 ""named files must be .go files: -o" when I run the "go build main.go -o polygon edge""
## [Subject of the issue]

"named files must be .go files: -o" when I run the "go build main.go -o polygon-edge"

### Description
I am trying to host it on a cloud host.

For some reason it keeps saying "named files must be .go files: -o" when I run the "go build main.go -o polygon-edge"
I sent up my environment up properly I think. I have the polygon files in home. If I should put them in another

[2022-07-07 07:21] zivkovicmilos commented on #625
Hey @CryptoDevving,

Thank you for reaching out.

This is not an Edge related issue.

Your go build command is wrong, the output flag goes before the go file you're building:
`go build -o polygonEdge main.go`

[2022-07-07 07:21] #625 closed, assigned to nobody

[2022-07-07 15:27] CryptoDevving commented on #625
The documents have the command wrong then.

[2022-07-07 15:29] 0xAleksaOpacic commented on #625
@CryptoDevving
Yes, you are right. Thank you for opening this issue, we will fix our official doc :)

[2022-07-07 15:53] saravana87 commented on #621
Hi, sorry for the late reply. I am using Develop branch.
commit 0e42bda440eee530ece852bc98ee794fe28fbc13 (HEAD -> develop, origin/develop, origin/HEAD)
I hope this helps.
Thanks

[2022-07-07 16:12] laviniat1996 commented on #622
Hello @nshCore ,
Thank you for opening this issue!

Firstly, I would kindly ask you to make sure you are running all the nodes with the same config file. You can use the command `polygon-edge server export ` , which will generate the config file. After this, you can modify the config file to your needs and use it for all the nodes.

Please let me know how it goes.

[2022-07-07 16:45] CryptoDevving opened #626 "Initialize data folders and generate validator keys and multiaddr connection string"
## [Subject of the issue]

The commands show in the command format, "polygon-edge secrets init --data-dir data-dir" and "node-1 polygon-edge secrets init --data-dir data-dir". It only worked the first time. The other times I tried it said it was initialized. Could it be that initializing without node-1 infront could have caused the error?

Edit:
I tried using "node-1> polygon-edge secrets init --d

[2022-07-08 02:56] eddieran opened #627 "a few questions about the premine & default staked amount of PoS"
## [Subject of the issue]

### Description

when trying generate the genesis json, i setup some premine amount and also specify the ibft-validator like
[code]

but also, while i go through the process of generating genesis, there would be default staked balance value
![image](https://user-images.githubusercontent.com/8403607/177907569-ba827eb2-1d8a-423d-a29a-e55e7b04ba76.png)

i want to know
1. Ho

[2022-07-08 02:57] #627 closed, assigned to nobody

[2022-07-08 04:04] #626 closed, assigned to nobody

[2022-07-08 04:25] CryptoDevving opened #629 "Unable to execute bootnode peer discovery"
## [Subject of the issue]

### Description

When I run "node-1> polygon-edge server --data-dir ./data-dir --chain genesis.json  --libp2p (myip):1478 --nat (myip) --seal node-1" it makes an error saying "unable to parse bootnode data. failed to parse bootnode : failed to parse multiaddr "", empty multiaddr"

I accidentally put my genesis.json in node-1 folder and removed it, then generated it again

[2022-07-08 05:37] eddieran opened #631 "While launching on cloud, validators can generate blocks normally, but it can't pack my transfer transactions in"
## [Subject of the issue]

### Description

i launched a network with
- 2 bootnodes (non-validator)
- 2 validators
- 1 rpc-only node

and monitor the debug level logs, i saw block producing is normal, but if I submit a transfer transaction, which would exist in tx pool without including in blocks.

### Your environment

* Ubuntu 22.04
* version of the Polygon Edge: COMMITID: 898d836b4a3717abb8bdbd

[2022-07-08 14:28] laviniat1996 commented on #623
Hi @aryaparas ,
Thank you for opening this issue!

Can you please share what were the exact steps followed? Also, the logs from other nodes and genesis.json would help us a lot.

[2022-07-08 14:49] #608 closed, assigned to nobody

[2022-07-08 14:52] laviniat1996 commented on #629
Hi @CryptoDevving ,
Thank you for sharing this issue!

The genesis.json file must be the same across all nodes. As mentioned, you have a different genesis.json file for node 1. Please firstly fix this. Let me know how it goes.

[2022-07-08 15:24] laviniat1996 commented on #631
Hi @SureEdding ,
Thank you for opening this issue!

From what you shared, everything looks okay. I would like to ask you for some additional info. Can you please share the output from the node on which you submitted the transaction. Also, please turn on `--log-level=debug` to have more verbose logs.

[2022-07-08 15:41] CryptoDevving commented on #629
So I put the genesis.json in all nodes?

Edit: I still get the same error even after putting the same genesis.json in all nodes folders.

Edit2: How would I run that command with node-1, node-2, node-3, and node-4?

[2022-07-08 19:05] CryptoDevving commented on #629
I tried to put the Genesis.json in all nodes, but I get this error after I run the command.
![more errors](https://user-images.githubusercontent.com/36123966/178055016-5be3797b-26fa-4dc9-bf25-2c5a82e32db1.jpg)

[2022-07-08 19:34] CryptoDevving commented on #629
I fixed the Genesis.json in the polygon-edge folder then ran the command again, then got this
![another error](https://user-images.githubusercontent.com/36123966/178058923-753bdc8b-24eb-4c61-a815-93a809697caa.jpg)
.

[2022-07-08 23:35] #629 closed, assigned to nobody

[2022-07-09 01:41] CryptoDevving opened #633 "Unable to execute bootnode peer discovery"
## [Subject of the issue]

### Description

I had followed all the cloud setup steps in the documents. I generated the genesis.json for all my 4 nodes. These nodes are seperate computers. I used this command on each of the nodes:
"polygon-edge genesis --consensus ibft --ibft-validator=0xA62D69C8b9240E49A66aE36D267C269036E06822 --ibft-validator=0xbC2332FC4fBA85323D007bbf4957eB049aedEA3F --ibft-vali

[2022-07-09 02:12] CryptoDevving commented on #633
In addition, could I get the exact commands someone else used to get their nodes up and running? The documents have errors and are unclear.

How many servers do people run the four nodes on?

Thanks to anyone that shares their steps.

[2022-07-11 08:51] eddieran commented on #631
Thanks for the reply.
Rather strangely, I've been unable to reproduce the issue at the moment, and after running my testnet for two days, everything is back to normal. It seems that the problem occurs when the network is just starting up. Do you have any thoughts or suggestions on this?
I'll come back with more information the next time we officially launch the test network.

[2022-07-11 14:21] laviniat1996 commented on #633
Hi @CryptoDevving ,
Thank you for opening this issue!

Did you use the same genesis.json file for all the nodes? Please note that it needs to be the same genesis file for each node.

[2022-07-11 15:09] CryptoDevving commented on #633
Yes I did. I copied and pasted the same one into each node instance. Each time I get the same result. I redid my server 3 times in different attempts. I tried a time where all 4 nodes were on the same server and tried a time where each of the four nodes were on a different server. All of it yielded the same thing.

This is why I asked for someone who has successfully done it to provide their exact